/*
 * State
 */

/* Debug */

#debug:checked~.page .debug-checked\:flex {
    display: flex;
}

#debug:checked~.page .debug-checked\:hidden {
    display: none;
}

/* TODO move all checked and target selectors here? */

/* Modal - Profile */

#profile:target~#page .modal__profile {
    overflow: auto;
}

#profile:target~#page .modal__profile .modal__content {
    pointer-events: auto;
}

/* Modal - Archive */

#archive:target~#page .modal__archive {
    overflow: auto;
}

#archive:target~#page .modal__archive .modal__content {
    pointer-events: auto;
}
