/* Colour palette: https://www.hsluv.org */
/* Font sizing: https://seek-oss.github.io/capsize/ */
/* SVG animation: https://shapeshifter.design/ */

:root {
    /* 210, 100, 5 */
    --cyan-full-5: #001417;
    /* 210, 100, 10 */
    --cyan-full-10: #001F24;
    /* 210, 100, 15 */
    --cyan-full-15: #002a30;
    /* 210, 100, 25 */
    --cyan-full-25: #00424b;
    /* 210, 100, 45 */
    --cyan-full-45: #007684;
    /* 210, 100, 65 */
    --cyan-full-65: #00aec2;
    /* 210, 100, 75 */
    --cyan-full-75: #00CBE2;
    /* 210, 100, 85 */
    --cyan-full-85: #4ce7ff;
    /* 210, 100, 95 */
    --cyan-full-95: #D4F7FF;
    /* 210, 75, 25 */
    --cyan-three-quarters-25: #1c4047;
    /* 210, 75, 45 */
    --cyan-three-quarters-45: #37737e;
    /* 210, 75, 65 */
    --cyan-three-quarters-65: #55aab9;
    /* 210, 75, 85 */
    --cyan-three-quarters-85: #83e2f5;
    /* 210, 75, 95 */
    --cyan-three-quarters-95: #dcf5fb;
    /* 210, 50, 25 */
    --cyan-half-25: #2A3F43;
    /* 210, 50, 45 */
    --cyan-half-45: #4e7077;
    /* 210, 50, 55 */
    --cyan-half-55: #618a93;
    /* 210, 50, 65 */
    --cyan-half-65: #75a6b0;
    /* 210, 50, 85 */
    --cyan-half-85: #a5deea;
    /* 210, 50, 90 */
    --cyan-half-90: #c6e9f1;
    /* 210, 50, 95 */
    --cyan-half-95: #e3f4f8;
    /* 210, 25, 5 */
    --cyan-quarter-5: #0e1213;
    /* 210, 25, 10 */
    --cyan-quarter-10: #171c1e;
    /* 210, 25, 15 */
    --cyan-quarter-15: #202729;
    /* 210, 25, 20 */
    --cyan-quarter-20: #2a3234;
    /* 210, 25, 25 */
    --cyan-quarter-25: #333d3f;
    /* 210, 25, 30 */
    --cyan-quarter-30: #3e494b;
    /* 210, 25, 35 */
    --cyan-quarter-35: #485558;
    /* 210, 25, 40 */
    --cyan-quarter-40: #536164;
    /* 210, 25, 45 */
    --cyan-quarter-45: #5e6d71;
    /* 210, 25, 50 */
    --cyan-quarter-50: #697a7e;
    /* 210, 25, 55 */
    --cyan-quarter-55: #74878c;
    /* 210, 25, 65 */
    --cyan-quarter-65: #8BA2A7;
    /* 210, 25, 70 */
    --cyan-quarter-70: #97afb5;
    /* 210, 25, 75 */
    --cyan-quarter-75: #a3bdc3;
    /* 210, 25, 80 */
    --cyan-quarter-80: #b0cbd2;
    /* 210, 25, 85 */
    --cyan-quarter-85: #BFD9DF;
    /* 210, 25, 90 */
    --cyan-quarter-90: #d5e5ea;
    /* 210, 25, 95 */
    --cyan-quarter-95: #eaf2f4;

    /* 260, 100, 45 */
    --blue-full-45: #005FF1;
    /* 260, 100, 55 */
    --blue-full-55: #4e7bff;
    /* 260, 100, 65 */
    --blue-full-65: #7e98ff;
    /* 260, 100, 95 */
    --blue-full-95: #EEF0FF;

    --width-xs: 480px;
    --width-sm: 640px;
    --width-md: 960px;
    --width-lg: 1280px;
    --width-xl: 1600px;
}


/* Light and dark mode */

@media (prefers-color-scheme: light) {
    :root {
        --dark-mode: no;
    }

    /* light */
    .intro {
        --background: #ffffff;
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
        --triangle: rgba(0, 203, 226, 0), rgba(0, 203, 226, 1);
        --triangle-stripe: rgba(180, 236, 248, 0), rgba(180, 236, 248, 1);
        --text-1: var(--cyan-full-10);
        --text-2: var(--cyan-quarter-30);
        --highlight: var(--blue-full-45);

        --icon-bg: var(--cyan-quarter-75);
        --icon-fg: var(--cyan-quarter-45);

        --context-border-inner: var(--cyan-quarter-95);
        --context-border-outer: var(--cyan-quarter-75);
        /* 210, 25, 70 */
        --context-bg: rgba(176, 203, 210, 0.5);

        --modal-border-inner: var(--cyan-quarter-95);
        --modal-border-outer: var(--cyan-full-75);
        /* 210, 100, 70 */
        --modal-bg: rgba(0, 188, 210, 0.45), rgba(0, 188, 210, 0.15);
        --modal-text: var(--cyan-full-5);

        --modal-icon-bg: var(--cyan-half-55);
        --modal-icon-fg: var(--cyan-half-95);
    }

    .intro__content .name div.logo span {
        background-image: url(images/logo-animated-light.svg)
    }

    /* dark */
    #mode:checked~.intro {
        --background: var(--cyan-full-5);
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
        --triangle: rgba(0, 52, 141, 0), rgba(0, 52, 141, 1);
        --triangle-stripe: rgba(0, 31, 36, 0), rgba(0, 31, 36, 1);
        --text-1: var(--cyan-full-95);
        --text-2: var(--cyan-quarter-85);
        --highlight: var(--blue-full-45);

        --icon-bg: var(--cyan-quarter-45);
        --icon-fg: var(--cyan-quarter-85);

        --context-border-inner: var(--cyan-quarter-10);
        --context-border-outer: var(--cyan-quarter-25);
        /* 210, 25, 25 */
        --context-bg: rgba(51, 61, 63, 0.5);

        --modal-border-inner: var(--cyan-quarter-10);
        --modal-border-outer: var(--cyan-full-25);
        /* 210, 100, 25 */
        --modal-bg: rgba(0, 66, 75, 0.65), rgba(0, 66, 75, 0.35);
        --modal-text: var(--cyan-full-95);

        --modal-icon-bg: var(--cyan-half-45);
        --modal-icon-fg: var(--cyan-half-85);
    }

    #mode:checked~.intro .intro__content .name div.logo span {
        background-image: url(images/logo-animated-dark.svg)
    }

    #mode:not(:checked)~.intro .intro__content .links button#menu>div label.light {
        display: none;
    }

    #mode:checked~.intro .intro__content .links button#menu>div label.dark {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --dark-mode: yes;
    }

    /* dark */
    .intro {
        --background: var(--cyan-full-5);
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
        --triangle: rgba(0, 52, 141, 0), rgba(0, 52, 141, 1);
        --triangle-stripe: rgba(0, 31, 36, 0), rgba(0, 31, 36, 1);
        --text-1: var(--cyan-full-95);
        --text-2: var(--cyan-quarter-85);
        --highlight: var(--blue-full-45);

        --icon-bg: var(--cyan-quarter-45);
        --icon-fg: var(--cyan-quarter-85);

        --context-border-inner: var(--cyan-quarter-10);
        --context-border-outer: var(--cyan-quarter-25);
        /* 210, 25, 25 */
        --context-bg: rgba(51, 61, 63, 0.5);

        --modal-border-inner: var(--cyan-quarter-10);
        --modal-border-outer: var(--cyan-full-25);
        /* 210, 100, 25 */
        --modal-bg: rgba(0, 66, 75, 0.65), rgba(0, 66, 75, 0.35);
        --modal-text: var(--cyan-full-95);

        --modal-icon-bg: var(--cyan-half-45);
        --modal-icon-fg: var(--cyan-half-85);
    }

    .intro__content .name div.logo span {
        background-image: url(images/logo-animated-dark.svg)
    }

    /* light */
    #mode:checked~.intro {
        --background: #ffffff;
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
        --triangle: rgba(0, 203, 226, 0), rgba(0, 203, 226, 1);
        --triangle-stripe: rgba(180, 236, 248, 0), rgba(180, 236, 248, 1);
        --text-1: var(--cyan-full-10);
        --text-2: var(--cyan-quarter-30);
        --highlight: var(--blue-full-45);

        --icon-bg: var(--cyan-quarter-75);
        --icon-fg: var(--cyan-quarter-45);

        --context-border-inner: var(--cyan-quarter-95);
        --context-border-outer: var(--cyan-quarter-75);
        /* 210, 25, 70 */
        --context-bg: rgba(176, 203, 210, 0.5);

        --modal-border-inner: var(--cyan-quarter-95);
        --modal-border-outer: var(--cyan-full-75);
        /* 210, 100, 70 */
        --modal-bg: rgba(0, 188, 210, 0.45), rgba(0, 188, 210, 0.15);
        --modal-text: var(--cyan-full-5);

        --modal-icon-bg: var(--cyan-half-55);
        --modal-icon-fg: var(--cyan-half-95);
    }

    #mode:checked~.intro .intro__content .name div.logo span {
        background-image: url(images/logo-animated-light.svg)
    }

    #mode:not(:checked)~.intro .intro__content .links button#menu>div label.dark {
        display: none;
    }

    #mode:checked~.intro .intro__content .links button#menu>div label.light {
        display: none;
    }

}

@media (max-width: 960px) and (prefers-color-scheme: light) {

    /* light */
    .intro {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    }

    /* dark */
    #mode:checked~.intro {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
    }
}

@media (max-width: 960px) and (prefers-color-scheme: dark) {

    /* dark */
    .intro {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
    }

    /* light */
    #mode:checked~.intro {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    }
}


/* Intro */

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    display: inline-block;
}

.intro {
    background-color: var(--background);
    min-width: 100vw;
    min-height: 100vh;
}

.intro__wrapper {
    position: relative;
    height: 100vh;
    width: var(--width-lg);
    margin: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

.intro__background {
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-position: 0% 0%;
    background-origin: border-box;
    background-image: var(--background-pattern);
}

.intro__content {
    z-index: 5;
    position: relative;
    padding-top: 240px;
    display: grid;
    grid-template-columns: 37.5% 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.intro__content .name {
    padding-left: 32px;
}

.intro__content .name h2 {
    color: var(--text-1);
    font-weight: 200;
    font-size: 68.5714px;
    line-height: 48px;
}

.intro__content .name h2::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .name h2::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content>div.specialisation>p {
    color: var(--text-1);
    font-weight: 200;
    font-size: 45.7143px;
    line-height: 64px;
    padding-top: 16px;
}

.intro__content>div.specialisation>p::before {
    content: "";
    margin-bottom: -0.375em;
    display: table;
}

.intro__content>div.specialisation>p::after {
    content: "";
    margin-top: -0.325em;
    display: table;
}

.intro__content .specialisation {
    padding-left: 64px;
}

.intro__content .availability {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro__content .availability>span {
    color: var(--text-2);
    font-size: 17.1429px;
    line-height: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    padding-left: 16px;
}

.intro__content .availability>span:nth-of-type(2)::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .availability>span:nth-of-type(2)::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content .badge {
    display: block;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    color: var(--blue-full-95);
    padding: 12px 14px;
    background-color: var(--highlight);
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 14.2857px;
    line-height: 10px;
}

.intro__content .badge::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .badge::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content .email {
    padding-top: 126px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro__content .email span {
    color: var(--text-2);
    margin-left: 12px;
    margin-right: 24px;
    font-size: 22.8571px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 1.25px;
}

.intro__content .email span::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .email span::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content .links {
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro__content .links>a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.intro__content .links>a>span {
    color: var(--text-2);
    margin-left: 12px;
    font-size: 22.8571px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 1.25px;
    border-bottom: solid 3px var(--highlight);
    padding-bottom: 6px;
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro__content .links>a>span::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .links>a>span::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content .links>a>span>svg {
    margin-left: 6px;
}

.intro__content .links button {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    outline: none;
}

.intro__content .links button:target a:first-of-type {
    display: none;
}


/* Menu */

body>input[type="checkbox"] {
    display: none;
}

.intro__content .links button#menu>div {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: var(--context-bg);
    box-shadow: inset 0 0 0 1px var(--context-border-inner);
    border: solid 1px var(--context-border-outer);
    padding: 10px 0px;
    backdrop-filter: blur(8px) grayscale(0.75);
    -webkit-backdrop-filter: blur(8px) grayscale(0.75);
    pointer-events: all;
    border-radius: 6px;
    margin-bottom: 8px;
}

.intro__content .links button:target>div {
    display: block !important;
}

.intro__content .links button#menu>div>* {
    display: block;
    white-space: nowrap;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    font-size: 17.1429px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: var(--text-2);
    box-shadow: 0 -1px 0 0 var(--context-border-inner);
    border-top: solid 1px var(--context-border-outer);
}

.intro__content .links button#menu>div>*>span {
    margin-left: 10px;
}

.intro__content .links button>a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.intro__content .links button#menu>div>*:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    box-shadow: none;
}

.intro__content .links button#menu>div>*::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .links button#menu>div>*::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content .links button>span {
    color: var(--text-2);
    margin-left: 10px;
    font-size: 22.8571px;
    line-height: 16px;
    font-weight: 300;
    letter-spacing: 1.25px;
    border-bottom: solid 3px transparent;
    padding-bottom: 6px;
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro__content .links button>span::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__content .links button>span::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__content .links button>span>img {
    margin-left: 6px;
}


/* Modal */

.intro__wrapper div#whois {
    display: none;
    position: absolute;
    top: 120px;
    left: 0;
    right: 96px;
    bottom: 24px;
    box-shadow: inset 0 0 0 1px var(--modal-border-inner);
    background: linear-gradient(to top right, var(--modal-bg));
    backdrop-filter: blur(20px) grayscale(0.75);
    -webkit-backdrop-filter: blur(20px) grayscale(0.75);
    pointer-events: all;
    z-index: 10;
    border-radius: 8px 32px 8px 8px;
    border: solid 1px var(--modal-border-outer);
}

.intro__wrapper div:target,
.intro__wrapper div:target~.intro__content .links button#menu>div {
    display: block !important;
}

.intro__wrapper div#whois a.close {
    position: absolute;
    top: 16px;
    right: 16px;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.intro__wrapper div#whois a.close svg {
    width: 100%;
    height: 100%;
}

.intro__wrapper div#whois .information dl {
    padding: 0;
    list-style: none;
    color: var(--modal-text);
}

.intro__wrapper div#whois .information dl div {
    padding-top: 48px;
    padding-left: 48px;
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 0px;
}

.intro__wrapper div#whois .information dl div a {
    height: 12px;
    display: inline-flex;
    align-items: center;
}

.intro__wrapper div#whois .information dl div img {
    height: 15px;
    margin-left: 8px;
}

.intro__wrapper div#whois .information dl div dt {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 12.8571px;
    line-height: 9px;
    padding-top: 2.75px;
    padding-bottom: 0.25px;
}

.intro__wrapper div#whois .information dl div dt::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__wrapper div#whois .information dl div dt::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.intro__wrapper div#whois .information dl div dd {
    grid-column: span 2 / span 2;
    font-size: 17.1429px;
    line-height: 12px;
}

.intro__wrapper div#whois .information dl div dd::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.intro__wrapper div#whois .information dl div dd::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}


/* Logo animation */

@keyframes logoAnimation {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -1200px 0px;
    }
}

.intro__content .name div.logo {
    padding: 20px;
    margin: 324px 0px 0px -20px;
    display: inline-block;
    align-self: flex-start;
}

.intro__content .name div.logo span {
    animation-name: logoAnimation;
    animation-duration: 500ms;
    animation-timing-function: steps(30);
    animation-fill-mode: forwards;
    animation-play-state: paused;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    display: block;
}

.intro__content .name div.logo:hover span {
    animation-play-state: running;
}


/* Side background shapes */

#triangle-left,
#triangle-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}


#triangle-left::before {
    content: '';
    position: absolute;
    left: 50vh;
    top: 0;
    height: calc(70.710678118655vh + 16vh);
    width: 8vh;
    transform: rotate(45deg) translateY(-8vh);
    transform-origin: top left;
    background-image: linear-gradient(to top, var(--triangle-stripe));
}

#triangle-left::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: url(images/triangle-left-upper.svg);
    background-size: 100% 100%;
    background-position: left;
    width: 70.710678118655vh;
    height: 70.710678118655vh;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-image: linear-gradient(to top, var(--triangle));
}

#triangle-right::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 70.710678118655vh;
    width: 8vh;
    transform: rotate(45deg);
    transform-origin: top right;
    background-image: linear-gradient(to top, var(--triangle-stripe));
}


#triangle-right::after {
    content: '';
    position: absolute;
    top: 14.6446609406725vh;
    right: 0;
    height: 70.710678118655vh;
    width: 70.710678118655vh;
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    background-image: linear-gradient(to top, var(--triangle));
}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip .tooltip__content {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 4px;
    background: var(--context-bg);
    color: var(--text-2);
    text-align: center;
    display: none;
    box-shadow: inset 0 0 0 1px var(--context-border-inner);
    border: solid 1px var(--context-border-outer);
    backdrop-filter: blur(6px) grayscale(0.75);
    -webkit-backdrop-filter: blur(6px) grayscale(0.75);
    pointer-events: none;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 0.375px;
    font-size: 15.7143px;
    line-height: 11px;
}

.tooltip__content::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.tooltip__content::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.tooltip:hover .tooltip__content {
    display: block;
}




/* Desktop-first media queries */

/* xs: 480, sm: 640, md: 960, lg: 1280, xl: 1600 */

@media (max-height: 720px) {
    /*  */

    .intro__content {
        padding-top: 176px;
    }

    .intro__wrapper div#whois {
        top: 88px;
    }
}

@media (max-width: 1600px) {
    /* rules here apply to devices from 1600px and lower */

}

@media (max-width: 1280px) {
    /* rules here apply to devices from 1280px and lower */

    /* .intro__wrapper {
        width: var(--width-md);
    } */

    #triangle-left,
    #triangle-right {
        display: none;
    }

    .intro__content .specialisation {
        padding-left: 0px;
    }

    .intro__content {
        padding-top: 176px;
    }

}

@media (max-width: 960px) {
    /* rules here apply to devices from 960px and lower */

    /* .intro__wrapper {
        width: var(--width-sm);
    } */

    .intro__wrapper {
        width: auto;
        height: auto;
    }

    .intro__content .name {
        padding-left: 24px;
        display: flex;
        flex-direction: column-reverse;
    }

    .intro__content .name div.logo {
        margin: 4px 0px 84px -20px;
    }

    .intro__content>div.specialisation>p {
        padding-top: 64px;
    }

    .intro__content .specialisation {
        padding-left: 24px;
    }

    .intro__content {
        padding-top: 0px;
        grid-template-columns: auto;
    }

    .intro__content .availability {
        padding-top: 45px;
    }

    .intro__wrapper div#whois {
        top: 16px;
        left: 16px;
        right: 16px;
        bottom: 16px;
    }

    .intro__wrapper div#whois .information dl div {
        padding-top: 20px;
        margin-bottom: 14px;
        grid-template-columns: 1fr;
        row-gap: 14px;
    }

    .intro__wrapper div#whois .information dl div:first-child {
        padding-top: 48px;
    }
}

@media (max-width: 640px) {
    /* rules here apply to devices from 640px and lower */

    /* .intro__wrapper {
        width: var(--width-xs);
    } */

    .intro__content .links {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .intro__content .links>a,
    .intro__content .links>button {
        margin-top: 16px;
    }

    .intro__content .email {
        padding-top: 63px;
    }

}

@media (max-width: 480px) {
    /* rules here apply to devices from 480px and lower */

    .intro__wrapper {
        width: var(--width-xs);
    }

}


/* https://bubblin.io/blog/notch */
@supports(padding:max(0px)) {

    body,
    header,
    footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right));
    }
}