body {
    --animate-in-segment: 0.15s;
    --animate-out-segment: 0.1s;
    --delay-segment: 0.4s;

    --animate-in-segment-2\/3: calc(var(--animate-in-segment) * (2/3));
    --animate-out-segment-2\/3: calc(var(--animate-out-segment) * (2/3));
    --delay-segment-2\/3: calc(var(--delay-segment) * (2/3));

    --delay-segment-1\/3: calc(var(--delay-segment) * (1/3));

    --ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
    --ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
    --ease-in-out-quad: cubic-bezier(0.11, 0, 0.5, 0);

    --ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
    --ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
    --ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in-circ: cubic-bezier(0.55, 0, 1, 0.45);
    --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
    --ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
    --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);
    --ease-in-expo: cubic-bezier(0.7, 0, 0.84, 0);
    --ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);
}

.noanimation {
    animation: none !important;
}


/* Intro */

.animate-fade-in-name > span,
.animate-fade-in-title > span,
.animate-fade-in-cta-1,
.animate-fade-in-cta-2,
.animate-fade-in-logo,
.animate-fade-in-triangle::after {
    animation-name: fade-in;
    animation-fill-mode: backwards;
    animation-duration: 2.5s;
    animation-timing-function: var(--ease-out-quad);
}

.animate-fade-in-name span {
    animation-delay: calc(0.3s + var(--i) * 15ms);
}

.animate-fade-in-title span {
    animation-delay: calc(0.3s + var(--delay-segment) + var(--i) * 15ms);
}

.animate-fade-in-cta-1 {
    animation-duration: 1.5s;
    animation-delay: calc((var(--delay-segment) * 5) + 0.1s);
}

.animate-fade-in-cta-2 {
    animation-duration: 1s;
    animation-delay: calc((var(--delay-segment) * 7) + 0.1s);
}

.animate-fade-in-logo {
    animation-duration: 1.5s;
    animation-delay: calc((var(--delay-segment) * 9) + 0.1s);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    99.9% {
        pointer-events: none;
    }

    100% {
        opacity: 1;
        pointer-events: auto;
    }
}


/* Triangle - Flicker */

.animate-flicker-triangle-light::after,
.animate-flicker-triangle-shadow::after {
    animation-duration: calc(var(--delay-segment) * 24);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-segment) * 10 + 0.1s);
}

.animate-flicker-triangle-light::after {
    animation-name: flicker-light;
}

.animate-flicker-triangle-shadow::after {
    animation-name: flicker-shadow;
}

#profile:target~#page .animate-flicker-triangle-light::after,
#archive:target~#page .animate-flicker-triangle-light::after {
    animation: none;
}

#profile:target~#page .animate-flicker-triangle-shadow::after,
#archive:target~#page .animate-flicker-triangle-shadow::after {
    animation: none;
}

@keyframes flicker-light {
    0%, 19.999%, 21%, 22.999%, 24%, 31.999%, 40%, 100% {
        opacity: 0;
    }

        20%, 20.999%, 23%, 23.999%, 32%, 39.999% {
        opacity: 1;
    }
}

@keyframes flicker-shadow {
    0%, 19.999%, 21%, 22.999%, 24%, 31.999%, 40%, 100% {
        opacity: 1;
    }

    20%, 20.999%, 23%, 23.999%, 32%, 39.999% {
        opacity: 0;
    }
}


/* Universal Text Higlight */

.highlight {
    transition: color calc(2 * var(--animate-out-segment)) var(--ease-in-quad) var(--delay-segment);
}

.highlight.active, .highlight-hover.active {
    color: var(--highlight-primary) !important;
    transition: color calc(2 * var(--animate-in-segment)) var(--ease-out-quad) !important;
}

.highlight-hover:hover {
    transition: color calc(2 * var(--animate-in-segment)) var(--ease-in-quad) var(--delay-segment) !important;
}

.highlight-hover.active:hover {
    transition: color calc(2 * var(--animate-in-segment)) var(--ease-out-quad) !important;
}


/* Intro - Title Text Highlight */

.animate-fade-in-title span.highlight,
.animate-fade-in-title span.highlight-alt {
    animation-fill-mode: both;
    animation-duration: 2.25s, 1s;
    animation-timing-function: var(--ease-out-quad);
    animation-delay: calc(0.3s + var(--delay-segment) + var(--i) * 15ms), calc(0.3s + (var(--delay-segment) * 2) + var(--i) * 10ms);
}

.animate-fade-in-title span.highlight {
    animation-name: fade-in, de-highlight;
}

@keyframes de-highlight {
    0% {
        color: var(--highlight-primary);
    }

    100% {
        color: var(--text-1);
    }
}

.animate-fade-in-title span.highlight-alt {
    animation-name: fade-in, de-highlight-alt;
}

@keyframes de-highlight-alt {
    0% {
        color: var(--yellow);
    }

    100% {
        color: var(--text-1);
    }
}


/* Face icon animation */

body {
    --face-icon-sequence-default: path("M14.917,24C14.277,24 13.743,23.785 13.312,23.354C12.882,22.924 12.667,22.389 12.667,21.75C12.667,21.111 12.889,20.577 13.333,20.146C13.778,19.716 14.319,19.5 14.958,19.5C15.598,19.5 16.125,19.715 16.542,20.146C16.959,20.576 17.167,21.111 17.167,21.75C17.167,22.389 16.952,22.923 16.521,23.354C16.091,23.784 15.556,24 14.917,24ZM25.083,24C24.444,24 23.91,23.785 23.479,23.354C23.049,22.924 22.833,22.389 22.833,21.75C22.833,21.111 23.048,20.577 23.479,20.146C23.909,19.716 24.444,19.5 25.083,19.5C25.723,19.5 26.264,19.715 26.708,20.146C27.153,20.576 27.375,21.111 27.375,21.75C27.375,22.389 27.153,22.923 26.708,23.354C26.276,23.779 25.689,24.013 25.083,24ZM20,33.667C23.805,33.667 27.035,32.341 29.688,29.688C32.341,27.035 33.667,23.805 33.667,20C33.667,19.305 33.618,18.632 33.521,17.979C33.433,17.363 33.286,16.756 33.083,16.167C32.508,16.309 31.923,16.407 31.333,16.458C30.723,16.514 30.083,16.542 29.417,16.542C26.806,16.542 24.347,16.007 22.042,14.938C19.744,13.874 17.72,12.299 16.125,10.333C15.227,12.473 13.893,14.403 12.208,16C10.519,17.608 8.539,18.881 6.375,19.75L6.375,20.042C6.375,23.847 7.695,27.069 10.333,29.708C12.973,32.348 16.195,33.667 20,33.667ZM20.042,37.333C17.625,37.333 15.368,36.875 13.271,35.958C11.174,35.041 9.341,33.805 7.771,32.25C6.201,30.695 4.959,28.861 4.042,26.75C3.125,24.639 2.667,22.389 2.667,20C2.667,17.611 3.125,15.361 4.042,13.25C4.959,11.139 6.202,9.305 7.771,7.75C9.341,6.195 11.174,4.959 13.271,4.042C15.368,3.125 17.625,2.667 20.042,2.667C22.431,2.667 24.674,3.125 26.771,4.042C28.868,4.959 30.701,6.195 32.271,7.75C33.841,9.305 35.076,11.139 35.979,13.25C36.882,15.361 37.333,17.611 37.333,20C37.333,22.389 36.882,24.639 35.979,26.75C35.076,28.861 33.84,30.702 32.271,32.271C30.701,33.841 28.861,35.076 26.75,35.979C24.639,36.882 22.403,37.333 20.042,37.333Z");
    --face-icon-sequence-blink: path("M14.917,22.75C14.277,22.75 13.743,22.654 13.312,22.463C12.882,22.272 12.667,22.034 12.667,21.75C12.667,21.466 12.889,21.229 13.333,21.037C13.778,20.846 14.319,20.75 14.958,20.75C15.598,20.75 16.125,20.846 16.542,21.037C16.959,21.228 17.167,21.466 17.167,21.75C17.167,22.034 16.952,22.271 16.521,22.463C16.091,22.654 15.556,22.75 14.917,22.75ZM25.083,22.75C24.444,22.75 23.91,22.654 23.479,22.463C23.049,22.272 22.833,22.034 22.833,21.75C22.833,21.466 23.048,21.229 23.479,21.037C23.909,20.846 24.444,20.75 25.083,20.75C25.723,20.75 26.264,20.846 26.708,21.037C27.153,21.228 27.375,21.466 27.375,21.75C27.375,22.034 27.153,22.271 26.708,22.463C26.276,22.652 25.689,22.756 25.083,22.75ZM20,33.667C23.805,33.667 27.035,32.341 29.688,29.688C32.341,27.035 33.667,23.805 33.667,20C33.667,19.305 33.618,18.632 33.521,17.979C33.433,17.363 33.286,16.756 33.083,16.167C32.508,16.309 31.923,16.407 31.333,16.458C30.723,16.514 30.083,16.542 29.417,16.542C26.806,16.542 24.347,16.007 22.042,14.938C19.744,13.874 17.72,12.299 16.125,10.333C15.227,12.473 13.893,14.403 12.208,16C10.519,17.608 8.539,18.881 6.375,19.75L6.375,20.042C6.375,23.847 7.695,27.069 10.333,29.708C12.973,32.348 16.195,33.667 20,33.667ZM20.042,37.333C17.625,37.333 15.368,36.875 13.271,35.958C11.174,35.041 9.341,33.805 7.771,32.25C6.201,30.695 4.959,28.861 4.042,26.75C3.125,24.639 2.667,22.389 2.667,20C2.667,17.611 3.125,15.361 4.042,13.25C4.959,11.139 6.202,9.305 7.771,7.75C9.341,6.195 11.174,4.959 13.271,4.042C15.368,3.125 17.625,2.667 20.042,2.667C22.431,2.667 24.674,3.125 26.771,4.042C28.868,4.959 30.701,6.195 32.271,7.75C33.841,9.305 35.076,11.139 35.979,13.25C36.882,15.361 37.333,17.611 37.333,20C37.333,22.389 36.882,24.639 35.979,26.75C35.076,28.861 33.84,30.702 32.271,32.271C30.701,33.841 28.861,35.076 26.75,35.979C24.639,36.882 22.403,37.333 20.042,37.333Z");
    --face-icon-sequence-wink: path("M14.917,24C14.277,24 13.743,23.785 13.312,23.354C12.882,22.924 12.667,22.389 12.667,21.75C12.667,21.111 12.889,20.577 13.333,20.146C13.778,19.716 14.319,19.5 14.958,19.5C15.598,19.5 16.125,19.715 16.542,20.146C16.959,20.576 17.167,21.111 17.167,21.75C17.167,22.389 16.952,22.923 16.521,23.354C16.091,23.784 15.556,24 14.917,24ZM25.083,22.75C24.444,22.75 23.91,22.654 23.479,22.463C23.049,22.272 22.833,22.034 22.833,21.75C22.833,21.466 23.048,21.229 23.479,21.037C23.909,20.846 24.444,20.75 25.083,20.75C25.723,20.75 26.264,20.846 26.708,21.037C27.153,21.228 27.375,21.466 27.375,21.75C27.375,22.034 27.153,22.271 26.708,22.463C26.276,22.652 25.689,22.756 25.083,22.75ZM20,33.667C23.805,33.667 27.035,32.341 29.688,29.688C32.341,27.035 33.667,23.805 33.667,20C33.667,19.305 33.618,18.632 33.521,17.979C33.433,17.363 33.286,16.756 33.083,16.167C32.508,16.309 31.923,16.407 31.333,16.458C30.723,16.514 30.083,16.542 29.417,16.542C26.806,16.542 24.347,16.007 22.042,14.938C19.744,13.874 17.72,12.299 16.125,10.333C15.227,12.473 13.893,14.403 12.208,16C10.519,17.608 8.539,18.881 6.375,19.75L6.375,20.042C6.375,23.847 7.695,27.069 10.333,29.708C12.973,32.348 16.195,33.667 20,33.667ZM20.042,37.333C17.625,37.333 15.368,36.875 13.271,35.958C11.174,35.041 9.341,33.805 7.771,32.25C6.201,30.695 4.959,28.861 4.042,26.75C3.125,24.639 2.667,22.389 2.667,20C2.667,17.611 3.125,15.361 4.042,13.25C4.959,11.139 6.202,9.305 7.771,7.75C9.341,6.195 11.174,4.959 13.271,4.042C15.368,3.125 17.625,2.667 20.042,2.667C22.431,2.667 24.674,3.125 26.771,4.042C28.868,4.959 30.701,6.195 32.271,7.75C33.841,9.305 35.076,11.139 35.979,13.25C36.882,15.361 37.333,17.611 37.333,20C37.333,22.389 36.882,24.639 35.979,26.75C35.076,28.861 33.84,30.702 32.271,32.271C30.701,33.841 28.861,35.076 26.75,35.979C24.639,36.882 22.403,37.333 20.042,37.333Z");
}

svg.animate-face-icon path {
    will-change: d;
    animation-name: face-icon-animation;
    animation-fill-mode: both;
    animation-duration: calc(var(--delay-segment) * 24);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-segment) * 10 + 0.1s);
}

@keyframes face-icon-animation {
    0% {
        d: var(--face-icon-sequence-default);
    }

    25% {
        d: var(--face-icon-sequence-default);
    }

    27.5% {
        d: var(--face-icon-sequence-blink);
    }

    30% {
        d: var(--face-icon-sequence-default);
    }

    32.5% {
        d: var(--face-icon-sequence-blink);
    }

    35% {
        d: var(--face-icon-sequence-default);
    }

    95% {
        d: var(--face-icon-sequence-default);
    }

    97.5% {
        d: var(--face-icon-sequence-wink);
    }

    100% {
        d: var(--face-icon-sequence-default);
    }
}


/* Availability */

#availability_button_dot::before {
    transition: opacity calc(2 * var(--animate-out-segment)) var(--ease-out-quad), transform calc(2 * var(--animate-out-segment)) var(--ease-out-quad);
    transform-origin: center;
    z-index: -1;
}

#availability_button a:hover #availability_button_dot::before {
    transition: opacity calc(2 * var(--animate-in-segment)) var(--ease-in-quad), transform calc(2 * var(--animate-in-segment)) var(--ease-in-quad);
    transform: scale(115);
}

#availability_button_dot {
    transition: color var(--animate-out-segment) linear;
}

#availability_button a:hover #availability_button_dot::after {
    transition: background-color var(--animate-in-segment) linear var(--animate-in-segment);
    background-color: var(--cyan-full-5);
}

#availability_button_text {
    transition: color var(--animate-out-segment) linear;
}

#availability_button a:hover #availability_button_text {
    transition: color var(--animate-in-segment) linear var(--animate-in-segment);
    color: var(--cyan-full-5);
}


/* Intro Links */

#menu_links>a {
    transition: background-color var(--animate-out-segment-2\/3) linear;
}

#menu_links>a:hover {
    transition: background-color var(--animate-in-segment-2\/3) linear;
    background-color: var(--highlight-secondary);
}

#menu_links>a[href="#profile"]:hover {
    background-color: var(--highlight-primary);
}

#menu_links>a svg, #menu_email_button svg {
    transition: color var(--animate-out-segment-2\/3) linear;
    color: var(--icon);
}

#menu_links>a:hover svg, #menu_email_button:hover svg {
    transition: color var(--animate-in-segment-2\/3) linear;
    color: var(--icon-hover);
}

#menu_links>a span.button-label, #menu_email_button span.button-label {
    transition: color var(--animate-out-segment-2\/3) linear;
    color: var(--text-2);
}

#menu_links>a:hover span.button-label, #menu_email_button:hover span.button-label {
    transition: color var(--animate-in-segment-2\/3) linear;
    color: var(--text-1);
}

#menu_links>a span.button-label u {
    transition: text-decoration var(--animate-out-segment-2\/3) linear;
}

#menu_links>a:hover span.button-label u {
    transition: text-decoration var(--animate-in-segment-2\/3) linear;
    text-decoration-color: var(--text-2) !important;
}

/* #menu_links>a::before, #menu_button::before {
    transition: opacity var(--animate-out-segment-2\/3) linear, transform var(--animate-out-segment-2\/3) var(--ease-in-quad);
    content: '';
    opacity: 0;
    transform: scale(0.9);
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--context-bg);
    border-radius: 999rem;
    backdrop-filter: blur(0.125rem);
}

#menu_links>a:hover::before, #menu>a:hover~#menu_button::before {
    transition: opacity var(--animate-in-segment-2\/3) linear, transform var(--animate-in-segment-2\/3) var(--ease-out-quad);
    opacity: 1 !important;
    transform: scale(1.2) !important;
}

#menu_links>a:focus::before, #menu_links #menu>a:focus~#menu_button::before {
    transition: opacity var(--animate-in-segment-2\/3) linear, transform var(--animate-in-segment-2\/3) var(--ease-out-quad);
    opacity: 0.75;
    transform: scale(1.1);
} */


/* Menu Button */

#menu_button {
    transition: color var(--animate-out-segment-2\/3) linear, background-color var(--animate-out-segment-2\/3) linear;
    color: var(--icon);
}

#menu_button_wrapper:hover #menu_button, #menu:target #menu_button {
    transition: color var(--animate-in-segment-2\/3) linear,  background-color var(--animate-in-segment-2\/3) linear;
    color: var(--icon-hover);
    background-color: var(--highlight-secondary);
}

#menu_button span {
    background-color: currentColor;
    will-change: transform;
    animation-fill-mode: both;
    animation-name: initial;
}

#menu_button span:nth-child(1) {
    animation-duration: calc((var(--animate-in-segment) * 3));
    animation-name: menu-top-left-reverse
}

#menu:target #menu_button span:nth-child(1) {
    animation-duration: calc((var(--animate-out-segment) * 3));
    animation-name: menu-top-left;
}

#menu_button span:nth-child(2) {
    animation-duration: calc((var(--animate-in-segment) * 3));
    animation-name: menu-top-right-reverse;
}

#menu:target #menu_button span:nth-child(2) {
    animation-duration: calc((var(--animate-out-segment) * 3));
    animation-name: menu-top-right;
}

#menu_button span:nth-child(3) {
    animation-duration: calc((var(--animate-in-segment) * 3));
    animation-name: menu-bottom-left-reverse;
}

#menu:target #menu_button span:nth-child(3) {
    animation-duration: calc((var(--animate-out-segment) * 3));
    animation-name: menu-bottom-left;
}

#menu_button span:nth-child(4) {
    animation-duration: calc((var(--animate-in-segment) * 3));
    animation-name: menu-bottom-right-reverse;
}

#menu:target #menu_button span:nth-child(4) {
    animation-duration: calc((var(--animate-out-segment) * 3));
    animation-name: menu-bottom-right;
}

@keyframes initial {}

@keyframes menu-top-left {
    0% {
        transform: translate(0rem, 0rem);
        animation-timing-function: var(--ease-in-quad);
    }
    45%, 55% {
        transform: translate(var(--menu-icon-radius), var(--menu-icon-radius));
    }
    100% {
        transform: translate(var(--menu-icon-radius), calc(-1 * ((1.5 * var(--menu-icon-gap-between)) - (0.5 * var(--menu-icon-gap)) + var(--menu-icon-bit-size))));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-top-left-reverse {
    0% {
        transform: translate(var(--menu-icon-radius), calc(-1 * ((1.5 * var(--menu-icon-gap-between)) - (0.5 * var(--menu-icon-gap)) + var(--menu-icon-bit-size)))) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }
    45% {
        transform: translate(var(--menu-icon-radius), calc(-1 * ((1.5 * var(--menu-icon-gap-between)) - (0.5 * var(--menu-icon-gap)) + var(--menu-icon-bit-size)))) scale(0);
    }
    55% {
        transform: translate(0rem, 0rem) scale(0);
    }
    100% {
        transform: translate(0rem, 0rem) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-top-right {
    0% {
        transform: translate(0rem, 0rem);
        animation-timing-function: var(--ease-in-quad);
    }
    45%, 55% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), var(--menu-icon-radius));
    }
    100% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * ((0.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))))));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-top-right-reverse {
    0% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * ((0.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap)))))) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }
    45% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * ((0.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap)))))) scale(0);
    }
    55% {
        transform: translate(0rem, 0rem) scale(0);
    }
    100% {
        transform: translate(0rem, 0rem) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-left {
    0% {
        transform: translate(0rem, 0rem);
        animation-timing-function: var(--ease-in-quad);
    }
    45%, 55% {
        transform: translate(var(--menu-icon-radius), calc(-1 * var(--menu-icon-radius)));
    }
    100% {
        transform: translate(var(--menu-icon-radius), calc((0.5 * (var(--menu-icon-gap-between))) - (0.5 * (var(--menu-icon-gap)))));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-left-reverse {
    0% {
        transform: translate(var(--menu-icon-radius), calc((0.5 * (var(--menu-icon-gap-between))) - (0.5 * (var(--menu-icon-gap))))) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }
    45% {
        transform: translate(var(--menu-icon-radius), calc((0.5 * (var(--menu-icon-gap-between))) - (0.5 * (var(--menu-icon-gap))))) scale(0);
    }
    55% {
        transform: translate(0rem, 0rem) scale(0);
    }
    100% {
        transform: translate(0rem, 0rem) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-right {
    0% {
        transform: translate(0rem, 0rem);
        animation-timing-function: var(--ease-in-quad);
    }
    45%, 55% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * var(--menu-icon-radius)));
    }
    100% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc((1.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))) + var(--menu-icon-bit-size)));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-right-reverse {
    0% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc((1.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))) + var(--menu-icon-bit-size))) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
    45% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc((1.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))) + var(--menu-icon-bit-size))) scale(0);
    }
    55% {
        transform: translate(0rem, 0rem) scale(0);
    }
    100% {
        transform: translate(0rem, 0rem) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }
}


/* #menu_icon--close,
#menu_icon--open {
    color: var(--icon);
}

#menu>a:hover~#menu_button #menu_icon--close,
#menu>a:hover~#menu_button #menu_icon--open {
    color: var(--text-1);
}

#menu_icon--close {
    transition: opacity var(--animate-out-segment-2\/3) linear, transform var(--animate-out-segment-2\/3) var(--ease-in-quad), color var(--animate-out-segment-2\/3) linear, visibility 0s var(--animate-out-segment-2\/3);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.75);
}

#menu:target #menu_icon--close {
    transition: opacity var(--animate-in-segment-2\/3) linear, transform var(--animate-in-segment-2\/3) var(--ease-out-quad), color var(--animate-in-segment-2\/3) linear;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

#menu_icon--open {
    transition: opacity var(--animate-in-segment-2\/3) linear, transform var(--animate-in-segment-2\/3) var(--ease-out-quad), color var(--animate-in-segment-2\/3) linear;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

#menu:target #menu_icon--open {
    transition: opacity var(--animate-out-segment-2\/3) linear, transform var(--animate-out-segment-2\/3) var(--ease-in-quad), color var(--animate-out-segment-2\/3) linear, visibility 0s var(--animate-out-segment-2\/3);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.75);
} */


/* Menu Dropdown */

#menu_dropdown {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.25rem);
    transition: opacity calc(1.25 * var(--animate-out-segment)) var(--ease-in-quad), transform calc(1.25 * var(--animate-out-segment)) var(--ease-in-quad), visibility 0s calc(1.25 * var(--animate-out-segment));
}

@media (min-width: 45rem) {
    #menu_dropdown {
        transform: translateX(-0.25rem);
    }
}

#menu:target #menu_dropdown {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
    transform: translate(0);
    transition: opacity calc(1.25 * var(--animate-in-segment)) var(--ease-out-quad), transform calc(1.25 * var(--animate-in-segment)) var(--ease-out-quad);
}

#menu_dropdown a:first-child:before {
    border-radius: 0.1875rem 0.1875rem 0.09375rem 0.09375rem;
}

#menu_dropdown label:last-child:before {
    border-radius: 0.09375rem 0.09375rem 0.1875rem 0.1875rem;
}

#menu_dropdown a::before,
#menu_dropdown label::before {
    transition: opacity var(--animate-out-segment-2\/3) linear, inset var(--animate-out-segment-2\/3) var(--ease-in-quad);
    content: '';
    opacity: 0;
    /* transform: scale(0.9); */
    position: absolute;
    inset: 0.5625rem 0.625rem 0.625rem 0.625rem;
    /* inset: 0.1875rem 0.25rem 0.25rem 0.25rem; */
    z-index: 0;
    background-color: var(--highlight-secondary);
    border-radius: 0.09375rem;
    /* backdrop-filter: blur(0.125rem); */
}

#menu_dropdown a:hover::before,
#menu_dropdown label:hover::before {
    transition: opacity var(--animate-in-segment-2\/3) linear, inset var(--animate-in-segment-2\/3) var(--ease-out-quad);
    opacity: 1;
    inset: 0.1875rem 0.25rem 0.25rem 0.25rem;
    /* transform: scale(1); */
}

#menu_dropdown a:focus::before,
#menu_dropdown label:focus::before {
    transition: opacity var(--animate-in-segment-2\/3) linear, inset var(--animate-in-segment-2\/3) var(--ease-out-quad);
    opacity: 0.75;
    inset: 0.375rem 0.4375rem 0.4375rem 0.4375rem;
}

#menu_dropdown a span,
#menu_dropdown label span {
    transition: color var(--animate-out-segment-2\/3) linear;
    z-index: 1;
}

#menu_dropdown a:hover span,
#menu_dropdown label:hover span {
    transition: color var(--animate-in-segment-2\/3) linear;
}

#menu_dropdown a svg,
#menu_dropdown label svg {
    transition: color var(--animate-out-segment-2\/3) linear;
    color: var(--icon);
    z-index: 1;
}

#menu_dropdown a:hover svg,
#menu_dropdown label:hover svg {
    transition: color var(--animate-out-segment-2\/3) linear, background-color var(--animate-out-segment-2\/3) linear;
    color: var(--icon-hover);
}

#menu_dropdown label#menu_dropdown_light-mode:hover span,
#menu_dropdown label#menu_dropdown_light-mode:hover svg {
    color: var(--cyan-full-10);
}

#menu_dropdown label#menu_dropdown_light-mode::before {
    background-color: var(--yellow);
}

#menu_dropdown label#menu_dropdown_debug::before {
    background-color: var(--highlight-primary);
}


/* Modals */

.modal .modal_content {
    visibility: hidden;
}

#modal_profile .modal_content,
#modal_archive .modal_content {
    transition: opacity var(--animate-out-segment) linear, transform var(--animate-out-segment) var(--ease-in-quad), visibility 0s var(--animate-out-segment);
    transform: scale(1.05);
    transform-origin: top;
}

#profile:target~#page #modal_profile .modal_content,
#archive:target~#page #modal_archive .modal_content {
    visibility: visible;
    transition: opacity var(--animate-in-segment) linear, transform var(--animate-in-segment) var(--ease-out-quad);
    opacity: 1;
    transform: scale(1);
}

#intro_left-column, #intro_right-column {
    transition: transform var(--animate-out-segment) var(--ease-in-quad);
    transform-origin: top;
}

#profile:target~#page #intro_left-column,
#profile:target~#page #intro_right-column,
#archive:target~#page #intro_left-column,
#archive:target~#page #intro_right-column {
    transition: transform var(--animate-in-segment) var(--ease-out-quad);
    transform: scale(0.95);
}


/* Modals - Close Button */

#modal_button-close, #modal_button-close svg {
    transition: color var(--animate-out-segment-2\/3) linear, background-color var(--animate-out-segment-2\/3) linear, border var(--animate-out-segment-2\/3) linear;
}

#modal_button-close:hover {
    transition: color var(--animate-in-segment-2\/3) linear, background-color var(--animate-in-segment-2\/3) linear, border var(--animate-in-segment-2\/3) linear;
    color: var(--modal-icon-hover);
    background-color: var(--highlight-secondary);
    /* border-color: var(--modal-icon-hover); */
}

#modal_button-close:hover svg {
    color: var(--modal-icon-hover);
}


/* Underlay */

#underlay_menu,
#underlay_modal {
    opacity: 0;
    transition: opacity var(--animate-out-segment) linear;
}

#underlay_menu {
    backdrop-filter: blur(0.125rem);
    -webkit-backdrop-filter: blur(0.125rem);
}

#underlay_modal {
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

#debug:not(:checked)~#page div:target #underlay_menu {
    pointer-events: auto;
    opacity: 1;
    transition: opacity var(--animate-in-segment) linear;
}

#debug:not(:checked)~#profile:target~#page #underlay_modal,
#debug:not(:checked)~#archive:target~#page #underlay_modal {
    pointer-events: auto;
    opacity: 1;
    transition: opacity var(--animate-in-segment) linear;
}
