/*
 * Animation
 */

body {
    --animate-in-segment: 0.15s;
    --animate-out-segment: 0.1s;
    --anim-segment: 0.4s;

    --animate-in-segment-2\/3: calc(var(--animate-in-segment) * (2/3));
    --animate-out-segment-2\/3: calc(var(--animate-out-segment) * (2/3));
    --anim-segment-2\/3: calc(var(--anim-segment) * (2/3));

    --anim-segment-1\/3: calc(var(--anim-segment) * (1/3));

    --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.quick-animation {
    animation: none !important;
}


/* Intro - Footer - Rectangle */

#rectangle {
    background-size: 200% 100%;
    mask-size: 200% 100%;
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.011) 8.6%, rgba(0, 0, 0, 0.032) 16.29%, rgba(0, 0, 0, 0.063) 23.22%, rgba(0, 0, 0, 0.103) 29.53%, rgba(0, 0, 0, 0.151) 35.37%, rgba(0, 0, 0, 0.208) 40.89%, rgba(0, 0, 0, 0.272) 46.23%, rgba(0, 0, 0, 0.343) 50%, rgba(0, 0, 0, 0.272) 53.77%, rgba(0, 0, 0, 0.208) 59.11%, rgba(0, 0, 0, 0.151) 64.63%, rgba(0, 0, 0, 0.103) 70.47%, rgba(0, 0, 0, 0.063) 76.78%, rgba(0, 0, 0, 0.032) 83.71%, rgba(0, 0, 0, 0.011) 91.4%, rgba(0, 0, 0, 0) 100%);
    animation-name: fade-in-opacity, rectangle-bg-animate-init, rectangle-mask-animate, rectangle-bg-animate;
    animation-fill-mode: backwards, both, forwards, both;
    animation-duration: calc(var(--anim-segment) * 6), calc(var(--anim-segment) * 12), calc(var(--anim-segment) * 3), 120s;
    animation-timing-function: var(--ease-out-quad), linear, linear, linear;
    animation-delay: 0, 0, calc(var(--anim-segment) * 3), calc(var(--anim-segment) * 10);
    animation-direction: normal;
    animation-iteration-count: 1, 1, 1, infinite;
    animation-composition: replace, replace, replace, accumulate;
}

@keyframes rectangle-bg-animate-init {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 5% 0%;
    }
}

@keyframes rectangle-bg-animate {
    0% {
        background-position: 5% 0%;
    }

    100% {
        background-position: 105% 0%;
    }
}

@keyframes rectangle-mask-animate {
    0% {
        mask-position: 0% 0%;
    }

    100% {
        mask-position: 100% 0%;
    }
}


/* Intro - Footer - Squares */

#square-1 {
    animation-name: square-blink;
    animation-fill-mode: backwards;
    animation-duration: calc(var(--anim-segment) * 3);
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: 3;
}

#square-2, #square-3, #square-4 {
    animation-name: fade-in-opacity;
    animation-fill-mode: backwards;
    animation-duration: calc(var(--anim-segment) * 0.5);
    animation-timing-function: linear;
}

#square-2 {
    animation-delay: calc(var(--anim-segment) * 7);
}

#square-3 {
    animation-delay: calc(var(--anim-segment) * 5.5);
}

#square-4 {
    animation-delay: calc(var(--anim-segment) * 4);
}

@keyframes square-blink {
    0%, 49.999% {
        background-color: var(--footer-square-1-hover);
    }

    50%, 100% {
        background-color: var(--footer-square-1);
    }
}


/* Intro - Background */

#background-pattern {
    animation-name: fade-in-opacity;
    animation-fill-mode: backwards;
    animation-duration: calc(var(--anim-segment) * 15);
    animation-timing-function: var(--ease-out-quad);
    animation-delay: calc(var(--anim-segment) * 9);
}


/* Intro - Logo */

.animate-fade-in-logo {
    animation-name: logo-animate;
    animation-duration: calc(var(--anim-segment) * 2.75);
    animation-delay: calc(var(--anim-segment) * 8.25);
    animation-timing-function: var(--ease-out-quad);
    animation-fill-mode: backwards;
    transform-origin: center;
}

@keyframes logo-animate {
    0% {
        transform: scale(0.85) rotate3d(0.25, 1, 0, 90deg);
    }

    100% {
        transform: scale(1) rotate3d(0, 0, 0, 90deg);
    }
}


/* Intro - Text */

.animate-fade-in-name>div>p,
.animate-fade-in-title>p {
    animation-name: fade-in-opacity;
    animation-fill-mode: backwards;
    animation-duration: calc(var(--anim-segment) * 5);
    animation-timing-function: var(--ease-out-quad);
}

.animate-fade-in-name>div>p {
    animation-delay: calc((var(--anim-segment) * 9) + (var(--anim-segment) * var(--i)));
}

.animate-fade-in-title>p {
    animation-delay: calc((var(--anim-segment) * 9) + (var(--anim-segment) * var(--i)));
}

.animate-fade-in-name,
.animate-fade-in-title,
.animate-fade-in-cta-1 {
    animation-name: change-pointer;
    animation-duration: 0;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}


/* TODO - correct these delay timings */
.animate-fade-in-name {
    animation-delay: calc(var(--anim-segment) * 16);
}

.animate-fade-in-title {
    animation-delay: calc(var(--anim-segment) * 20);
}

.animate-fade-in-cta-1 {
    animation-delay: calc(var(--anim-segment) * 18.25);
}

@keyframes fade-in-opacity {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    25% {
        pointer-events: none;
    }

    100% {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes change-pointer {
    0% {
        pointer-events: none;
    }

    100% {
        pointer-events: auto;
    }
}


/* Intro - Text De-Highlight */

.animate-fade-in-title .de-highlight-anim span:hover {
    color: var(--highlight-primary) !important;
    transition: color var(--animate-in-segment-2\/3) var(--ease-out-quad);
    /* animation: none !important; */
}

.animate-fade-in-title .de-highlight-anim-alt span:hover {
    color: var(--yellow) !important;
    transition: color var(--animate-in-segment-2\/3) var(--ease-out-quad);
    /* animation: none !important; */
}

.animate-fade-in-title .de-highlight-anim span,
.animate-fade-in-title .de-highlight-anim-alt span {
    animation-fill-mode: backwards;
    animation-duration: calc(var(--anim-segment) * 4);
    animation-timing-function: var(--ease-out-quad);
    animation-iteration-count: 1;
    transition: color calc(var(--anim-segment) * 4) var(--ease-out-quad) calc(var(--anim-segment) * 2);
}

.animate-fade-in-title .de-highlight-anim span {
    animation-name: de-highlight-anim;
    animation-delay: calc((var(--anim-segment) * 14) + var(--i) * 0.1s);
}

@keyframes de-highlight-anim {
    0% {
        color: var(--highlight-primary);
    }

    100% {
        color: var(--text-1);
    }
}

.animate-fade-in-title .de-highlight-anim-alt span {
    animation-name: de-highlight-anim-alt;
    animation-delay: calc((var(--anim-segment) * 15) + var(--i) * 0.1s);
}

@keyframes de-highlight-anim-alt {
    0% {
        color: var(--yellow);
    }

    100% {
        color: var(--text-1);
    }
}


/* Intro - CTA Blocks */

.animate-fade-in-cta-1 #availability_button-bg {
    animation-name: cta-1-animate-init;
    animation-duration: calc(var(--anim-segment) * 1.5);
    animation-delay: calc(var(--anim-segment) * 16);
    animation-timing-function: var(--ease-in-out-quad);
    animation-fill-mode: backwards;
}

.animate-fade-in-cta-1 a>div {
    animation-name: fade-in-opacity;
    animation-duration: calc(1.25 * var(--anim-segment));
    animation-delay: calc(var(--anim-segment) * 17);
    animation-timing-function: var(--ease-out-quad);
    animation-fill-mode: backwards;
}

@keyframes cta-1-animate-init {
    0% {
        opacity: 0;
        width: 0%;
        border-radius: 0;
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 100%;
    }
}

.animate-fade-in-cta-2 #menu-bg {
    animation-name: cta-2-animate-init;
    animation-duration: calc(var(--anim-segment) * 1.5);
    animation-delay: calc(var(--anim-segment) * 17.5);
    animation-timing-function: var(--ease-in-out-quad);
    animation-fill-mode: backwards;
}

.animate-fade-in-cta-2 #menu_email_button-wrapper,
.animate-fade-in-cta-2 #menu_link_profile,
.animate-fade-in-cta-2 #menu_link_archive,
.animate-fade-in-cta-2 #menu_button-wrapper {
    animation-name: fade-in-opacity;
    animation-duration: calc(1.25 * var(--anim-segment));
    animation-delay: calc((var(--anim-segment) * 18.5) + ((var(--anim-segment) * 0.75) * var(--i)));
    animation-timing-function: var(--ease-out-quad);
    animation-fill-mode: backwards;
}

@keyframes cta-2-animate-init {
    0% {
        opacity: 0;
        width: 0%;
        border-radius: 0rem;
        transform: scale(0.95);
    }

    25% {
        opacity: 1;
    }

    100% {
        width: 100%;
        transform: scale(1);
    }
}


/* Intro - Triangle */

#triangle-left,
#triangle-right,
#triangle-right-alt {
    animation-name: fade-in-opacity;
    animation-fill-mode: forwards;
    animation-timing-function: var(--ease-out-quad);
}

#triangle-left {
    animation-duration: calc(var(--anim-segment) * 18);
    animation-delay: calc(var(--anim-segment) * 10);
}

#triangle-right,
#triangle-right-alt {
    animation-duration: calc(var(--anim-segment) * 14);
    animation-delay: calc(var(--anim-segment) * 12);
}

#triangle-right::after,
#triangle-right-alt::after {
    animation-fill-mode: forwards;
    animation-duration: calc(var(--anim-segment) * 20), calc(var(--anim-segment) * 20);
    animation-delay: calc(var(--anim-segment) * 10), calc(var(--anim-segment) * 20);
    animation-timing-function: var(--ease-out-quad), linear;
    animation-direction: alternate, normal;
    animation-iteration-count: infinite;
    will-change: top, height, width, opacity;
}

#triangle-right::after {
    animation-name: triangle-after-pulse, flicker;
}

#triangle-right-alt::after {
    animation-name: triangle-after-pulse, flicker-alt;
}

@keyframes triangle-after-pulse {
    0% {
        top: calc(2 * 14.6446609406725vh);
        height: calc(2 * 70.710678118655vh);
        width: calc(2 * 70.710678118655vh);
    }

    100% {
        top: 14.6446609406725vh;
        height: 70.710678118655vh;
        width: 70.710678118655vh;
    }
}

@keyframes flicker {
    0%, 19.999%, 21%, 22.999%, 24%, 31.999%, 40%, 100% {
        opacity: 1;
    }

    20%, 20.999%, 23%, 23.999%, 32%, 39.999% {
        opacity: 0;
    }
}

@keyframes flicker-alt {
    0%, 19.999%, 21%, 22.999%, 24%, 31.999%, 40%, 100% {
        opacity: 0;
    }

    20%, 20.999%, 23%, 23.999%, 32%, 39.999% {
        opacity: 1;
    }
}

#triangle-right::before {
    animation-name: triangle-before-pulse;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--anim-segment) * 20);
    animation-timing-function: var(--ease-out-quad);
    animation-delay: calc(var(--anim-segment) * 10);
}

@keyframes triangle-before-pulse {
    0% {
        height: calc(2 * 70.710678118655vh);
    }

    100% {
        height: 70.710678118655vh;
    }
}

#profile:target~main #triangle-right::after,
#archive:target~main #triangle-right::after,
#profile:target~main #triangle-right-alt::after,
#archive:target~main #triangle-right-alt::after,
#profile:target~main footer #rectangle,
#archive:target~main footer #rectangle,
#profile:target~main footer #square-1,
#archive:target~main footer #square-1,
#profile:target~main #availability_button_dot,
#archive:target~main #availability_button_dot {
    animation-play-state: paused;
}


/* Text Higlight */

.highlight-text:focus {
    transition: color calc(2 * var(--animate-out-segment)) var(--ease-in-quad);
}

.highlight-text:hover {
    transition: color calc(2 * var(--animate-out-segment)) var(--ease-in-quad) !important;
}

.highlight-text.highlight-text--active {
    transition: color calc(2 * var(--animate-in-segment)) var(--ease-out-quad) !important;
    color: var(--blue-full-65) !important;
}


/* Corner */
.corner-wrapper {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity calc(var(--animate-out-segment) * 0.75) var(--ease-in-quad);
}

.corner {
    position: absolute;
    width: var(--corner-length);
    height: var(--corner-length);
    transform: scale(0.75);
    transition: transform calc(var(--animate-out-segment) * 0.75) var(--ease-in-quad);
    /* opacity: 0; */
    /* animation: corner-hide;
    animation-duration: var(--animate-out-segment);
    animation-timing-function: var(--ease-in-quad);
    animation-fill-mode: forwards; */
}

#intro_left-column h2>div:hover .corner-wrapper,
#logo:hover .corner-wrapper {
    opacity: 1;
    transition: opacity calc(var(--animate-in-segment) * 0.75) var(--ease-out-quad);
}


/* TODO - add states for focus and active and similar - keyboard navigation */
#intro_left-column h2>div:hover .corner,
#logo:hover .corner {
    animation: corner-flicker;
    animation-timing-function: var(--ease-out-quad);
    animation-fill-mode: forwards;
    transform: scale(1);
    transition: transform calc(var(--animate-in-segment) * 0.75) var(--ease-out-quad);
}

#intro_left-column h2>div:hover .corner {
    animation-duration: calc(var(--animate-in-segment) * 3);
}

#logo:hover .corner {
    animation-duration: calc(var(--animate-in-segment) * 4);
}

#intro_left-column h2>div:hover .corner::before,
#intro_left-column h2>div:hover .corner::after,
#logo:hover .corner::before,
#logo:hover .corner::after {
    animation: corner-color-change;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#intro_left-column h2>div:hover .corner::before,
#intro_left-column h2>div:hover .corner::after {
    animation-duration: calc(var(--animate-in-segment) * 3);
}

#logo:hover .corner::before,
#logo:hover .corner::after {
    animation-duration: calc(var(--animate-in-segment) * 4);
}

@keyframes corner-flicker {
    25%, 39.999%, 50%, 50.999%, 59%, 74.999% {
        opacity: 0;
    }

    0%, 24.999%, 40%, 49.999%, 51%, 58.999%, 75%, 100% {
        opacity: 1;
    }
}

@keyframes corner-color-change {
    0% {
        background: var(--corner-color);
    }

    74.999% {
        background: var(--corner-color);
    }

    75% {
        background: var(--corner-color-active);
    }

    100% {
        background: var(--corner-color-active);
    }
}

/* @keyframes corner-show {
    0% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes corner-hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */

.corner::before,
.corner::after {
    content: '';
    position: absolute;
    background: var(--corner-color-active);
}

.corner.top-left {
    top: 0;
    left: 0;
}

.corner.top-left::before {
    top: calc(var(--corner-offset-y) * -1);
    left: calc(var(--corner-offset-x) * -1);
    width: 100%;
    height: var(--corner-width);
}

.corner.top-left::after {
    top: calc(var(--corner-offset-y) * -1);
    left: calc(var(--corner-offset-x) * -1);
    width: var(--corner-width);
    height: 100%;
}

.corner.top-right {
    top: 0;
    right: 0;
}

.corner.top-right::before {
    top: calc(var(--corner-offset-y) * -1);
    right: calc(var(--corner-offset-x) * -1);
    width: 100%;
    height: var(--corner-width);
}

.corner.top-right::after {
    top: calc(var(--corner-offset-y) * -1);
    right: calc(var(--corner-offset-x) * -1);
    width: var(--corner-width);
    height: 100%;
}

.corner.bottom-left {
    bottom: 0;
    left: 0;
}

.corner.bottom-left::before {
    bottom: calc(var(--corner-offset-y) * -1);
    left: calc(var(--corner-offset-x) * -1);
    width: 100%;
    height: var(--corner-width);
}

.corner.bottom-left::after {
    bottom: calc(var(--corner-offset-y) * -1);
    left: calc(var(--corner-offset-x) * -1);
    width: var(--corner-width);
    height: 100%;
}

.corner.bottom-right {
    bottom: 0;
    right: 0;
}

.corner.bottom-right::before {
    bottom: calc(var(--corner-offset-y) * -1);
    right: calc(var(--corner-offset-x) * -1);
    width: 100%;
    height: var(--corner-width);
}

.corner.bottom-right::after {
    bottom: calc(var(--corner-offset-y) * -1);
    right: calc(var(--corner-offset-x) * -1);
    width: var(--corner-width);
    height: 100%;
}



/* Face icon animation */

body {
    --face-icon-sequence-default: path("M14.917,24C14.277,24 13.743,23.785 13.312,23.354C12.882,22.924 12.667,22.389 12.667,21.75C12.667,21.111 12.889,20.577 13.333,20.146C13.778,19.716 14.319,19.5 14.958,19.5C15.598,19.5 16.125,19.715 16.542,20.146C16.959,20.576 17.167,21.111 17.167,21.75C17.167,22.389 16.952,22.923 16.521,23.354C16.091,23.784 15.556,24 14.917,24ZM25.083,24C24.444,24 23.91,23.785 23.479,23.354C23.049,22.924 22.833,22.389 22.833,21.75C22.833,21.111 23.048,20.577 23.479,20.146C23.909,19.716 24.444,19.5 25.083,19.5C25.723,19.5 26.264,19.715 26.708,20.146C27.153,20.576 27.375,21.111 27.375,21.75C27.375,22.389 27.153,22.923 26.708,23.354C26.276,23.779 25.689,24.013 25.083,24ZM20,33.667C23.805,33.667 27.035,32.341 29.688,29.688C32.341,27.035 33.667,23.805 33.667,20C33.667,19.305 33.618,18.632 33.521,17.979C33.433,17.363 33.286,16.756 33.083,16.167C32.508,16.309 31.923,16.407 31.333,16.458C30.723,16.514 30.083,16.542 29.417,16.542C26.806,16.542 24.347,16.007 22.042,14.938C19.744,13.874 17.72,12.299 16.125,10.333C15.227,12.473 13.893,14.403 12.208,16C10.519,17.608 8.539,18.881 6.375,19.75L6.375,20.042C6.375,23.847 7.695,27.069 10.333,29.708C12.973,32.348 16.195,33.667 20,33.667ZM20.042,37.333C17.625,37.333 15.368,36.875 13.271,35.958C11.174,35.041 9.341,33.805 7.771,32.25C6.201,30.695 4.959,28.861 4.042,26.75C3.125,24.639 2.667,22.389 2.667,20C2.667,17.611 3.125,15.361 4.042,13.25C4.959,11.139 6.202,9.305 7.771,7.75C9.341,6.195 11.174,4.959 13.271,4.042C15.368,3.125 17.625,2.667 20.042,2.667C22.431,2.667 24.674,3.125 26.771,4.042C28.868,4.959 30.701,6.195 32.271,7.75C33.841,9.305 35.076,11.139 35.979,13.25C36.882,15.361 37.333,17.611 37.333,20C37.333,22.389 36.882,24.639 35.979,26.75C35.076,28.861 33.84,30.702 32.271,32.271C30.701,33.841 28.861,35.076 26.75,35.979C24.639,36.882 22.403,37.333 20.042,37.333Z");
    --face-icon-sequence-blink: path("M14.917,22.75C14.277,22.75 13.743,22.654 13.312,22.463C12.882,22.272 12.667,22.034 12.667,21.75C12.667,21.466 12.889,21.229 13.333,21.037C13.778,20.846 14.319,20.75 14.958,20.75C15.598,20.75 16.125,20.846 16.542,21.037C16.959,21.228 17.167,21.466 17.167,21.75C17.167,22.034 16.952,22.271 16.521,22.463C16.091,22.654 15.556,22.75 14.917,22.75ZM25.083,22.75C24.444,22.75 23.91,22.654 23.479,22.463C23.049,22.272 22.833,22.034 22.833,21.75C22.833,21.466 23.048,21.229 23.479,21.037C23.909,20.846 24.444,20.75 25.083,20.75C25.723,20.75 26.264,20.846 26.708,21.037C27.153,21.228 27.375,21.466 27.375,21.75C27.375,22.034 27.153,22.271 26.708,22.463C26.276,22.652 25.689,22.756 25.083,22.75ZM20,33.667C23.805,33.667 27.035,32.341 29.688,29.688C32.341,27.035 33.667,23.805 33.667,20C33.667,19.305 33.618,18.632 33.521,17.979C33.433,17.363 33.286,16.756 33.083,16.167C32.508,16.309 31.923,16.407 31.333,16.458C30.723,16.514 30.083,16.542 29.417,16.542C26.806,16.542 24.347,16.007 22.042,14.938C19.744,13.874 17.72,12.299 16.125,10.333C15.227,12.473 13.893,14.403 12.208,16C10.519,17.608 8.539,18.881 6.375,19.75L6.375,20.042C6.375,23.847 7.695,27.069 10.333,29.708C12.973,32.348 16.195,33.667 20,33.667ZM20.042,37.333C17.625,37.333 15.368,36.875 13.271,35.958C11.174,35.041 9.341,33.805 7.771,32.25C6.201,30.695 4.959,28.861 4.042,26.75C3.125,24.639 2.667,22.389 2.667,20C2.667,17.611 3.125,15.361 4.042,13.25C4.959,11.139 6.202,9.305 7.771,7.75C9.341,6.195 11.174,4.959 13.271,4.042C15.368,3.125 17.625,2.667 20.042,2.667C22.431,2.667 24.674,3.125 26.771,4.042C28.868,4.959 30.701,6.195 32.271,7.75C33.841,9.305 35.076,11.139 35.979,13.25C36.882,15.361 37.333,17.611 37.333,20C37.333,22.389 36.882,24.639 35.979,26.75C35.076,28.861 33.84,30.702 32.271,32.271C30.701,33.841 28.861,35.076 26.75,35.979C24.639,36.882 22.403,37.333 20.042,37.333Z");
    --face-icon-sequence-wink: path("M14.917,24C14.277,24 13.743,23.785 13.312,23.354C12.882,22.924 12.667,22.389 12.667,21.75C12.667,21.111 12.889,20.577 13.333,20.146C13.778,19.716 14.319,19.5 14.958,19.5C15.598,19.5 16.125,19.715 16.542,20.146C16.959,20.576 17.167,21.111 17.167,21.75C17.167,22.389 16.952,22.923 16.521,23.354C16.091,23.784 15.556,24 14.917,24ZM25.083,22.75C24.444,22.75 23.91,22.654 23.479,22.463C23.049,22.272 22.833,22.034 22.833,21.75C22.833,21.466 23.048,21.229 23.479,21.037C23.909,20.846 24.444,20.75 25.083,20.75C25.723,20.75 26.264,20.846 26.708,21.037C27.153,21.228 27.375,21.466 27.375,21.75C27.375,22.034 27.153,22.271 26.708,22.463C26.276,22.652 25.689,22.756 25.083,22.75ZM20,33.667C23.805,33.667 27.035,32.341 29.688,29.688C32.341,27.035 33.667,23.805 33.667,20C33.667,19.305 33.618,18.632 33.521,17.979C33.433,17.363 33.286,16.756 33.083,16.167C32.508,16.309 31.923,16.407 31.333,16.458C30.723,16.514 30.083,16.542 29.417,16.542C26.806,16.542 24.347,16.007 22.042,14.938C19.744,13.874 17.72,12.299 16.125,10.333C15.227,12.473 13.893,14.403 12.208,16C10.519,17.608 8.539,18.881 6.375,19.75L6.375,20.042C6.375,23.847 7.695,27.069 10.333,29.708C12.973,32.348 16.195,33.667 20,33.667ZM20.042,37.333C17.625,37.333 15.368,36.875 13.271,35.958C11.174,35.041 9.341,33.805 7.771,32.25C6.201,30.695 4.959,28.861 4.042,26.75C3.125,24.639 2.667,22.389 2.667,20C2.667,17.611 3.125,15.361 4.042,13.25C4.959,11.139 6.202,9.305 7.771,7.75C9.341,6.195 11.174,4.959 13.271,4.042C15.368,3.125 17.625,2.667 20.042,2.667C22.431,2.667 24.674,3.125 26.771,4.042C28.868,4.959 30.701,6.195 32.271,7.75C33.841,9.305 35.076,11.139 35.979,13.25C36.882,15.361 37.333,17.611 37.333,20C37.333,22.389 36.882,24.639 35.979,26.75C35.076,28.861 33.84,30.702 32.271,32.271C30.701,33.841 28.861,35.076 26.75,35.979C24.639,36.882 22.403,37.333 20.042,37.333Z");
}

svg.animate-face-icon path {
    will-change: d;
    animation-name: face-icon-animation;
    animation-fill-mode: both;
    animation-duration: calc(var(--anim-segment) * 24);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--anim-segment) * 10 + 0.1s);
}

@keyframes face-icon-animation {
    0% {
        d: var(--face-icon-sequence-default);
    }

    25% {
        d: var(--face-icon-sequence-default);
    }

    27.5% {
        d: var(--face-icon-sequence-blink);
    }

    30% {
        d: var(--face-icon-sequence-default);
    }

    32.5% {
        d: var(--face-icon-sequence-blink);
    }

    35% {
        d: var(--face-icon-sequence-default);
    }

    95% {
        d: var(--face-icon-sequence-default);
    }

    97.5% {
        d: var(--face-icon-sequence-wink);
    }

    100% {
        d: var(--face-icon-sequence-default);
    }
}


/* Availability Button */

@keyframes availability-dot-fade-animation {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 100%;
    }

    50% {
        opacity: 50%;
        animation-timing-function: var(--ease-out-quad);
    }

    75% {
        opacity: 100%;
        animation-timing-function: var(--ease-in-quad);
    }

    100% {
        opacity: 100%;
    }
}

#availability_button_dot {
    animation-name: availability-dot-fade-animation;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: calc(var(--animate-in-segment) * 16);
    animation-iteration-count: infinite;
    animation-delay: calc(var(--anim-segment) * 5);
}

#availability_button a:hover #availability_button_dot, #availability_button a:focus #availability_button_dot {
    animation: none;
}

#availability_button_dot::before {
    transition: opacity calc(2 * var(--animate-out-segment)) var(--ease-out-quad), transform calc(2 * var(--animate-out-segment)) var(--ease-out-quad);
    transform-origin: center;
    z-index: -1;
}

#availability_button_dot::after {
    transition: background-color var(--animate-out-segment) linear;
}

#availability_button a:hover #availability_button_dot::before, #availability_button a:focus #availability_button_dot::before {
    transition: opacity calc(2 * var(--animate-in-segment)) var(--ease-in-quad), transform calc(2 * var(--animate-in-segment)) var(--ease-in-quad);
    transform: scale(135);
}

#availability_button_dot {
    transition: color var(--animate-out-segment) linear;
}

#availability_button a:hover #availability_button_dot::after, #availability_button a:focus #availability_button_dot::after {
    transition: background-color var(--animate-in-segment) linear var(--animate-in-segment);
    background-color: var(--cyan-full-5);
}

#availability_button_text {
    transition: color var(--animate-out-segment) linear;
}

#availability_button a:hover #availability_button_text, #availability_button a:focus #availability_button_text {
    transition: color var(--animate-in-segment) linear var(--animate-in-segment);
    color: var(--cyan-full-5);
}


/* Intro Links */

#menu_links>a {
    transition: background-color var(--animate-out-segment-2\/3) linear, box-shadow var(--animate-out-segment-2\/3) linear;
}

#menu_links>a:hover, #menu_links>a:focus, #menu_links>a.tooltip-key--active {
    transition: background-color var(--animate-in-segment-2\/3) linear, box-shadow var(--animate-in-segment-2\/3) linear;
    background-color: var(--highlight-secondary);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-3);
}

a#menu_link_profile:hover, a#menu_link_profile:focus, a#menu_link_profile.tooltip-key--active {
    background-color: var(--highlight-primary);
}

#menu_links>a svg, #menu_email_button-wrapper>button svg {
    transition: color var(--animate-out-segment-2\/3) linear;
    color: var(--icon);
}

#menu_links>a:hover svg, #menu_links>a:focus svg, #menu_email_button-wrapper>button:hover svg, #menu_email_button-wrapper>button:focus svg {
    transition: color var(--animate-in-segment-2\/3) linear;
    color: var(--icon-hover);
}

#menu_links>a span.button-label, #menu_email_button-wrapper>button span.button-label {
    transition: color var(--animate-out-segment-2\/3) linear;
    color: var(--text-2);
}

#menu_links>a:hover span.button-label, #menu_links>a:focus span.button-label, #menu_email_button-wrapper>button:hover span.button-label, #menu_email_button-wrapper>button:focus span.button-label {
    transition: color var(--animate-in-segment-2\/3) linear;
    color: var(--text-1);
}

#menu_links>a span.button-label u {
    transition: text-decoration var(--animate-out-segment-2\/3) linear;
}

#menu_links>a:hover span.button-label u, #menu_links>a:focus span.button-label u {
    transition: text-decoration var(--animate-in-segment-2\/3) linear;
    text-decoration-color: var(--text-2) !important;
}


/* Menu Button */

#menu_button--open {
    z-index: 3;
}

#menu:target #menu_button--open {
    pointer-events: none;
    visibility: hidden;
}

#menu_button--close {
    z-index: 4;
    pointer-events: none;
    visibility: hidden;
}

#menu:target #menu_button--close {
    pointer-events: auto;
    visibility: visible;
}

#menu_button {
    z-index: 2;
    transition: color var(--animate-out-segment-2\/3) linear, background-color var(--animate-out-segment-2\/3) linear, box-shadow var(--animate-out-segment-2\/3) linear, border-radius var(--animate-out-segment) var(--ease-in-quad);
    overflow: clip;
    contain: content;
}

#menu:target #menu_button {
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) rgba(0, 0, 0, 0);
}

#menu_button-wrapper:hover #menu_button {
    border-color: var(--light-2);
}

#menu:target #menu_button, #menu_button-wrapper.tooltip-key--active #menu_button {
    border-color: var(--light-3);
}

#menu_button-wrapper:hover #menu_button, #menu_button-wrapper:focus-within #menu_button, #menu:target #menu_button, #menu_button-wrapper.tooltip-key--active #menu_button {
    transition: color var(--animate-in-segment-2\/3) linear, background-color var(--animate-in-segment-2\/3) linear, border-color var(--animate-in-segment-2\/3) linear, box-shadow var(--animate-in-segment-2\/3) linear, outline var(--animate-in-segment-2\/3) linear;
    color: var(--icon-hover);
    background-color: var(--highlight-secondary);
}

#menu_button span {
    background-color: currentColor;
    animation-fill-mode: forwards;
}

#menu_button span:nth-child(1) {
    animation-duration: calc(var(--animate-in-segment) * 3);
    animation-name: menu-top-left-reverse;
}

#menu:target #menu_button span:nth-child(1) {
    animation-duration: calc(var(--animate-out-segment) * 3);
    animation-name: menu-top-left;
}

#menu_button span:nth-child(2) {
    animation-duration: calc(var(--animate-in-segment) * 3);
    animation-name: menu-top-right-reverse;
}

#menu:target #menu_button span:nth-child(2) {
    animation-duration: calc(var(--animate-out-segment) * 3);
    animation-name: menu-top-right;
}

#menu_button span:nth-child(3) {
    animation-duration: calc(var(--animate-in-segment) * 3);
    animation-name: menu-bottom-left-reverse;
}

#menu:target #menu_button span:nth-child(3) {
    animation-duration: calc(var(--animate-out-segment) * 3);
    animation-name: menu-bottom-left;
}

#menu_button span:nth-child(4) {
    animation-duration: calc(var(--animate-in-segment) * 3);
    animation-name: menu-bottom-right-reverse;
}

#menu:target #menu_button span:nth-child(4) {
    animation-duration: calc(var(--animate-out-segment) * 3);
    animation-name: menu-bottom-right;
}

@keyframes menu-top-left {
    0% {
        transform: translate(0, 0);
        animation-timing-function: var(--ease-in-quad);
    }

    45%, 55% {
        transform: translate(var(--menu-icon-radius), var(--menu-icon-radius));
    }

    100% {
        transform: translate(var(--menu-icon-radius), calc(-1 * ((1.5 * var(--menu-icon-gap-between)) - (0.5 * var(--menu-icon-gap)) + var(--menu-icon-bit-size))));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-top-left-reverse {
    0% {
        transform: translate(var(--menu-icon-radius), calc(-1 * ((1.5 * var(--menu-icon-gap-between)) - (0.5 * var(--menu-icon-gap)) + var(--menu-icon-bit-size)))) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }

    45% {
        transform: translate(var(--menu-icon-radius), calc(-1 * ((1.5 * var(--menu-icon-gap-between)) - (0.5 * var(--menu-icon-gap)) + var(--menu-icon-bit-size)))) scale(0);
    }

    55% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-top-right {
    0% {
        transform: translate(0, 0);
        animation-timing-function: var(--ease-in-quad);
    }

    45%, 55% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), var(--menu-icon-radius));
    }

    100% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * ((0.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))))));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-top-right-reverse {
    0% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * ((0.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap)))))) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }

    45% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * ((0.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap)))))) scale(0);
    }

    55% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-left {
    0% {
        transform: translate(0, 0);
        animation-timing-function: var(--ease-in-quad);
    }

    45%, 55% {
        transform: translate(var(--menu-icon-radius), calc(-1 * var(--menu-icon-radius)));
    }

    100% {
        transform: translate(var(--menu-icon-radius), calc((0.5 * (var(--menu-icon-gap-between))) - (0.5 * (var(--menu-icon-gap)))));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-left-reverse {
    0% {
        transform: translate(var(--menu-icon-radius), calc((0.5 * (var(--menu-icon-gap-between))) - (0.5 * (var(--menu-icon-gap))))) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }

    45% {
        transform: translate(var(--menu-icon-radius), calc((0.5 * (var(--menu-icon-gap-between))) - (0.5 * (var(--menu-icon-gap))))) scale(0);
    }

    55% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-right {
    0% {
        transform: translate(0, 0);
        animation-timing-function: var(--ease-in-quad);
    }

    45%, 55% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc(-1 * var(--menu-icon-radius)));
    }

    100% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc((1.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))) + var(--menu-icon-bit-size)));
        animation-timing-function: var(--ease-out-quad);
    }
}

@keyframes menu-bottom-right-reverse {
    0% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc((1.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))) + var(--menu-icon-bit-size))) scale(1);
        animation-timing-function: var(--ease-out-quad);
    }

    45% {
        transform: translate(calc(-1 * var(--menu-icon-radius)), calc((1.5 * var(--menu-icon-gap-between)) - (0.5 * (var(--menu-icon-gap))) + var(--menu-icon-bit-size))) scale(0);
    }

    55% {
        transform: translate(0, 0) scale(0);
    }

    100% {
        transform: translate(0, 0) scale(1);
        animation-timing-function: var(--ease-in-quad);
    }
}


/* Menu Dropdown */

#menu_dropdown {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-0.25rem) scale(0.975);
    transform-origin: bottom;
    transition: opacity calc(1.25 * var(--animate-out-segment)) var(--ease-in-quad), transform calc(1.25 * var(--animate-out-segment)) var(--ease-in-quad), visibility 0s calc(1.25 * var(--animate-out-segment));
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    #menu_dropdown {
        transform: translateX(-0.25rem) scale(0.975);
        transform-origin: bottom right;
    }
}

#menu:target #menu_dropdown {
    visibility: visible;
    opacity: 1;
    transform: translate(0) scale(1);
    transition: opacity calc(1.25 * var(--animate-in-segment)) var(--ease-out-quad), transform calc(1.25 * var(--animate-in-segment)) var(--ease-out-quad);
}

#menu_dropdown a:hover::before,
#menu_dropdown label:hover::before,
#menu_dropdown a:focus::before,
#menu_dropdown label:focus::before,
#menu_dropdown a:focus-within::before,
#menu_dropdown label:focus-within::before,
#menu_dropdown a:hover::after,
#menu_dropdown label:hover::after,
#menu_dropdown a:focus::after,
#menu_dropdown label:focus::after,
#menu_dropdown a:focus-within::after,
#menu_dropdown label:focus-within::after {
    transition: opacity var(--animate-in-segment) linear, inset var(--animate-in-segment) var(--ease-out-quad);
    opacity: 1;
}

#menu_dropdown a span,
#menu_dropdown label span {
    transition: color var(--animate-out-segment) linear;
    z-index: 1;
}

#menu_dropdown a:hover span,
#menu_dropdown label:hover span {
    transition: color var(--animate-in-segment) linear;
}

#menu_dropdown a svg,
#menu_dropdown label svg {
    transition: color var(--animate-out-segment) linear;
    color: var(--icon);
    z-index: 1;
}

#menu_dropdown a:hover svg,
#menu_dropdown label:hover svg {
    transition: color var(--animate-out-segment) linear, background-color var(--animate-out-segment) linear;
    color: var(--icon-hover);
}

#menu_dropdown label#menu_dropdown_light-mode:hover span,
#menu_dropdown label#menu_dropdown_light-mode:hover svg,
#menu_dropdown label#menu_dropdown_light-mode:focus span,
#menu_dropdown label#menu_dropdown_light-mode:focus svg,
#menu_dropdown label#menu_dropdown_light-mode:focus-within span,
#menu_dropdown label#menu_dropdown_light-mode:focus-within svg {
    color: var(--cyan-full-10);
}

#menu_dropdown label#menu_dropdown_light-mode::before {
    background-image: linear-gradient(to right in oklch, rgba(238, 213, 0, 0.75), rgba(238, 213, 0, 0));
    /* 75, 100, 85  */
}

#menu_dropdown label#menu_dropdown_light-mode::after {
    background-image: linear-gradient(to right in oklch, rgba(238, 213, 0, 1), rgba(238, 213, 0, 0));
    /* 75, 100, 85  */
}

#menu_dropdown label#menu_dropdown_debug::before,
#menu_dropdown label#menu_dropdown_fullscreen::before {
    background-image: linear-gradient(to right in oklch, rgba(0, 95, 241, 0.75), rgba(0, 95, 241, 0));
    /* 260, 100, 45 */
}

#menu_dropdown label#menu_dropdown_debug::after,
#menu_dropdown label#menu_dropdown_fullscreen::after {
    background-image: linear-gradient(to right in oklch, rgba(0, 95, 241, 1), rgba(0, 95, 241, 0));
    /* 260, 100, 45 */
}


/* Modals */

.modal {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.05);
    transform-origin: top;
    transition: opacity var(--animate-out-segment) linear, transform var(--animate-out-segment) var(--ease-in-quad), visibility 0s var(--animate-out-segment);
}

#profile:target~main #modal_profile,
#archive:target~main #modal_archive {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--animate-in-segment) linear, transform var(--animate-in-segment) var(--ease-out-quad);
}

/* #profile:target~main #modal_profile-content,
#archive:target~main #modal_archive-content {
    transition: opacity var(--animate-in-segment) linear var(--animate-in-segment);
    opacity: 1;
} */

#intro_left-column, #intro_right-column {
    transition: transform var(--animate-out-segment) var(--ease-in-quad);
    transform-origin: center;
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    #intro_left-column, #intro_right-column {
        transform-origin: top;
    }
}

#profile:target~main #intro_left-column,
#profile:target~main #intro_right-column,
#archive:target~main #intro_left-column,
#archive:target~main #intro_right-column {
    transition: transform var(--animate-in-segment) var(--ease-out-quad);
    transform: scale(0.95);
}

footer {
    transition: transform var(--animate-out-segment) var(--ease-in-quad);
    transform-origin: top;
}

#profile:target~main footer,
#archive:target~main footer {
    transition: transform var(--animate-in-segment) var(--ease-out-quad);
    transform: scale(0.9825);
}


/* Modals - Archive */

#modal_archive-content_section {
    transition: opacity var(--animate-out-segment) linear, padding var(--animate-out-segment) var(--ease-in-quad), height var(--animate-out-segment) var(--ease-in-quad);
}

input[id^="timeline_section_year-"]:checked~#modal_archive-content [data-timeline-section] {
    transition: opacity var(--animate-in-segment) linear, padding var(--animate-in-segment) var(--ease-out-quad), height var(--animate-in-segment) var(--ease-out-quad);
}

/* #modal_archive-content_section-title>div label:hover+div svg {} */

#modal_archive-content_section-title>div svg {
    transition: color var(--animate-out-segment-2\/3) linear, background-color var(--animate-out-segment-2\/3) linear, border var(--animate-out-segment-2\/3) linear;
}

#modal_archive-content_section-title>div label:hover+div svg, #modal_archive-content_section-title>div label:focus+div svg {
    transition: color var(--animate-in-segment-2\/3) linear, background-color var(--animate-in-segment-2\/3) linear, border var(--animate-in-segment-2\/3) linear;
    color: var(--modal-icon-hover);
    background-color: var(--highlight-secondary);
}


/* Modals - Horizontal Timeline */

#horizontal_timeline {
    transition: opacity var(--animate-out-segment) linear, transform var(--animate-out-segment) var(--ease-in-quad);
    transform: scale(0.95);
    transform-origin: bottom;
    opacity: 0;
}

#archive:target~main #modal_archive #horizontal_timeline {
    transition: opacity var(--animate-in-segment) linear var(--anim-segment), transform var(--animate-in-segment) var(--ease-out-quad) var(--anim-segment);
    transform: scale(1);
    opacity: 1;
}


/* Modals - Carousel */

[data-carousel-nav] {
    transition: border-radius var(--animate-out-segment) var(--ease-in-quad), column-gap var(--animate-out-segment) var(--ease-in-quad), padding var(--animate-out-segment) var(--ease-in-quad), margin var(--animate-out-segment) var(--ease-in-quad);
    column-gap: 0.625rem;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.5rem;
}

[data-carousel-nav]:hover {
    transition: border-radius var(--animate-in-segment) var(--ease-out-quad), column-gap var(--animate-in-segment) var(--ease-out-quad), padding var(--animate-in-segment) var(--ease-out-quad), margin var(--animate-in-segment) var(--ease-out-quad);
    column-gap: 1rem;
    padding: 0.875rem 1.25rem;
    margin: 0;
    border-radius: 1.25rem;
}

[data-carousel-nav] button {
    transition: background-color var(--animate-out-segment) linear, width var(--animate-out-segment) var(--ease-in-quad), height var(--animate-out-segment) var(--ease-in-quad);
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--light-4);
}

[data-carousel-nav]:hover button {
    transition: background-color var(--animate-in-segment) linear, width var(--animate-in-segment) var(--ease-out-quad), height var(--animate-in-segment) var(--ease-out-quad);
    width: 0.75rem;
    height: 0.75rem;
}

[data-carousel-nav] button:hover, [data-carousel-nav] button:focus {
    transition: background-color var(--animate-out-segment-2\/3) linear;
    background-color: var(--light-6);
}

[data-carousel-nav] button[aria-current] {
    pointer-events: none;
    background-color: var(--light-6);
    width: 1.75rem;
}

[data-carousel-nav]:hover button[aria-current] {
    width: 2.75rem;
}

[data-carousel-arrows] li button {
    transition: background-color var(--animate-out-segment-2\/3) linear;
    background-color: var(--light-2);
}

[data-carousel-arrows] li button:hover, [data-carousel-arrows] li button:focus {
    transition: background-color var(--animate-out-segment-2\/3) linear;
    background-color: var(--light-4);
}

[data-carousel-arrows] li button::before {
    transition: background-color var(--animate-out-segment-2\/3) linear;
    background-color: var(--light-5);
}

[data-carousel-arrows] li button:hover::before {
    transition: background-color var(--animate-in-segment-2\/3) linear;
    background-color: var(--light-6);
}


/* Modals - Close Button */

#modal_button-close, #modal_button-close svg,
#modal_button-fullscreen, #modal_button-fullscreen svg {
    transition: color var(--animate-out-segment-2\/3) linear, background-color var(--animate-out-segment-2\/3) linear, border var(--animate-out-segment-2\/3) linear;
}

#modal_button-close:hover, #modal_button-close:focus,
#modal_button-fullscreen:hover, #modal_button-fullscreen:focus {
    transition: color var(--animate-in-segment-2\/3) linear, background-color var(--animate-in-segment-2\/3) linear, border var(--animate-in-segment-2\/3) linear;
    color: var(--modal-icon-hover);
    background-color: var(--highlight-secondary);
}

#modal_button-close:hover svg, #modal_button-close:focus svg,
#modal_button-fullscreen:hover svg, #modal_button-fullscreen:focus svg {
    color: var(--modal-icon-hover);
}


/* Modal Footer Art */

#modal_profile-footer_art-wrapper {
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--animate-out-segment) linear, visibility 0s var(--animate-out-segment);
}

#debug:not(:checked)~#profile:target~main #modal_profile-footer_art-wrapper {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--animate-in-segment) linear var(--anim-segment), visibility 0s var(--anim-segment);
}


/* Underlay */

#debug:not(:checked)~#profile:target~main #underlay_modal,
#debug:not(:checked)~#archive:target~main #underlay_modal {
    /* z-index: 1; */
    opacity: 1;
    pointer-events: auto;
    transition: opacity var(--animate-in-segment) linear;
}

#debug:not(:checked)~#archive:target~main #underlay_modal {
    background-color: rgb(0, 20, 23, 0.5);
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

#debug:not(:checked)~main #menu:target #underlay_menu {
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
    transition: opacity var(--animate-in-segment) linear;
}


/* Tooltip */

.tooltip-wrapper .tooltip {
    transition: var(--animate-out-segment-2\/3) linear;
    opacity: 0;

}

.tooltip-wrapper:hover:not(.tooltip-key--active) .tooltip:not(.tooltip--active), .tooltip-wrapper:focus-within:not(.tooltip-key--active):not([data-focus-after-click]) .tooltip:not(.tooltip--active),
.tooltip-wrapper.tooltip-key--active .tooltip.tooltip--active, .tooltip-wrapper:focus-within.tooltip-key--active .tooltip.tooltip--active {
    transition: var(--animate-in-segment-2\/3) linear var(--anim-segment-1\/3);
    opacity: 1;
}

/* a:hover, button:hover, [tabindex="0"]:hover {
    z-index: 20;
} */
