/*
 * Modal - Archive
 */

/* Timeline */

.modal-archive__timeline > input[type='checkbox'] {
	display: none;
}

.modal-archive__timeline-grid {
	display: grid;
	grid-auto-flow: row;
	padding: var(--segment-quarter) 0 var(--segment-quarter) var(--segment-quarter);
}

@media (min-width: 45rem) {
	.modal-archive__timeline-grid {
		padding: var(--segment-third) 0 var(--segment-third) var(--segment-third);
		grid-template-columns: minmax(20%, max-content) minmax(0, 1fr);
		gap: 4rem 3rem;
		margin-bottom: calc(var(--segment) + var(--segment-half));
	}
}

@media (min-width: 60rem) {
	.modal-archive__timeline-grid {
		padding: var(--segment-half) 0 0 var(--segment-half);
	}
}

/* Timeline - Section title */

.modal-archive__timeline-section-title {
	position: relative;
	display: flex;
	flex-direction: column;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section-title {
		padding-bottom: 3rem;
	}
}

.modal-archive__timeline-section-title > div {
	display: flex;
	flex-direction: column;
	padding: 1.25rem 0;
	border-top: solid max(1px, 0.0625rem) var(--modal-line);
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section-title > div {
		position: sticky;
		top: var(--modal-button-inset);
		padding-bottom: unset;
	}
}

.modal-archive__timeline-section-title label {
	position: absolute;
	inset: 0;
	cursor: pointer;
	padding: 0;
	margin: 0;
	appearance: none;
	background: none;
	border: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section-title label {
		display: none;
	}
}

.modal-archive__timeline-section-title span {
	display: inline-flex;
	align-self: start;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Chakra Petch', monospace;
	font-size: 2.14285625rem;
	line-height: 1.5rem;
	font-weight: 400;
	color: var(--text-1);
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section-title span {
		text-align: right;
		align-self: end;
	}
}

.modal-archive__timeline-section-title svg {
	fill: var(--modal-icon);
	background-color: var(--light-15);
	width: 1rem;
	height: 1rem;
	padding: 0.25rem;
	border-radius: 999rem;
	box-sizing: content-box;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section-title svg {
		display: none !important;
	}
}

/* Timeline - Section controls */

.modal-archive__timeline-section-controls {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	justify-content: start;
}

/* Timeline - Section content */

.modal-archive__timeline-section {
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	row-gap: 3rem;
	overflow: hidden;
}

.modal-archive__timeline-section > figure {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	row-gap: calc(var(--modal-button-inset) - max(1px, 0.0625rem));
	order: 999;
	padding-top: 4rem;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section > figure {
		display: flex;
	}
}

.modal-archive__timeline-section > figure:first-child {
	padding-top: 0;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section > figure {
		order: 0;
	}
}

.modal-archive__timeline-section hr {
	display: inline-flex;
	width: 100%;
	margin: 0;
	border: none;
	height: max(1px, 0.0625rem);
	background-color: var(--modal-line);
}

.modal-archive__timeline-section > div {
	position: relative;
	display: flex;
	flex-direction: column;
	color: var(--text-1);
	padding-top: 2rem;
	border-top: solid max(1px, 0.0625rem) var(--modal-line);
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section > div {
		border-top: none;
	}
}

.modal-archive__timeline-section > div:first-child {
	padding-top: 2rem;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section > div:first-child {
		padding-top: 0;
	}
}

figure.modal-archive__project-hero {
	margin-top: 2rem;
	background-color: var(--context-bg-modal);
	padding: 0.25rem;
	border-radius: 0.75rem;
	overflow: hidden;
}

.modal-archive__timeline-section picture {
	position: relative;
	border-radius: 0.5rem;
	overflow: hidden;
}

.modal-archive__timeline-section picture img {
	width: 100%;
	height: auto;
	border-radius: 0.5rem;
	overflow: hidden;
}

.modal-archive__timeline-section h3 {
	font-weight: 400;
	font-size: 2.14285625rem;
	line-height: 2.5rem;
	letter-spacing: 0;
	word-break: keep-all;
}

.modal-archive__timeline-section h3:not(:first-child) {
	margin-top: 4rem;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section h3 {
		font-weight: var(--text-lg-font-weight);
		font-size: var(--text-lg-font-size);
		line-height: var(--text-lg-line-height);
		letter-spacing: var(--text-lg-letter-spacing);
	}
}

.modal-archive__timeline-section h3::before {
	content: '';
	margin-bottom: var(--text-lg_before-margin-bottom);
	display: table;
}

.modal-archive__timeline-section h3::after {
	content: '';
	margin-top: var(--text-lg_after-margin-top);
	display: table;
}

.modal-archive__timeline-section h3 span::before {
	/* Echo ∴ */
	content: '';
	display: inline-flex;
	width: 0.75em;
	height: 0.75em;
	background-color: currentcolor;
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="6.5" cy="17" r="1.85"/><circle cx="17.5" cy="17" r="1.85"/><circle cx="12" cy="8" r="1.85"/></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	vertical-align: -0.25rem;
	margin-right: 0.75rem;
}

.modal-archive__timeline-section h3 span.spark::before {
	/* Spark ✦ */
	content: '';
	display: inline-flex;
	width: 0.75em;
	height: 0.75em;
	background-color: currentcolor;
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12.479 18.625a.483.483 0 0 1-.461.375.483.483 0 0 1-.461-.374c-.17-.684-.497-1.413-.979-2.187-.571-.918-1.385-1.771-2.443-2.561-.92-.695-1.839-1.17-2.758-1.422a.503.503 0 0 1-.377-.48c0-.22.153-.411.366-.472A8.84 8.84 0 0 0 7.98 10.24a9.365 9.365 0 0 0 2.398-2.397c.57-.834.96-1.658 1.173-2.474a.486.486 0 0 1 .464-.37c.224 0 .413.16.467.377a7 7 0 0 0 .575 1.491c.328.639.75 1.246 1.267 1.823a10.667 10.667 0 0 0 1.741 1.559c.842.597 1.697 1.016 2.567 1.258a.494.494 0 0 1 .368.47.5.5 0 0 1-.376.476 7.157 7.157 0 0 0-1.693.73c-.71.414-1.37.903-1.978 1.468a8.904 8.904 0 0 0-1.495 1.778c-.483.77-.81 1.502-.98 2.195Z"/></svg>');
	mask-size: contain;
	mask-repeat: no-repeat;
	vertical-align: -0.125rem;
	margin-right: 0.75rem;
}

/* Timeline - Section typography */

.modal-archive__timeline-section h4 {
	margin-top: 3rem;
	padding-top: 1.5rem;
	border-top: max(1px, 0.0625rem) solid var(--modal-line-3);
	font-weight: var(--text-md-font-weight);
	font-size: var(--text-md-font-size);
	line-height: var(--text-md-line-height);
	letter-spacing: var(--text-md-letter-spacing);
	word-break: keep-all;
}

.modal-archive__timeline-section h4::before {
	content: '';
	margin-bottom: var(--text-md_before-margin-bottom);
	display: table;
}

.modal-archive__timeline-section h4::after {
	content: '';
	margin-top: var(--text-md_after-margin-top);
	display: table;
}

.modal-archive__timeline-section div[data-carousel] {
	margin-top: 2rem;
}

.modal-archive__timeline-section > div > p {
	margin-top: 2rem;
	font-size: 1.07143125rem;
	line-height: 1.625rem;
	font-weight: 500;
	text-align: justify;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section > div > p {
		font-weight: 400;
	}
}

.modal-archive__timeline-section > div > p::before {
	content: '';
	display: table;
	margin-bottom: -0.4333em;
}

.modal-archive__timeline-section > div > p::after {
	content: '';
	display: table;
	margin-top: -0.3833em;
}

/* Timeline - Section navigation */

.modal-archive__timeline-section nav {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	margin-top: 2.5rem;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section nav {
		grid-template-columns: max-content;
		gap: 1rem 0.5rem;
	}
}

.modal-archive__timeline-section nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.75rem 0.5rem;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section nav ul {
		flex-direction: row;
		align-items: center;
		row-gap: 0.625rem;
	}
}

.modal-archive__timeline-section nav ul li:first-child {
	font-family: 'Chakra Petch', monospace;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.25rem;
	font-size: 0.80356875rem;
	line-height: 0.5625rem;
	padding-top: 0.109375rem;
	flex-shrink: 0;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section nav ul li:first-child {
		font-weight: 600;
		grid-column: 1;
	}
}

.modal-archive__timeline-section nav ul li:first-child::before {
	content: '';
	margin-bottom: -0.025em;
	display: table;
}

.modal-archive__timeline-section nav ul li:first-child::after {
	content: '';
	margin-top: 0.025em;
	display: table;
}

.modal-archive__timeline-section nav ul li:first-child span::before {
	content: '⬢';
	font-family: initial;
	font-size: 0.75em;
	display: inline-block;
	margin-left: 0.15rem;
	margin-right: 0.75rem;
	vertical-align: middle;
	transform: translateY(-0.109375rem);
}

.modal-archive__timeline-section nav ul li:not(:first-child) {
	display: flex;
	flex-wrap: wrap;
	gap: 0.625rem 0.5rem;
}

.modal-archive__timeline-section nav ul:not(:has(li.hidden)) li:nth-child(2) {
	margin-left: 0.8125rem;
}

.modal-archive__timeline-section nav ul li:nth-child(2) p {
	font-family: 'Chakra Petch', monospace;
	font-size: 1.07143125rem;
	line-height: 1.5rem;
	font-weight: 500;
	margin: 0.3125rem 0 0.25rem 0.6875rem;
}

.modal-archive__timeline-section nav ul li:nth-child(2) p::before {
	content: '';
	margin-bottom: -0.2253em;
	display: table;
}

.modal-archive__timeline-section nav ul li:nth-child(2) p::after {
	content: '';
	margin-top: -0.2413em;
	display: table;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section nav ul li:nth-child(2),
	.modal-archive__timeline-section nav ul li:nth-child(2) p {
		font-weight: 400;
		margin-left: 0;
	}
}

.modal-archive__timeline-section nav ul li a {
	display: inline-block;
	font-family: 'Chakra Petch', monospace;
	font-size: 0.98214375rem;
	line-height: 1.625rem;
	letter-spacing: 0.0234375rem;
	font-weight: 500;
	white-space: nowrap;
}

@media (min-width: 45rem) {
	.modal-archive__timeline-section nav ul li a {
		font-weight: 400;
	}
}

.modal-archive__timeline-section nav ul li a::before {
	content: '';
	margin-bottom: -0.5023em;
	display: table;
}

.modal-archive__timeline-section nav ul li a::after {
	content: '';
	margin-top: -0.4523em;
	display: table;
}

.modal-archive__timeline-section nav ul li:not(:first-child) a {
	padding: 0.609375rem 0.75rem 0.5rem;
	border-radius: 999rem;
	background-color: var(--modal-tag-bg);
}

.modal-archive__timeline-section nav ul li:not(:first-child) a[target='_blank'][href^='http'] span::after {
	content: '';
	display: inline-flex;
	width: 0.6875rem;
	height: 0.6875rem;
	margin-left: 0.0625rem;
	background-color: currentcolor;
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="m5.313 15.834-1.896-1.896 7.854-7.854H4.667V3.417h11.167v11.167h-2.667V7.979l-7.854 7.855Z"/></svg>');
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

/* Hover cards */

.hover-cards-wrapper {
	--hover-cards-border-radius: 0.5rem;
	--hover-cards-padding: 0.25rem;

	position: relative;
	margin-top: 2rem;
	padding: var(--hover-cards-padding);
	border-radius: var(--hover-cards-border-radius);
	background-color: var(--context-bg-modal);
}

@media (min-width: 45rem) {
	.hover-cards-wrapper {
		align-self: normal;
		--hover-cards-border-radius: 1rem;
	}
}

.hover-cards {
	--items: 5;
	--container-aspect-w: 5;
	--container-aspect-h: 2;
	--gap-ratio: 0.015;

	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: var(--hover-cards-border-radius);
}

@media (min-width: 45rem) {
	.hover-cards {
		aspect-ratio: var(--container-aspect-w) / var(--container-aspect-h);
		gap: calc(var(--gap-ratio) * 100%);
		flex-direction: row;
		overflow: hidden;
	}
}

.hover-cards > figure {
	--aspect-w: 16;
	--aspect-h: 9;

	flex-grow: 1;
	width: 100%;
	height: 100%;
	flex-basis: 0;
	position: relative;
	transition: flex-grow 0.25s var(--ease-in-out-quad);
}

.hover-cards > figure::before {
	content: '';
	position: absolute;
	inset: 0;
	transform: translateX(-100%);
}

.hover-cards > figure:first-child::before {
	display: none;
}

.hover-cards > figure:hover,
.hover-cards > figure:focus-within {
	--effective-width: calc(var(--container-aspect-w) - ((var(--items) - 1) * var(--gap-ratio) * var(--container-aspect-w)));

	flex-grow: calc(((var(--items) - 1) * var(--aspect-w) * var(--container-aspect-h)) / (var(--aspect-h) * var(--effective-width) - var(--aspect-w) * var(--container-aspect-h)));
}

/* Reset focused-within to default when sibling is hovered */
.hover-cards:has(figure:hover) > figure:focus-within:not(:hover) {
	flex-grow: 1;
}

.hover-cards > figure > div {
	position: relative;
	border-radius: calc(var(--hover-cards-border-radius) - var(--hover-cards-padding));
	overflow: hidden;
}

@media (min-width: 45rem) {
	.hover-cards > figure > div {
		position: absolute;
		inset: 0;
		z-index: 1;
	}
}

.hover-cards > figure:last-child > div {
	margin: 0;
}

.hover-cards > figure > div > a {
	display: block;
	width: 100%;
	cursor: zoom-in;
	outline: none;
}

.hover-cards > figure > div > a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: left;
}

/* Hover cards - variants */

[class*='hover-cards--variant-'] > figure {
	--aspect-w: 16;
	--aspect-h: 9;
}

.hover-cards--variant-cloudraker-tfp {
	max-width: 16rem;
}

.hover-cards--variant-cloudraker-tfp > div {
	--items: 5;
}

.hover-cards--variant-cloudraker-tfp > div > figure > div > a {
	cursor: default;
	aspect-ratio: 1600 / 899;
}

.hover-cards--variant-apostrophe-template {
	max-width: 20rem;
}

.hover-cards--variant-apostrophe-template > div {
	--items: 3;
}

.hover-cards--variant-apostrophe-template > div > figure {
	--aspect-w: 1600;
	--aspect-h: 933;
}

.hover-cards--variant-apostrophe-template > div figure > div > a {
	aspect-ratio: 1600 / 933;
}

.hover-cards--variant-apostrophe-template > div > figure > div > a img {
	object-position: right;
}

.hover-cards--variant-bohemica-signage {
	max-width: 20rem;
}

.hover-cards--variant-bohemica-signage > div {
	--items: 4;
}

.hover-cards--variant-bohemica-signage > div > figure {
	--aspect-w: 1600;
	--aspect-h: 912;
}

.hover-cards--variant-bohemica-signage > div figure > div > a {
	aspect-ratio: 1600 / 912;
}

.hover-cards--variant-bohemica-signage > div figure > div > a img {
	object-position: center;
}

@media (min-width: 45rem) {
	.hover-cards > figure > div > a {
		display: unset;
	}

	.hover-cards-wrapper,
	.hover-cards {
		max-width: none;
	}
}

/* Carousel */

[data-carousel] {
	position: relative;
	display: flex;
	flex-direction: column;
	--slide-offset: 2rem;
}

[data-carousel-slides-wrapper] {
	--carousel-border-radius: 0.75rem;
	--carousel-padding: 0.25rem;

	position: relative;
	overflow: hidden;
}

[data-carousel-slides] {
	display: flex;
	flex-wrap: nowrap;
	overflow: scroll hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-width: none;
	width: 100%;
	column-gap: var(--slide-offset);
	border-radius: var(--carousel-border-radius);
	touch-action: pan-x;
	border: solid var(--carousel-padding) transparent;
	background: var(--context-bg-modal);
}

[data-carousel-slides]::-webkit-scrollbar {
	display: none;
}

@media not all and (hover: none) and (pointer: coarse) {
	[data-carousel-edge-left],
	[data-carousel-edge-right] {
		position: absolute;
		z-index: 5;
		display: block;
		top: 0;
		bottom: 0;
		width: 25%;
		user-select: none;
		-webkit-user-select: none;
	}

	[data-carousel-edge-left] {
		left: 0;
		cursor: w-resize;
	}

	[data-carousel-edge-right] {
		right: 0;
		cursor: e-resize;
	}
}

[data-carousel-slides] figure {
	width: 100%;
	justify-content: center;
	flex: 1 0 100%;
	scroll-snap-align: start;
	border-radius: calc(var(--carousel-border-radius) - var(--carousel-padding));
}

[data-carousel-slides] figure a {
	position: relative;
	display: block;
	z-index: 1;
	cursor: zoom-in;
	outline: none;
	overflow: hidden;
}

[data-carousel-slides] figure a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background: var(--context-bg-modal);
}

@supports (animation-timeline: view()) {
	[data-carousel-slides] figure {
		view-timeline-name: --parallaxtimeline;
		view-timeline-axis: x;
		overflow: hidden;
	}

	@keyframes parallax {
		from {
			transform: translate(-50%, 0%);
		}

		to {
			transform: translate(50%, 0%);
		}
	}

	[data-carousel-slides] figure a {
		animation-name: parallax;
		animation-duration: 1ms;
		animation-timing-function: linear;
		animation-fill-mode: both;
		animation-timeline: --parallaxtimeline;
	}
}

[data-carousel-controls] {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-top: var(--segment-third);
}

[data-carousel-nav-wrapper] {
	position: absolute;
	left: 0;
}

[data-carousel-nav] {
	position: relative;
	display: inline-flex;
	background: var(--context-bg-modal);
}

[data-carousel-nav]::before {
	content: '';
	position: absolute;
	inset: -0.5rem;
}

[data-carousel-nav] button {
	position: relative;
	border-radius: 999rem;
	cursor: pointer;
	background: var(--light-25);
}

[data-carousel-nav] button::before {
	content: '';
	position: absolute;
	inset: -0.25rem;
	border-radius: 999rem;
}

[data-carousel-arrows] {
	display: flex;
	column-gap: 0.625rem;
}

[data-carousel-arrows] li {
	list-style: none;
}

[data-carousel-arrows] li button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5rem;
	padding: 0.25rem 0.375rem;
	cursor: pointer;
	background-color: var(--context-bg-modal);
}

[data-carousel-arrows] li:first-child button {
	padding-right: 0.4375rem;
}

[data-carousel-arrows] li:last-child button {
	padding-left: 0.4375rem;
}

[data-carousel-arrows] li button::before {
	content: '';
	display: inline-block;
	width: 1.25rem;
	height: 1.25rem;
	mask-size: contain;
	mask-repeat: no-repeat;
}

[data-carousel-arrows] li:first-child button::before {
	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyMHB4IiBmaWxsPSIjZThlYWVkIj48cGF0aCBkPSJNNTk5LTIzMyAzNTItNDgwbDI0Ny0yNDd2NDk0WiIvPjwvc3ZnPg==');
}

[data-carousel-arrows] li:last-child button::before {
	mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAtOTYwIDk2MCA5NjAiIHdpZHRoPSIyMHB4IiBmaWxsPSIjZThlYWVkIj48cGF0aCBkPSJNMzYxLTIzM3YtNDk0bDI0NyAyNDctMjQ3IDI0N1oiLz48L3N2Zz4=');
}

/* Logo grid */

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 16rem);
	gap: 0.75rem;
	margin-top: 2rem;
	align-self: flex-start;
}

.image-grid figure {
	padding: 0.25rem;
	background: var(--context-bg-modal);
	border-radius: 0.75rem;
	overflow: hidden;
}

.image-grid a {
	position: relative;
	display: block;
	aspect-ratio: 1;
	border-radius: 0.5rem;
	overflow: hidden;
	cursor: zoom-in;
}

.image-grid img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (min-width: 30rem) {
	.image-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		align-self: normal;
	}

	.image-grid img {
		max-width: none;
	}
}

@media (min-width: 50rem) {
	.image-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
	}
}

@media (min-width: 75rem) {
	.image-grid {
		gap: 1.5rem;
	}
}

/* Footer art */

.modal-archive__footer-art-left {
	position: absolute;
	width: calc(var(--segment) * 3);
	height: calc(var(--segment) * 3);
	left: 0;
	bottom: 0;
	background-size: contain;

	/* 210, 50, 75 */
	background-image: url("data:image/svg+xml,%3Csvg width='192' height='192' viewBox='0 0 192 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%2389c2ce' stroke-width='1' vector-effect='non-scaling-stroke' d='M32 16v34.74L149.26 168H192'/%3E%3C/svg%3E%0A");
	transform: none;
	display: none;
}

@media (min-width: 45rem) {
	.modal-archive__footer-art-left {
		display: block;
	}
}

.modal-archive__footer-art-middle {
	position: absolute;
	bottom: 0;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	row-gap: calc(var(--modal-button-inset) - max(1px, 0.0625rem));
	display: none;
}

@media (min-width: 45rem) {
	.modal-archive__footer-art-middle {
		display: flex;
		transform: translateY(calc(var(--modal-margin-bottom) + (var(--segment) * 1.25) + max(1px, 0.0625rem) + 100%));
	}
}

@media (min-width: 60rem) {
	.modal-archive__footer-art-middle {
		display: flex;
		transform: translateY(calc(var(--modal-margin-bottom) + (var(--segment) * 1.15) + 0.125rem + 100%));
	}
}

@media (min-width: 75rem) {
	.modal-archive__footer-art-middle {
		transform: translateY(calc((var(--segment) * 3) - 1.25rem - max(0.5px, 0.03125rem) + 100%));
	}
}

.modal-archive__footer-art-middle > hr {
	display: inline-flex;
	width: 100%;
	margin: 0;
	border: none;
	height: max(1px, 0.0625rem);
	background-color: var(--modal-line);
}

.modal-archive__footer-art-middle > hr:first-child {
	background-color: var(--modal-line-3);
}

.modal-archive__footer-art-middle > hr:nth-child(2) {
	background-color: var(--modal-line-2);
}

/* Content background */

#modal-archive .modal__content {
	--modal-border-outer: var(--dark-15);
	--modal-border-inner: var(--light-20);

	background-image: var(--modal-bg-pattern);
	background-color: var(--modal-bg-archive);

	/* 210, 100, 20 */
	backdrop-filter: none;
}

/* Tooltip */

#modal-archive .tooltip .tooltip__text {
	background-color: var(--modal-archive-tooltip-bg);
	box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--dark-10);
	border: solid max(1px, 0.0625rem) var(--light-20);
	background-image:
		radial-gradient(circle at 0.046875rem 0.046875rem, var(--light-5) 0.046875rem, transparent 0.046875rem),
		radial-gradient(circle at 0.046875rem 0.046875rem, var(--light-5) 0.046875rem, transparent 0.046875rem);
	color: var(--text-1);
}

/* Experimental CSS property for a bevelled corner */

@supports (corner-shape: bevel) {
	@media (min-width: 45rem) {
		#modal-archive .modal__content {
			corner-bottom-left-shape: bevel;
			border-bottom-left-radius: calc(var(--segment) * 2);
		}
	}
}
