/*
 * Noscript - Only applied when JavaScript is disabled
 */

.intro__name .tooltip__text--bottom {
	display: none;
}

.menu__email .tooltip__text {
	display: none;
}

.menu__email-text {
	user-select: all;
}

#dropdown-menu label#dropdown-menu-ambience,
#dropdown-menu label#dropdown-menu-fullscreen,
.modal__fullscreen-button {
	display: none;
}

[loading='lazy'] {
	opacity: 1;
}

.modal-profile__footer-art-gradient {
	transform: none;
}

.modal__timeline-button-wrapper {
	display: none;
}

:has(> img[loading='lazy'])::before {
	content: none;
	display: none;
}
