/*
 * State
 */

/* Light mode */

#mode:checked~main {
    --background: #d5e5ea;
    --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    --triangle: rgba(0, 203, 226, 0), rgba(0, 203, 226, 1); /* 210, 100, 75 */
    --triangle-stripe: rgba(0, 203, 226, 0), rgba(0, 203, 226, 0.5);
    --text-1: var(--cyan-full-20);
    --text-2: var(--cyan-full-30);
    --text-3: var(--cyan-quarter-65);
    --highlight-primary: var(--blue-full-45);

    --icon: var(--cyan-quarter-60);
    --icon-hover: var(--undefined-yet)
    --icon-bg: var(--cyan-quarter-75);
    /* --icon-fg: var(--cyan-quarter-45); */

    --context-border-dark: var(--cyan-quarter-95);
    --context-border-light: var(--cyan-quarter-75);
    /* 210, 25, 70 */
    --context-bg: rgba(176, 203, 210, 0.5);

    --modal-border-inner: var(--cyan-quarter-95);
    --modal-border-outer: var(--cyan-full-75);
    --modal-bg: var(--cyan-three-quarters-95);
    /* 210, 100, 70 */
    --modal-bg-blur: rgba(0, 188, 210, 0.45), rgba(0, 188, 210, 0.15);

    --modal-tag-bg: var(--cyan-three-quarters-80);

    --footer-square-1: var(--highlight-primary);
    --footer-square-1-hover: var(--navy);
    --footer-square-2: var(--cyan-full-45);
    --footer-square-3: var(--cyan-full-65);
    --footer-square-4: var(--cyan-full-85);
    --footer-rectangle: var(--cyan-quarter-85);
}

@media (min-width: 45rem) {
    #mode:checked~main {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='27' y='27' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    }
}

@media (min-width: 75rem) {
    #mode:checked~main {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    }
}


/* Light mode - Logo */

#mode:checked~main .intro__logo span {
    background-image: url(../images/logo-animated-light.svg)
}


/* Light mode - Menu */

#mode:not(:checked)~main #menu-dropdown label#menu-dropdown-light-mode {
    display: flex;
}

#mode:checked~main #menu-dropdown label#menu-dropdown-light-mode {
    display: none;
}

#mode:not(:checked)~main #menu-dropdown label#menu-dropdown-dark-mode {
    display: none;
}

#mode:checked~main #menu-dropdown label#menu-dropdown-dark-mode {
    display: flex;
}

#mode:checked~#debug:checked~main * {
    outline: max(1px, 0.0625rem) solid var(--blue-full-45) !important;
    outline-offset: min(-1px, -0.0625rem);
}

#mode:checked~#debug:checked~main #debug-grid * {
    outline: none !important;
}

#mode:checked~#debug:checked~main #debug-grid {
    visibility: visible !important;
}

#mode:checked~#debug:checked~main #debug-grid #debug-grid-fill {
    color: var(--blue-full-65);
}

#mode:checked~#debug:checked~main #debug-grid #debug-grid-outline {
    color: var(--blue-full-55);
}


/* Light mode - Intro */

#mode:checked~main .intro__primary-title span,
#mode:checked~main .intro__secondary-title span {
    color: var(--text-2);
}


/* Fullscreen */

#fullscreen:checked~main .fullscreen-checked\:flex {
    display: flex;
}

#fullscreen:checked~main .fullscreen-checked\:hidden {
    display: none;
}


/* Debug */

#debug:checked~main .debug-checked\:flex {
    display: flex;
}

#debug:checked~main .debug-checked\:hidden {
    display: none;
}


/* Debug - Dark mode */

#mode:not(:checked)~#debug:checked~main * {
    outline: max(1px, 0.0625rem) solid var(--blue-full-55);
    outline-offset: min(-1px, -0.0625rem);
    transition: none !important;
}

#mode:not(:checked)~#debug:checked~main #debug-grid * {
    outline: none !important;
}

#mode:not(:checked)~#debug:checked~main #debug-grid {
    visibility: visible !important;
}

#mode:not(:checked)~#debug:checked~main #debug-grid #debug-grid-fill {
    color: var(--blue-full-35);
}

#mode:not(:checked)~#debug:checked~main #debug-grid #debug-grid-outline {
    color: var(--blue-full-25);
}


/* Modals */

#profile:target~main #modal-profile,
#archive:target~main #modal-archive {
    pointer-events: auto;
    /* z-index: 2; */
}

#profile:target~main footer,
#archive:target~main footer {
    z-index: 0;
}


/* Modal - Profile */

#profile:target~main #modal-profile {
    overflow: auto;
}

#profile:target~main #modal-profile .modal__content {
    pointer-events: auto;
}


/* Modal - Archive */

#archive:target~main #modal-archive {
    overflow: auto;
}

#archive:target~main #modal-archive .modal__content {
    pointer-events: auto;
}

#debug:checked~#archive:target~main::before {
    content: '';
    position: fixed;
    inset: 0;
    margin: auto 0;
    width: 100%;
    height: min(2px, 0.125rem);
    background-color: var(--blue-full-65);
    pointer-events: none;
    z-index: 100;
}

#debug:checked~#archive:target~main [data-carousel-slides-wrapper]::before {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 2.5rem;
    border-width: min(2px, 0.125rem);
    border-style: solid;
    border-color: var(--blue-full-65);
    pointer-events: none;
    z-index: 50;
}

#debug:checked~#archive:target~main [data-carousel-slides] figure {
    position: relative;
}

#debug:checked~#archive:target~main [data-carousel-slides] figure::before {
    content: '';
    position: absolute;
    inset: 0 50% 0 0;
    background: var(--blue-full-25);
    opacity: 0.5;
    pointer-events: none;
    z-index: 50;
}

#debug:checked~#archive:target~main [data-carousel-slides] figure.active::before {
    background: var(--blue-full-45);
}

#debug:checked~#archive:target~main [data-carousel-slides] figure a {
    border: solid transparent;
    border-width: max(1px, 0.0625rem);
}

@media (max-width: 45rem) {
    #timeline-section-year-2024:not(:checked) ~ .archive-timeline__grid [data-timeline-section="2024"],
    #timeline-section-year-2018:not(:checked) ~ .archive-timeline__grid [data-timeline-section="2018"] {
        visibility: hidden;
        opacity: 0;
        height: 0;
        padding: 0;
    }

    #timeline-section-year-2024:checked ~ .archive-timeline__grid [data-timeline-section-title="2024"] svg:first-child,
    #timeline-section-year-2018:checked ~ .archive-timeline__grid [data-timeline-section-title="2018"] svg:first-child {
        display: none;
    }

    #timeline-section-year-2024:not(:checked) ~ .archive-timeline__grid [data-timeline-section-title="2024"] svg:nth-child(2),
    #timeline-section-year-2018:not(:checked) ~ .archive-timeline__grid [data-timeline-section-title="2018"] svg:nth-child(2) {
        display: none;
    }
}
