/*
 * State
 */


/* No fullscreen support */

body.no-fullscreen #menu-dropdown-fullscreen,
body.no-fullscreen .modal__fullscreen-button {
    display: none;
}


/* Light mode - Menu */

#mode:checked~main .menu__background {
    border-color: var(--dark-15);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-50);
}

#mode:checked~main .menu__email,
#mode:checked~main .menu__link {
    background-color: var(--light-35);
    outline-color: var(--dark-20);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-50);
}

#mode:checked~main .menu__email-icon,
#mode:checked~main .menu__link-icon {
    border: none;
    background-color: var(--light-10);
    outline: solid max(1px, 0.0625rem) var(--dark-10);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-25);
}

#mode:checked~main .menu__link:hover .menu__email-icon,
#mode:checked~main .menu__link:hover .menu__link-icon,
#mode:checked~main .menu__link:focus .menu__email-icon,
#mode:checked~main .menu__link:focus .menu__link-icon,
#mode:checked~main .menu__link.tooltip-key--active .menu__email-icon,
#mode:checked~main .menu__link.tooltip-key--active .menu__link-icon {
    background-color: var(--light-35);
    outline-color: transparent;
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) transparent;
}

#mode:checked~main .menu__link:hover,
#mode:checked~main .menu__link:focus,
#mode:checked~main .menu__link.tooltip-key--active {
    background-color: var(--highlight-secondary);
}

#mode:checked~main .menu__button {
    background-color: var(--light-35);
    outline-color: transparent;
    border-color: var(--dark-20);
    background-clip: padding-box;
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-50);
}

#mode:checked~main #menu:target .menu__button {
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-25);
}

#mode:checked~main .menu__link--profile .menu__link-label-text {
    border-bottom-color: var(--blue-full-65);
    transition: border-color var(--animate-out-segment-2\/3) linear;
}

#mode:checked~main .menu__link--profile:hover .menu__link-label-text,
#mode:checked~main .menu__link--profile:focus .menu__link-label-text,
#mode:checked~main .menu__link--profile.tooltip-key--active .menu__link-label-text {
    border-bottom-color: var(--highlight-primary);
    transition: border-color var(--animate-in-segment-2\/3) linear;
}

#mode:checked~main .menu__link--profile:hover,
#mode:checked~main .menu__link--profile:focus,
#mode:checked~main .menu__link--profile.tooltip-key--active {
    background-color: var(--highlight-primary);
}

#mode:checked~main #menu-toggle:hover .menu__button,
#mode:checked~main #menu-toggle:focus-within .menu__button,
#mode:checked~main #menu-toggle.tooltip-key--active .menu__button {
    background-color: var(--highlight-secondary);
}


/* Light mode - Menu dropdown */

#mode:checked~main #menu-dropdown>div {
    outline-color: transparent;
    border-color: var(--dark-20);
}

#mode:checked~main #menu-dropdown>div>*:first-child {
    border-top: none;
}

#mode:checked~main #menu-dropdown>div>*:first-child:before {
    border-radius: calc(var(--menu-border-radius) - max(1px, 0.0625rem)) calc(var(--menu-border-radius) - max(1px, 0.0625rem)) 0 0;
}

#mode:checked~main #menu-dropdown>div>*:last-child {
    box-shadow: inset 0 max(1px, 0.0625rem) 0 0 var(--light-50), inset max(1px, 0.0625rem) 0 0 0 var(--light-50), inset min(-1px, -0.0625rem) 0 0 0 var(--light-50), inset 0 min(-1px, -0.0625rem) 0 0 var(--light-50);
}

#mode:checked~main #menu-dropdown>div>*:last-child:before {
    border-radius: 0 0 calc(var(--menu-border-radius) - max(1px, 0.0625rem)) calc(var(--menu-border-radius) - max(1px, 0.0625rem));
}

#mode:checked~main #menu-dropdown a,
#mode:checked~main #menu-dropdown label {
    border-color: var(--dark-20);
    box-shadow: inset 0 max(1px, 0.0625rem) 0 0 var(--light-50), inset max(1px, 0.0625rem) 0 0 0 var(--light-50), inset min(-1px, -0.0625rem) 0 0 0 var(--light-50);
    background-image: repeating-linear-gradient(135deg, var(--pattern-overlay), var(--pattern-overlay) 0.5rem, transparent 0.5rem, transparent 1rem);
}

#mode:checked~main #menu-dropdown a::before,
#mode:checked~main #menu-dropdown label::before {
    /* 210, 50, 75 */
    background-image: linear-gradient(to right in oklch, rgba(137, 194, 206, 0.75), rgba(137, 194, 206, 0.15));
}

#mode:checked~main #menu-dropdown a::after,
#mode:checked~main #menu-dropdown label::after {
    background-image: none;
}

#mode:checked~main #menu-dropdown a::before,
#mode:checked~main #menu-dropdown label::before,
#mode:checked~main #menu-dropdown a::after,
#mode:checked~main #menu-dropdown label::after {
    left: 0;
    top: 0;
    bottom: 0;
}

#mode:checked~main #menu-dropdown label#menu-dropdown-debug::before,
#mode:checked~main #menu-dropdown label#menu-dropdown-fullscreen::before {
    /* 260, 100, 75 */
    background-image: linear-gradient(to right in oklch, rgba(166, 181, 255, 0.75), rgba(166, 181, 255, 0));
}

#mode:checked~main #menu-dropdown label#menu-dropdown-dark-mode::before {
    /* 300, 100, 75  */
    background-image: linear-gradient(to right in oklch, rgba(239, 153, 255, 0.75), rgba(107, 0, 118, 0));
}

#mode:checked~main #menu-dropdown a svg:nth-of-type(2) {
    background-color: var(--dark-15);
}


/* Light mode - Menu dropdown - Divider */

#mode:checked~main #menu-dropdown hr {
    border-top: solid max(1px, 0.0625rem) var(--dark-20);
    background-clip: padding-box;
    background-color: var(--dark-10);
}


/* Light mode - Menu dropdown - Switch icon */

#mode:not(:checked)~main #menu-dropdown label#menu-dropdown-light-mode {
    display: flex;
}

#mode:checked~main #menu-dropdown label#menu-dropdown-light-mode {
    display: none;
}

#mode:not(:checked)~main #menu-dropdown label#menu-dropdown-dark-mode {
    display: none;
}

#mode:checked~main #menu-dropdown label#menu-dropdown-dark-mode {
    display: flex;
}


/* Light mode - Logo */

#mode:checked~main .intro__logo span {
    background-image: url(../images/logo-animated-light.svg)
}

#mode:checked~main .intro__logo-frame {
    --corner-color: var(--cyan-full-65);
    --corner-color--active: var(--blue-full-65);
}


/* Light mode - Intro */

#mode:checked~main .intro__name {
    color: var(--cyan-half-30);
}

#mode:checked~main .intro__name-frame {
    --corner-color: var(--cyan-full-70);
    --corner-color--active: var(--cyan-full-70);
}

#mode:checked~main .intro__name.highlight--active .intro__name-frame {
    --corner-color--active: var(--green-lime-75);
}

#mode:checked~main .highlight--active {
    color: var(--green-lime-75) !important;
}

#mode:checked~main .intro__primary-title span,
#mode:checked~main .intro__secondary-title span {
    color: var(--cyan-half-40);
}

#mode:checked~main .intro__title--animating .intro__animated-text span {
    --intro-animated-text-start: var(--blue-full-75);
    --intro-animated-text-end: var(--cyan-half-40);
}

#mode:checked~main .intro__title--animating .intro__animated-text span:hover {
    color: var(--blue-full-75);
}

#mode:checked~main .intro__title--animating .intro__animated-text--alt span {
    --intro-animated-text-alt-start: var(--yellow-75);
    --intro-animated-text-alt-end: var(--cyan-half-40);
}

#mode:checked~main .intro__title--animating .intro__animated-text--alt span:hover {
    color: var(--yellow-75);
}


/* Light mode - Intro - Availability */

#mode:checked~main .availability__background {
    background-color: var(--cyan-full-65);
}

#mode:checked~main .availability__dot::before {
    background-color: var(--green-lime-80);
}


/* Light mode - Background triangle */

#mode:checked~main .bg-triangle--right::before,
#mode:checked~main .bg-triangle--left::before {
    background-image: linear-gradient(to top in oklch, var(--triangle-stripe));
}

#mode:checked~main .bg-triangle--right::after,
#mode:checked~main .bg-triangle--left::after {
    background-image: linear-gradient(to top in oklch, var(--triangle));
}


/* Light mode - Footer */

#mode:checked~main footer::before {
    background: linear-gradient(180deg, rgba(213, 229, 234, 0) 0%, rgba(213, 229, 234, 0.000296296) 0.03%, rgba(213, 229, 234, 0.00237037) 0.24%, rgba(213, 229, 234, 0.008) 0.8%, rgba(213, 229, 234, 0.018963) 1.9%, rgba(213, 229, 234, 0.037037) 3.7%, rgba(213, 229, 234, 0.064) 6.4%, rgba(213, 229, 234, 0.10163) 10.16%, rgba(213, 229, 234, 0.151704) 15.17%, rgba(213, 229, 234, 0.216) 21.6%, rgba(213, 229, 234, 0.296296) 29.63%, rgba(213, 229, 234, 0.39437) 39.44%, rgba(213, 229, 234, 0.512) 51.2%, rgba(213, 229, 234, 0.650963) 65.1%, rgba(213, 229, 234, 0.813037) 81.3%, #d5e5ea 100%);
}


/* Tooltip */

#mode:checked~main .tooltip .tooltip__text {
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-35);
    border: solid max(1px, 0.0625rem) var(--dark-15);
}


/* Fullscreen */

#fullscreen:checked~main .fullscreen-checked\:flex {
    display: flex;
}

#fullscreen:checked~main .fullscreen-checked\:hidden {
    display: none;
}


/* Debug */

#debug:checked~main .debug-checked\:flex {
    display: flex;
}

#debug:checked~main .debug-checked\:hidden {
    display: none;
}


/* Light mode - Debug */

#mode:checked~#debug:checked~main * {
    outline: solid max(1px, 0.0625rem) var(--blue-full-45) !important;
    outline-offset: min(-1px, -0.0625rem);
    transition: none !important;
}

#mode:checked~#debug:checked~main #debug-grid * {
    outline: none !important;
}

#mode:checked~#debug:checked~main #debug-grid {
    visibility: visible !important;
}

#mode:checked~#debug:checked~main #debug-grid #debug-grid-fill {
    color: var(--blue-full-65);
}

#mode:checked~#debug:checked~main #debug-grid #debug-grid-outline {
    color: transparent;
    /* var(--blue-full-55) */
}


/* Debug - Dark mode */

#mode:not(:checked)~#debug:checked~main * {
    outline: solid max(1px, 0.0625rem) var(--blue-full-55);
    outline-offset: min(-1px, -0.0625rem);
    transition: none !important;
}

#mode:not(:checked)~#debug:checked~main #debug-grid * {
    outline: none !important;
}

#mode:not(:checked)~#debug:checked~main #debug-grid {
    visibility: visible !important;
}

#mode:not(:checked)~#debug:checked~main #debug-grid #debug-grid-fill {
    color: var(--blue-full-35);
}

#mode:not(:checked)~#debug:checked~main #debug-grid #debug-grid-outline {
    color: transparent;
    /* var(--blue-full-25) */
}


/* Modals */

/* Works without JS (hash-based) and with JS (body class-based) */
#profile:target~main #modal-profile,
body.modal-profile-open #modal-profile,
#archive:target~main #modal-archive,
body.modal-archive-open #modal-archive {
    pointer-events: auto;
}

#profile:target~main footer,
#archive:target~main footer,
body.modal-open footer {
    z-index: 0;
}

#mode:checked~main .modal__content {
    outline: none;
    border-color: var(--modal-border-outer);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-50);
}

#mode:checked~main .modal__close-button,
#mode:checked~main .modal__fullscreen-button {
    outline: solid max(1px, 0.0625rem) var(--dark-20);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--light-35);
}

#mode:checked~main .modal__close-button:hover,
#mode:checked~main .modal__close-button:focus,
#mode:checked~main .modal__fullscreen-button:hover,
#mode:checked~main .modal__fullscreen-button:focus {
    outline-color: var(--highlight-secondary);
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--highlight-secondary);
}


/* Modal - Profile */

#profile:target~main #modal-profile,
body.modal-profile-open #modal-profile {
    overflow: auto;
}

#profile:target~main #modal-profile .modal__content,
body.modal-profile-open #modal-profile .modal__content {
    pointer-events: auto;
}

#mode:checked~main .modal-profile__footer-art {
    display: none;
}

#mode:checked~main .modal-profile-side-ruler-art {
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='101' viewBox='0 0 28 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 10.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 20.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 30.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 80.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 90.75H28' stroke='%2300000040' stroke-width='1.5'/%3E%3Cpath d='M0 40.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 50.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 60.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3Cpath d='M0 70.75H14' stroke='%2300000025' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}


/* Modal - Archive */

#archive:target~main #modal-archive,
body.modal-archive-open #modal-archive {
    overflow: auto;
}

#archive:target~main #modal-archive .modal__content,
body.modal-archive-open #modal-archive .modal__content {
    pointer-events: auto;
}

#archive:target~main .modal-archive__timeline-section-title span {
    color: var(--text-2);
}

#mode:checked~main #modal-archive .modal__content::before {
    background-color: var(--modal-bg-archive);
}

#mode:checked~main [data-carousel-nav] button {
    background-color: var(--carousel-nav-bg);
}

#mode:checked~main [data-carousel-nav] button[aria-current] {
    background-color: var(--carousel-nav-bg-active);
}

#mode:checked~main [data-carousel-nav] button:hover,
#mode:checked~main [data-carousel-nav] button:focus {
    background-color: var(--carousel-nav-bg-hover);
}

#mode:checked~main [data-carousel-arrows] li button:hover,
#mode:checked~main [data-carousel-arrows] li button:focus {
    background-color: var(--carousel-arrow-bg-hover);
}

#mode:checked~main [data-carousel-arrows] li button::before {
    background-color: var(--carousel-arrow-icon-bg);
}

#mode:checked~main [data-carousel-arrows] li button:hover::before {
    background-color: var(--carousel-arrow-icon-bg-hover);
}

#mode:checked~main .modal-archive__footer-art-left {
    /* 210, 25, 60 */
    background-image: url("data:image/svg+xml,%3Csvg width='192' height='192' viewBox='0 0 192 192' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23809499' stroke-width='1' vector-effect='non-scaling-stroke' d='M32 16v34.74L149.26 168H192'/%3E%3C/svg%3E%0A");
}


/* Modal - Archive - Debug */

#debug:checked~#archive:target~main [data-carousel-slides-wrapper]::before {
    content: '';
    position: absolute;
    inset: 0 50% 0 0;
    border-width: min(2px, 0.125rem);
    border-style: solid;
    border-color: var(--blue-full-65);
    pointer-events: none;
    z-index: 50;
}

#debug:checked~#archive:target~main [data-carousel-slides] figure {
    position: relative;
}

#debug:checked~#archive:target~main [data-carousel-slides] figure::before {
    content: '';
    position: absolute;
    inset: 0 50% 0 0;
    background: var(--blue-full-25);
    opacity: 0.5;
    pointer-events: none;
    z-index: 50;
}

#debug:checked~#archive:target~main [data-carousel-slides] figure.active::before {
    background: var(--blue-full-45);
}

#debug:checked~#archive:target~main [data-carousel-slides] figure a {
    border: solid transparent;
    border-width: max(1px, 0.0625rem);
}

/* Collapsible timeline sections on small screens */
#timeline-section-year-2024-21:not(:checked)~.modal-archive__timeline-grid [data-timeline-section="2024-21"],
#timeline-section-year-2021-19:not(:checked)~.modal-archive__timeline-grid [data-timeline-section="2021-19"],
#timeline-section-year-2019-18:not(:checked)~.modal-archive__timeline-grid [data-timeline-section="2019-18"],
#timeline-section-year-elsewhen:not(:checked)~.modal-archive__timeline-grid [data-timeline-section="elsewhen"] {
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

#timeline-section-year-2024-21:checked~.modal-archive__timeline-grid [data-timeline-section-title="2024-21"] svg:first-child,
#timeline-section-year-2021-19:checked~.modal-archive__timeline-grid [data-timeline-section-title="2021-19"] svg:first-child,
#timeline-section-year-2019-18:checked~.modal-archive__timeline-grid [data-timeline-section-title="2019-18"] svg:first-child,
#timeline-section-year-elsewhen:checked~.modal-archive__timeline-grid [data-timeline-section-title="elsewhen"] svg:first-child {
    display: none;
}

#timeline-section-year-2024-21:not(:checked)~.modal-archive__timeline-grid [data-timeline-section-title="2024-21"] svg:nth-child(2),
#timeline-section-year-2021-19:not(:checked)~.modal-archive__timeline-grid [data-timeline-section-title="2021-19"] svg:nth-child(2),
#timeline-section-year-2019-18:not(:checked)~.modal-archive__timeline-grid [data-timeline-section-title="2019-18"] svg:nth-child(2),
#timeline-section-year-elsewhen:not(:checked)~.modal-archive__timeline-grid [data-timeline-section-title="elsewhen"] svg:nth-child(2) {
    display: none;
}

@media (min-width: 45rem) {
    .modal-archive__timeline-grid [data-timeline-section] {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        height: auto !important;
        padding: revert !important;
    }
}


/* Images - Light mode override */

#mode:checked~main .modal__content img,
#mode:checked~main .hover-cards img,
#mode:checked~main .modal-profile__photo {
    filter: none;
}


/* Prefers media features */

@media (prefers-reduced-motion: reduce), (prefers-reduced-transparency: reduce), (prefers-contrast: more), (forced-colors: active) {
    *, *::before, *::after {
        animation: none !important;
        transition: none !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        filter: none !important;
        scroll-behavior: auto !important;
    }

    main {
        --context-bg: var(--cyan-quarter-25);
        --context-bg-2: var(--cyan-quarter-35);
        --modal-bg-blur: var(--cyan-three-quarters-25), var(--cyan-three-quarters-25);
        --modal-bg-archive: var(--cyan-three-quarters-25);
        --modal-bg-pattern: none;
        --menu-bg: transparent;

        --tooltip-bg: transparent;
    }

    #mode:checked~main {
        --context-bg: var(--cyan-quarter-80);
        --context-bg-2: var(--cyan-quarter-90);
        --modal-bg-blur: var(--cyan-quarter-95), var(--cyan-quarter-95);
        --modal-bg-archive: var(--cyan-quarter-95);
        --modal-bg-pattern: none;
        --menu-bg: transparent;

        --tooltip-bg: transparent;
    }

    #timeline-wrapper {
        background-color: var(--cyan-full-40);
    }

    #mode:checked~main #timeline-wrapper {
        background-color: var(--cyan-half-85);
    }

    .modal-profile-side-ruler-art {
        display: none;
    }

    .modal-profile__footer-art {
        display: none;
    }

    [data-carousel-slides] figure a img {
        transform: none;
    }
}
