/*
 * Colour palette: https://www.hsluv.org/
 * Font sizing: https://seek-oss.github.io/capsize/
 * Base64 embed fonts: https://amio.github.io/embedded-google-fonts/
 * SVG animation: https://shapeshifter.design/
 * Icons: https://fonts.google.com/icons?icon.style=Sharp
 * Brand icons: https://simpleicons.org/
 */

:root {
    /* Breakpoints */

    --breakpoint-xs: 480px;
    --breakpoint-sm: 720px;
    --breakpoint-md: 960px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1440px;
    --breakpoint-2xl: 1680px;
    --breakpoint-3xl: 2560px;

    /* Colours */

    /* 210, 100, 5 */
    --cyan-full-5: #001417;
    /* 210, 100, 10 */
    --cyan-full-10: #001F24;
    /* 210, 100, 15 */
    --cyan-full-15: #002a30;
    /* 210, 100, 20 */
    --cyan-full-20: #00363d;
    /* 210, 100, 25 */
    --cyan-full-25: #00424b;
    /* 210, 100, 35 */
    --cyan-full-35: #005b66;
    /* 210, 100, 45 */
    --cyan-full-45: #007684;
    /* 210, 100, 55 */
    --cyan-full-55: #0091a2;
    /* 210, 100, 65 */
    --cyan-full-65: #00aec2;
    /* 210, 100, 75 */
    --cyan-full-75: #00CBE2;
    /* 210, 100, 85 */
    --cyan-full-85: #4ce7ff;
    /* 210, 100, 90 */
    --cyan-full-90: #a0efff;
    /* 210, 100, 95 */
    --cyan-full-95: #D4F7FF;
    /* 210, 75, 25 */
    --cyan-three-quarters-25: #1c4047;
    /* 210, 75, 45 */
    --cyan-three-quarters-45: #37737e;
    /* 210, 75, 65 */
    --cyan-three-quarters-65: #55aab9;
    /* 210, 75, 75 */
    --cyan-three-quarters-75: #64c6d8;
    /* 210, 75, 80 */
    --cyan-three-quarters-80: #6cd5e8;
    /* 210, 75, 85 */
    --cyan-three-quarters-85: #83e2f5;
    /* 210, 75, 95 */
    --cyan-three-quarters-95: #dcf5fb;
    /* 210, 50, 10 */
    --cyan-half-10: #121d20;
    /* 210, 50, 15 */
    --cyan-half-15: #19282b;
    /* 210, 50, 25 */
    --cyan-half-25: #2A3F43;
    /* 210, 50, 45 */
    --cyan-half-45: #4e7077;
    /* 210, 50, 55 */
    --cyan-half-55: #618a93;
    /* 210, 50, 65 */
    --cyan-half-65: #75a6b0;
    /* 210, 50, 70 */
    --cyan-half-70: #7fb4bf;
    /* 210, 50, 75 */
    --cyan-half-75: #89c2ce;
    /* 210, 50, 85 */
    --cyan-half-85: #a5deea;
    /* 210, 50, 90 */
    --cyan-half-90: #c6e9f1;
    /* 210, 50, 95 */
    --cyan-half-95: #e3f4f8;
    /* 210, 25, 5 */
    --cyan-quarter-5: #0e1213;
    /* 210, 25, 10 */
    --cyan-quarter-10: #171c1e;
    /* rgba(23, 28, 30, 1) */
    /* 210, 25, 15 */
    --cyan-quarter-15: #202729;
    /* 210, 25, 20 */
    --cyan-quarter-20: #2a3234;
    /* 210, 25, 25 */
    --cyan-quarter-25: #333d3f;
    /* 210, 25, 30 */
    --cyan-quarter-30: #3e494b;
    /* 210, 25, 35 */
    --cyan-quarter-35: #485558;
    /* 210, 25, 40 */
    --cyan-quarter-40: #536164;
    /* 210, 25, 45 */
    --cyan-quarter-45: #5e6d71;
    /* 210, 25, 50 */
    --cyan-quarter-50: #697a7e;
    /* 210, 25, 55 */
    --cyan-quarter-55: #74878c;
    /* 210, 25, 60 */
    --cyan-quarter-60: #809499;
    /* 210, 25, 65 */
    --cyan-quarter-65: #8BA2A7;
    /* 210, 25, 70 */
    --cyan-quarter-70: #97afb5;
    /* 210, 25, 75 */
    --cyan-quarter-75: #a3bdc3;
    /* 210, 25, 80 */
    --cyan-quarter-80: #b0cbd2;
    /* 210, 25, 85 */
    --cyan-quarter-85: #BFD9DF;
    /* 210, 25, 90 */
    --cyan-quarter-90: #d5e5ea;
    /* 210, 25, 95 */
    --cyan-quarter-95: #eaf2f4;

    /* 260, 100, 5 */
    --blue-full-5: #000e33;
    /* 260, 100, 10 */
    --blue-full-10: #00184a;
    /* 260, 100, 15 */
    --blue-full-15: #00215f;
    /* 260, 100, 25 */
    --blue-full-25: #00348d;
    /* 260, 100, 35 */
    --blue-full-35: #0049be;
    /* 260, 100, 45 */
    --blue-full-45: #005FF1;
    /* 260, 100, 55 */
    --blue-full-55: #4e7bff;
    /* 260, 100, 65 */
    --blue-full-65: #7e98ff;
    /* 260, 100, 95 */
    --blue-full-95: #EEF0FF;

    /* 75, 100, 85  */
    --yellow: #EED500;

    /* 125, 100, 85 */
    --green: #49f400;
    --green-opacity: rgba(73, 244, 0, 0.25);

    /* 300, 100, 25 */
    --navy: #6b0076;

    --inner-bg-light-1: rgba(255, 255, 255, 0.1);
    --inner-bg-light-2: rgba(255, 255, 255, 0.15);

    --inner-bg-dark-1: rgba(0, 0, 0, 0.25);
}

#page {
    /* Segment */
    --segment: 48px;
    --segment-double: calc(var(--segment) * 2);
    --segment-half: calc(var(--segment) / 2);
    --segment-third: calc(var(--segment) / 3);
    --segment-quarter: calc(var(--segment) / 4);
    --segment-eighth: calc(var(--segment) / 8);
}


/* Light mode debug */

#mode:checked~#debug:checked~#page * {
    outline: 1px solid var(--blue-full-45) !important;
    outline-offset: -1px;
}


/* Dark mode debug */

#mode:not(:checked)~#debug:checked~#page * {
    outline: 1px solid var(--blue-full-55);
    outline-offset: -1px;
}


/* Debug grid */

#debug-grid {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 200;
    pointer-events: none;
}


/* Debug grid - light mode */

#mode:checked~#debug:checked~svg#debug-grid * {
    outline: none !important;
}

#mode:checked~#debug:checked~svg#debug-grid {
    visibility: visible !important;
}

#mode:checked~#debug:checked~svg#debug-grid #debug-grid-fill {
    color: var(--blue-full-65);
}

#mode:checked~#debug:checked~svg#debug-grid #debug-grid-outline {
    color: var(--blue-full-55);
}

/* Debug grid - dark mode */

#mode:not(:checked)~#debug:checked~svg#debug-grid * {
    outline: none !important;
}

#mode:not(:checked)~#debug:checked~svg#debug-grid {
    visibility: visible !important;
}

#mode:not(:checked)~#debug:checked~svg#debug-grid #debug-grid-fill {
    color: var(--blue-full-45);
}

#mode:not(:checked)~#debug:checked~svg#debug-grid #debug-grid-outline {
    color: var(--blue-full-35);
}


/* Dark mode (by default) */

body,
html {
    background-color: var(--cyan-full-5);
}

body {
    --background: var(--cyan-full-5);
    --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
    /* 260, 100, 25 */
    --triangle: rgba(0, 52, 141, 0), rgba(0, 52, 141, 1);
    --triangle-stripe: rgba(0, 31, 36, 0), rgba(0, 31, 36, 1);
    /* 75, 100, 25  */
    --triangle-alt: rgba(238, 213, 0, 0), rgba(68, 60, 0, 1);
    --text-1: var(--cyan-full-95);
    --text-2: var(--cyan-quarter-85);
    --text-3: var(--cyan-quarter-65);
    --highlight-primary: var(--blue-full-45);
    --highlight-secondary: var(--cyan-full-45);

    --icon: var(--cyan-quarter-80);
    --icon-hover: var(--cyan-quarter-85);
    --icon-bg: var(--cyan-quarter-45);
    --icon-fg: var(--cyan-quarter-85);

    --context-border-inner: var(--cyan-quarter-15);
    --context-border-outer: var(--cyan-quarter-30);
    /* 210, 25, 25 */
    --context-bg: rgba(51, 61, 63, 0.5);

    --modal-border-inner: var(--cyan-quarter-10);
    --modal-border-outer: var(--cyan-full-25);
    --modal-bg: var(--cyan-half-10);
    /* 210, 100, 25 */
    --modal-bg-blur: rgba(0, 66, 75, 0.65), rgba(0, 66, 75, 0.35);

    --modal-icon-outer: var(--cyan-half-75);
    --modal-icon-inner: var(--cyan-half-85);
    --modal-icon-hover: var(--cyan-half-95);

    --modal-tag-bg: var(--cyan-three-quarters-45);

    --footer-square-1: var(--highlight-primary);
    --footer-square-1-hover: var(--yellow);
    --footer-square-2: var(--cyan-full-85);
    --footer-square-3: var(--cyan-full-65);
    --footer-square-4: var(--cyan-full-45);
    --footer-rectangle: var(--cyan-full-20);
}

#logo span {
    background-image: url(../images/logo-animated-dark.svg)
}


/* Light mode in Dark mode */

#mode:checked~#page {
    --background: #ffffff;
    --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    --triangle: rgba(0, 203, 226, 0), rgba(0, 203, 226, 1);
    --triangle-stripe: rgba(180, 236, 248, 0), rgba(180, 236, 248, 1);
    --text-1: var(--cyan-full-10);
    --text-2: var(--cyan-quarter-30);
    --text-3: var(--cyan-quarter-65);
    --highlight-primary: var(--blue-full-45);

    --icon: var(--cyan-quarter-60);
    --icon-bg: var(--cyan-quarter-75);
    --icon-fg: var(--cyan-quarter-45);

    --context-border-inner: var(--cyan-quarter-95);
    --context-border-outer: var(--cyan-quarter-75);
    /* 210, 25, 70 */
    --context-bg: rgba(176, 203, 210, 0.5);

    --modal-border-inner: var(--cyan-quarter-95);
    --modal-border-outer: var(--cyan-full-75);
    --modal-bg: var(--cyan-three-quarters-95);
    /* 210, 100, 70 */
    --modal-bg-blur: rgba(0, 188, 210, 0.45), rgba(0, 188, 210, 0.15);

    --modal-icon-outer-bg: var(--cyan-half-65);
    --modal-icon-outer: var(--cyan-half-95);

    --modal-tag-bg: var(--cyan-three-quarters-80);

    --footer-square-1: var(--highlight-primary);
    --footer-square-1-hover: var(--navy);
    --footer-square-2: var(--cyan-full-45);
    --footer-square-3: var(--cyan-full-65);
    --footer-square-4: var(--cyan-full-85);
    --footer-rectangle: var(--cyan-quarter-85);
}

#mode:checked~#page #logo span {
    background-image: url(../images/logo-animated-light.svg)
}

#mode:not(:checked)~#page #menu_dropdown label#menu_dropdown_light-mode {
    display: flex;
}

#mode:checked~#page #menu_dropdown label#menu_dropdown_light-mode {
    display: none;
}

#mode:not(:checked)~#page #menu_dropdown label#menu_dropdown_dark-mode {
    display: none;
}

#mode:checked~#page #menu_dropdown label#menu_dropdown_dark-mode {
    display: flex;
}


/* Accessibility */

a,
button,
[tabindex="0"] {
    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 4px;
}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after, #intro *.active, #intro *.highlight-hover:hover {
        animation: none !important;
        transition: none !important;
        backdrop-filter: none !important;
    }

    a:active,
    button:active,
    [tabindex="0"]:active,
    a:focus-visible,
    button:focus-visible,
    [tabindex="0"]:focus-visible {
        /* position: relative;
        z-index: 10; */
        outline-color: var(--highlight-primary);
    }

    body {
        --context-bg: var(--cyan-quarter-25);
        --modal-bg: var(--cyan-half-25);
    }

    #modal_profile .modal_content,
    #modal_archive .modal_content {
        transform: none !important;
    }
}


/* Page */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    overscroll-behavior: none;
}

@media (min-width: 960px) {

    #page {
        --segment: 64px;
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
    }

    #mode:checked~#page {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    }
}


/* Intro */

#intro {
    position: relative;
    z-index: 1;
    padding-left: var(--segment-half);
    padding-bottom: var(--segment);
    display: grid;
    grid-template-columns: auto;
    row-gap: var(--segment);
}

@media (min-width: 720px) {
    #intro {
        padding-top: calc((var(--segment) * 2.25) - var(--segment-quarter));
        padding-bottom: var(--segment-half);
        grid-template-columns: calc(var(--segment) * 5) min-content;
        grid-column-gap: 64px;
        row-gap: 0;
    }
}

@media (min-width: 960px) {
    #intro {
        padding-top: calc((var(--segment) * 2.5) - var(--segment-quarter));
        grid-template-columns: calc(var(--segment) * 6) min-content;
    }
}

@media (min-width: 1080px) {
    #intro {
        padding-top: calc((var(--segment) * 2.5) - var(--segment-quarter));
        grid-template-columns: calc(var(--segment) * 8) min-content;
    }
}

/* @media (min-width: 1200px) {
    #intro {
        grid-template-columns: 544px 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 0;
    }
} */

/* @media (min-width: 1680px) {
    #intro {
        padding-top: 240px;
        grid-template-columns: 671px 1fr;
    }
} */


/* Intro - Left Column */

#intro_left-column {
    row-gap: calc(var(--segment) * 2.15);
    justify-content: space-between;
}

@media (min-width: 720px) {
    #intro_left-column {
        row-gap: 0;
        flex-direction: column;
    }
}

#intro_left-column h2 {
    color: var(--text-1);
    padding-top: var(--segment-third);
    margin-top: calc(-1 * var(--segment-third));
    padding-bottom: calc(var(--segment) / 5);
    margin-bottom: calc(-1 * (var(--segment) / 5));
}

#intro_left-column h2>span {
    display: inline-block;
    font-weight: var(--text-xl-font-weight);
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
}

#intro_left-column h2>span::before {
    content: "";
    margin-bottom: var(--text-xl_before-margin-bottom);
    display: table;
}

#intro_left-column h2>span::after {
    content: "";
    margin-top: var(--text-xl_after-margin-top);
    display: table;
}

@media (min-width: 720px) {
    #intro_left-column h2>span[style*="--i: 8;"] {
        padding-top: var(--segment-third);
    }

    #intro_left-column h2>span[style*="--i: 9;"] {
        transform: translateX(-2.4px);
    }

    #intro_left-column h2>span[style*="--i: 10;"] {
        transform: translateX(-3.6px);
    }

    #intro_left-column h2>span[style*="--i: 11;"] {
        transform: translateX(-4.8px);
    }
}

@media (min-width: 960px) {
    #intro_left-column h2>span[style*="--i: 8;"] {
        padding-top: unset;
    }

    #intro_left-column h2>span[style*="--i: 9;"] {
        transform: unset;
    }

    #intro_left-column h2>span[style*="--i: 10;"] {
        transform: unset;
    }

    #intro_left-column h2>span[style*="--i: 11;"] {
        transform: unset;
    }
}


/* Intro - Right Column */

#intro_right-column_title--primary span {
    display: inline-block;
    padding-top: var(--segment-quarter);
    color: var(--text-1);
    font-weight: var(--text-lg-font-weight);
    font-size: var(--text-lg-font-size);
    line-height: var(--text-lg-line-height);
}

#intro_right-column_title--primary span::before {
    content: "";
    margin-bottom: var(--text-lg_before-margin-bottom);
    display: table;
}

#intro_right-column_title--primary span::after {
    content: "";
    margin-top: var(--text-lg_after-margin-top);
    display: table;
}

#intro_right-column_title--secondary span {
    display: inline-block;
    font-family: "Newsreader";
    font-weight: 300;
    font-style: italic;
    font-size: 47.7612px;
    line-height: 64px;
    padding: 0 10px;
    margin: 0 -10px;
    /* font-variation-settings: "opsz" 24; */
}

#intro_right-column_title--secondary span::before {
    content: "";
    margin-bottom: -0.235em;
    display: table;
}

#intro_right-column_title--secondary span::after {
    content: "";
    margin-top: -0.435em;
    display: table;
}


/* Intro - Right Column - Availability */

#availability_button {
    padding-top: 64px;
}

#availability_button_dot {
    z-index: -1;
    width: 18px;
    height: 18px;
    background-color: var(--green-opacity);
}

#availability_button_dot::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 9999px;
    background-color: var(--green);
}

#availability_button_dot::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 9999px;
    background-color: transparent;
}

#availability_button_text {
    font-family: 'Chakra Petch', monospace;
    font-weight: 600;
    color: var(--blue-full-95);
    letter-spacing: 6px;
    font-size: 14.2857px;
    line-height: 10px;
}

#availability_button_text::before {
    content: "";
    margin-bottom: 0.008em;
    display: table;
}

#availability_button_text::after {
    content: "";
    margin-top: -0.008em;
    display: table;
}


/* Intro - Right Column - Menu */

#menu {
    grid-auto-flow: column;
    grid-template-rows: auto;
    row-gap: 12px;
    column-gap: 24px;
    margin-top: calc((1.5 * var(--segment)) + 8px);
    padding: 6px;
}

#menu::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: var(--context-bg);
    border-radius: 28px 16px 16px 28px;
    backdrop-filter: blur(1.5px);
}

#menu_email_button, #menu_links>a {
    background-color: var(--inner-bg-light-1);
    padding: 3px;
    border-radius: 22px 6px 6px 22px;
}

#menu_links {
    column-gap: 12px;
    margin-bottom: -12px;
}

@media (min-width: 720px) {
    #menu_links {
        flex-direction: row;
        align-items: center;
    }
}

#menu:target #menu_button_wrapper>a:first-of-type {
    z-index: -1;
}

#menu_button_wrapper>a:nth-of-type(2) {
    z-index: -1;
}

#menu:target #menu_button_wrapper>a:nth-of-type(2) {
    z-index: 2;
}


/* Intro - Right Column - Menu Dropdown */

body {
    --menu-icon-bit-size: 3px;
    --menu-icon-gap: 4px;
    --menu-icon-gap-between: 10px;
    --menu-icon-radius: calc((var(--menu-icon-bit-size) + var(--menu-icon-gap)) / 2)
}

#menu_button {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: min-content min-content;
    align-content: center;
    justify-content: center;
    gap: var(--menu-icon-gap);
    background-color: var(--inner-bg-light-1);
    padding: 6px 10px;
    border-radius: 6px 10px 10px 6px;
}

#menu_button span {
    content: '';
    display: inline-flex;
    width: var(--menu-icon-bit-size);
    height: var(--menu-icon-bit-size);
    border-radius: 0.75px;
}

#menu_dropdown {
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
    margin-right: 8px;
    pointer-events: none;
}

#menu_dropdown>div {
    display: flex;
    flex-direction: column;
    background-color: var(--context-bg);
    box-shadow: inset 0 0 0 1px var(--context-border-inner);
    border: solid 1px var(--context-border-outer);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 6px;
}

#menu_dropdown a,
#menu_dropdown label {
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 12px 18px 10px 16px;
    box-shadow: 0 -1px 0 0 var(--context-border-inner);
    border-top: solid 1px var(--context-border-outer);
    user-select: none;
}

#menu_dropdown a span,
#menu_dropdown label span {
    color: var(--text-1);
    margin-left: 14px;
}

#menu_dropdown>div>*:first-child {
    margin-top: 0;
    border-top-color: transparent;
    box-shadow: none;
}

#menu_dropdown #menu_dropdown_light-mode svg {
    color: var(--yellow);
}


/* Modal */

.modal {
    position: fixed;
    z-index: 2;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    padding: var(--segment);
    scroll-behavior: smooth;
}

.modal .modal_content {
    display: flex;
    flex-direction: column;
    row-gap: var(--segment-quarter);
    position: relative;
    height: auto;
    min-height: 100%;
    border: solid 1px var(--modal-border-outer);
    border-radius: var(--segment-eighth) calc((var(--modal-button-close-border-radius) + var(--modal-button-close-inset)) + 1px) var(--segment-eighth) var(--segment-eighth);
    box-shadow: inset 0 0 0 1px var(--modal-border-inner);
    opacity: 0;
    pointer-events: none;
    padding-top: var(--segment);
}

.modal .modal_content>* {
    transform: translateY(calc(var(--segment) * -1));
}

.modal .modal_content::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: linear-gradient(to top right, var(--modal-bg-blur));
    backdrop-filter: blur(48px);
    -webkit-backdrop-filter: blur(48px);
    border-radius: calc(var(--segment-eighth) - 2px) calc((var(--modal-button-close-border-radius) + var(--modal-button-close-inset)) - 1px) calc(var(--segment-eighth) - 2px) calc(var(--segment-eighth) - 2px);
}

@media (min-width: 720px) {
    .modal {
        padding: var(--segment-quarter);
    }

    /* .modal .modal_content {

    } */

    /* .modal .modal_content::before {
        content: '';
        position: absolute;
        inset: 1px;
        background: linear-gradient(to top right, var(--modal-bg-blur));
        backdrop-filter: blur(48px);
        -webkit-backdrop-filter: blur(48px);
        border-radius: calc(var(--segment-eighth) - 2px) calc((var(--modal-button-close-border-radius) + var(--modal-button-close-inset)) - 1px) calc(var(--segment-eighth) - 2px) calc(var(--segment-eighth) - 2px);
    } */
}

@media (min-width: 960px) {
    .modal {
        padding: var(--segment-half) var(--segment-third) 0 var(--segment-third);
    }
}

@media (min-width: 1200px) {
    .modal {
        padding: var(--segment) var(--segment-half) var(--segment-half) var(--segment-half);
    }
}


/* Modal - Close button */

body {
    --modal-button-close-size: 40px;
    --modal-button-close-border-radius: 14px; /* 35% */
    --modal-button-close-inset: 14px;
}

#modal_button-close {
    align-self: end;
    position: sticky;
    z-index: 1;
    top: var(--modal-button-close-inset);
    margin-top: var(--modal-button-close-inset);
    margin-right: var(--modal-button-close-inset);
    width: var(--modal-button-close-size);
    height: var(--modal-button-close-size);
    border-radius: var(--modal-button-close-border-radius);
    background-color: var(--inner-bg-light-2);
}

#modal_button-close svg {
    color: var(--modal-icon-inner);
}


/* Modal - Profile */
.information {
    margin-right: calc(var(--modal-button-close-size) + var(--modal-button-close-inset));
}

#modal_profile  .information dl {
    padding: 0;
    list-style: none;
    color: var(--text-1);
}

#modal_profile .information dl {
    padding-top: calc(var(--segment) * (3/4));
    padding-left: calc(var(--segment) * (3/4));
    padding-right: calc(var(--segment) * (3/4));
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: calc(var(--segment) * (3/4));
}

@media (min-width: 960px) {
    #modal_profile .information dl {
        padding-right: calc(var(--segment-double) * (3/4));
    }
}

#modal_profile .information dl dt:nth-child(2n-1) {
    margin-top: calc(var(--segment) * (3/4));
    margin-bottom: var(--segment-half);
}

@media (min-width: 960px) {
    #modal_profile .information dl {
        grid-template-columns: auto 1fr;
        grid-row-gap: calc(var(--segment) * (3/4));
    }

    #modal_profile .information dl dt {
        margin: 0 !important;
    }
}

#modal_profile .information dl dt:first-of-type,
#modal_profile .information dl dd:first-of-type {
    margin-top: var(--segment-half);
    margin-bottom: var(--segment-half);
}

#modal_profile .information dl a {
    height: 12px;
    display: inline-flex;
    align-items: center;
}

#modal_profile .information dl img {
    height: 15px;
    margin-left: 8px;
    box-sizing: content-box;
    /* border: 1px solid var(--modal-icon-outer-outline); */
}

#modal_profile .information dl dt {
    font-family: 'Chakra Petch', monospace;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 12.8571px;
    line-height: 9px;
    padding-top: 1.75px;
}

#modal_profile .information dl dt::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

#modal_profile .information dl dt::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

#modal_profile .information dd#modal_profile_timezone {
    display: inline-flex;
    align-items: center;
    column-gap: 16px;
}

#modal_profile .information dl dd #live-timezone-time {
    font-family: 'Chakra Petch', monospace;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12.8571px;
    line-height: 9px;
}

#modal_profile .information dl dd #live-timezone-time::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

#modal_profile .information dl dd #live-timezone-time::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

#modal_profile .information dl dd>span,
#modal_profile .information dl dd#modal_profile_text {
    display: inline-flex;
    flex-direction: column;
    row-gap: 24px;
}

#modal_profile .information dl dd>span,
#modal_profile .information dl dd>p {
    font-size: 17.1429px;
    line-height: 26px;
    display: inline;
}

#modal_profile .information dl dd>span::before,
#modal_profile .information dl dd>p::before {
    content: "";
    margin-bottom: -0.4333em;
    display: table;
}

#modal_profile .information dl dd>span::after,
#modal_profile .information dl dd>p::after {
    content: "";
    margin-top: -0.3833em;
    display: table;
}

#modal_profile .information dl dd#modal_profile_tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: unset;
    margin: 0;
    padding: 0;
    column-gap: 8px;
    row-gap: 10px;
}

#modal_profile .information dl dd#modal_profile_tags ul li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border-radius: 9999px;
    background-color: var(--modal-tag-bg);
    padding: 9.75px 12px 8px;
    /* margin-right: 8px;
    margin-bottom: 10px; */
}

#modal_profile .information dl dd#modal_profile_tags ul li span {
    font-family: 'Chakra Petch', monospace;
    font-size: 15.7143px;
    line-height: 26px;
    font-weight: 400;
}

#modal_profile .information dl dd#modal_profile_tags ul li span::before {
    content: "";
    margin-bottom: -0.5023em;
    display: table;
}

#modal_profile .information dl dd#modal_profile_tags ul li span::after {
    content: "";
    margin-top: -0.4523em;
    display: table;
}

#modal_profile .information dl dd#modal_profile_tags ul li svg:not(:first-child) {
    margin-left: 6px;
}


/* Logo animation */

#logo {
    padding: 20px;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: -20px;
    align-self: flex-start;
}

@media (min-width: 720px) {
    #logo {
        margin-top: 0;
    }
}

#logo span {
    animation-name: logo-animation;
    animation-duration: 0.5s;
    animation-timing-function: steps(30);
    animation-fill-mode: forwards;
    animation-play-state: paused;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    display: block;
}

#logo:hover span {
    animation-play-state: running;
}

@keyframes logo-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1200px 0;
    }
}


/* Side background shapes */

@media (min-width: 960px) {
    #triangle-left,
    #triangle-right,
    #triangle-right-alt {
        visibility: visible;
    }
}

#triangle-left::before {
    content: '';
    position: absolute;
    left: 50vh;
    top: 0;
    height: calc(70.710678118655vh + 16vh);
    width: 8vh;
    transform: rotate(45deg) translateY(-8vh);
    transform-origin: top left;
    background-image: linear-gradient(to top, var(--triangle-stripe));
}

#triangle-left::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-position: left;
    width: 70.710678118655vh;
    height: 70.710678118655vh;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-image: linear-gradient(to top, var(--triangle));
}

#triangle-right::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 70.710678118655vh;
    width: 8vh;
    transform: rotate(45deg);
    transform-origin: top right;
    background-image: linear-gradient(to top, var(--triangle-stripe));
}

#triangle-right::after {
    content: '';
    position: absolute;
    top: 14.6446609406725vh;
    right: 0;
    height: 70.710678118655vh;
    width: 70.710678118655vh;
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    background-image: linear-gradient(to top, var(--triangle));
}

#triangle-right-alt::after {
    content: '';
    position: absolute;
    top: 14.6446609406725vh;
    right: 0;
    height: 70.710678118655vh;
    width: 70.710678118655vh;
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    background-image: linear-gradient(to top, var(--triangle-alt));
    opacity: 0;
}


/* Tooltip */

.tooltip_wrapper {
    position: relative;
}

.tooltip_wrapper .tooltip {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 12px;
    border-radius: 3px;
    background: var(--context-bg);
    color: var(--text-2);
    text-align: center;
    box-shadow: inset 0 0 0 1px var(--context-border-inner);
    border: solid 1px var(--context-border-outer);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    pointer-events: none;
    user-select: none;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 0.375px;
    font-size: 15.7143px;
    line-height: 11px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.075s;
    transition-timing-function: var(--ease-in-quad);
}

.tooltip_wrapper:hover .tooltip {
    opacity: 1;
    transition-duration: 0.15s;
    transition-timing-function: var(--ease-out-quad);
    transition-delay: 0.15s;
}

.tooltip.tooltip-top {
    bottom: 100%;
    margin-bottom: 10px;
}

.tooltip.tooltip-bottom {
    top: 100%;
    margin-top: 10px;
}

.tooltip.tooltip-top-left {
    left: 0;
    transform: translateX(0);
    bottom: 100%;
    margin-bottom: 10px;
}

.tooltip.tooltip-bottom-left {
    left: 0;
    transform: translateX(0);
    top: 100%;
    margin-top: 10px;
}

.tooltip::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.tooltip::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}


/* Footer */

#footer>div {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    width: 100%;
    max-width: var(--breakpoint-xl);
    /* padding: 0 var(--segment-half) var(--segment-half) var(--segment-half); */
    margin: auto;
}

#footer>div div.section {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

[id^="square"] {
    width: 12px;
    height: 12px;
}

#square-1 {
    background-color: var(--footer-square-1);
}

#square-1:hover {
    background-color: var(--footer-square-1-hover);
}

#square-2 {
    background-color: var(--footer-square-2);
}

#square-3 {
    background-color: var(--footer-square-3);
}

#square-4 {
    background-color: var(--footer-square-4);
}

#rectangle {
    width: 100%;
    height: 12px;
    background: repeating-linear-gradient(135deg, transparent, transparent 6px, var(--footer-rectangle) 6px, var(--footer-rectangle) 12px), linear-gradient(to bottom, transparent, transparent);
}


/* Media queries */

@media (min-width: 1680px) {
    /* rules here apply to devices from 1680px and higher */

    .intro_wrapper {
        max-width: var(--breakpoint-2xl);
        /*padding: 48px 80px 48px 48px;*/
        padding: 48px;
    }

    #footer>div {
        max-width: var(--breakpoint-2xl);
        padding: 56px 80px;
    }
}

@media (min-width: 2560px) {
    /* rules here apply to devices from 2560px and higher */

    .intro_wrapper {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    #footer>div {
        padding: 80px 80px;
    }
}

/* Desktop-first media queries */

/* @media (max-height: 880px) {
    rules here apply to devices with height from 720px and lower

    #footer {
        display: none;
    }
} */

@media (max-width: 1680px) {
    /* rules here apply to devices from 1680px (2xl) and lower */

    .modal .information dl div.profile p {
        text-align: justify;
    }
}

@media (max-width: 1440px) {
    /* rules here apply to devices from 1440px (xl) and lower */

    .intro_wrapper {
        max-width: var(--breakpoint-xl);
    }

    /* #footer>div {
        max-width: var(--breakpoint-xl);
    } */
}

@media (max-width: 1200px) {
    /* rules here apply to devices from 1200px (lg) and lower */

    /* .intro_wrapper,
    #footer>div {
        max-width: var(--breakpoint-lg);
    } */

    #intro_right-column {
        padding-left: 0;
    }

    /* #footer>div {
        padding: 40px 32px;
    } */

}

@media (max-width: 960px) {
    /* rules here apply to devices from 960px (md) and lower */

    /* #page {

    }

    #mode:checked~#page {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%2389C2CE'/%3E%3C/svg%3E%0A");
    } */

    /* #logo {
        margin: 4px 0 84px -20px;
    } */

    /*     #intro_right-column>h3 {
        padding-top: 48px;
    }

    #intro_right-column {
        padding-left: 24px;
    } */

    /* #intro .availability {
        padding-top: 46px;
    } */

    /* #menu_email_button {
        padding-top: 106px;
    } */

    .modal .modal_content .information dl div {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 28px;
        margin-bottom: 14px;
        grid-template-columns: 1fr;
        row-gap: 14px;
    }

    .modal .modal_content .information dl div:first-child {
        padding-top: 28px;
    }

    .modal .modal_content .information dl div dt {
        padding-bottom: 2.75px;
    }

    /* #footer>div {
        padding: 32px 24px;
    } */

    .tooltip:hover .tooltip {
        visibility: hidden !important;
    }
}

@media (max-width: 720px) {
    /* rules here apply to devices from 720px (sm) and lower */

    /* #menu_links {
        padding-top: 28px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #menu_links>a,
    #menu_links>div {
        margin-top: 20px;
    }

    #menu_email_button {
        padding-top: 58px;
    } */
}

@media (max-width: 480px) {
    /* rules here apply to devices from 480px (xs) and lower */

    .intro_wrapper {
        max-width: var(--breakpoint-xs);
    }
}
