/*
 * Style
 * Font sizing: https://seek-oss.github.io/capsize/
 * Base64 embed fonts: https://amio.github.io/embedded-google-fonts/
 * Icons: https://fonts.google.com/icons?icon.style=Sharp
 * Brand icons: https://simpleicons.org/
 * Country flags: https://hatscripts.github.io/circle-flags/gallery
 * Colour palette: https://www.hsluv.org/
 * SVG animation: https://shapeshifter.design/
 * Easing functions: https://gist.github.com/argyleink/36e1c0153d2a783d513bd29c9f25aaf2
 * Easing gradients: https://www.figma.com/community/plugin/907899097995668330/easing-gradients
 * SVG spritesheet: https://shapeshifter.design
 * Alic Image Compressor: JPG/PNG - 'full' (no lossy) - 'min' (95 lossy, 1600px width max)
 */

:root {
    /* Colours - Cyan palette (210 hue) */
    /* 210, 100, 5-95 */
    --cyan-full-5: #001417;
    --cyan-full-10: #001F24;
    --cyan-full-15: #002a30;
    --cyan-full-20: #00363d;
    --cyan-full-25: #00424b;
    --cyan-full-35: #005b66;
    --cyan-full-45: #007684;
    --cyan-full-55: #0091a2;
    --cyan-full-65: #00aec2;
    --cyan-full-75: #00CBE2;
    --cyan-full-85: #4ce7ff;
    --cyan-full-90: #a0efff;
    --cyan-full-95: #D4F7FF;
    /* 210, 75, 25-95 */
    --cyan-three-quarters-25: #1c4047;
    --cyan-three-quarters-40: #30666f;
    --cyan-three-quarters-45: #37737e;
    --cyan-three-quarters-50: #3e808c;
    --cyan-three-quarters-55: #468e9b;
    --cyan-three-quarters-65: #55aab9;
    --cyan-three-quarters-75: #64c6d8;
    --cyan-three-quarters-80: #6cd5e8;
    --cyan-three-quarters-85: #83e2f5;
    --cyan-three-quarters-95: #dcf5fb;
    /* 210, 50, 10-95 */
    --cyan-half-10: #121d20;
    --cyan-half-15: #19282b;
    --cyan-half-25: #2A3F43;
    --cyan-half-45: #4e7077;
    --cyan-half-55: #618a93;
    --cyan-half-65: #75a6b0;
    --cyan-half-70: #7fb4bf;
    --cyan-half-75: #89c2ce;
    --cyan-half-85: #a5deea;
    --cyan-half-90: #c6e9f1;
    --cyan-half-95: #e3f4f8;
    /* 210, 25, 5-95 */
    --cyan-quarter-5: #0e1213;
    --cyan-quarter-10: #171c1e;
    --cyan-quarter-15: #202729;
    --cyan-quarter-20: #2a3234;
    --cyan-quarter-25: #333d3f;
    --cyan-quarter-30: #3e494b;
    --cyan-quarter-35: #485558;
    --cyan-quarter-40: #536164;
    --cyan-quarter-45: #5e6d71;
    --cyan-quarter-50: #697a7e;
    --cyan-quarter-55: #74878c;
    --cyan-quarter-60: #809499;
    --cyan-quarter-65: #8BA2A7;
    --cyan-quarter-70: #97afb5;
    --cyan-quarter-75: #a3bdc3;
    --cyan-quarter-80: #b0cbd2;
    --cyan-quarter-85: #BFD9DF;
    --cyan-quarter-90: #d5e5ea;
    --cyan-quarter-95: #eaf2f4;

    /* Colours - Blue palette (260 hue) */
    /* 260, 100, 5-95 */
    --blue-full-5: #000e33;
    --blue-full-10: #00184a;
    --blue-full-15: #00215f;
    --blue-full-25: #00348d;
    --blue-full-35: #0049be;
    --blue-full-45: #005FF1;
    --blue-full-55: #4e7bff;
    --blue-full-65: #7e98ff;
    --blue-full-95: #EEF0FF;

    /* Colours - Accent colors */
    --yellow: #EED500;
    /* 75, 100, 85 */
    --green-forest: #7dac3b;
    /* 110, 85, 65 */
    --green-lime: #49f400;
    /* 125, 100, 85 */
    --green-lime-opacity: rgba(73, 244, 0, 0.25);
    --green-50: #008a3c;
    /* 135, 100, 50 */
    --green-35: #006028;
    /* 135, 100, 35 */
    --green-15: #002d0f;
    /* 135, 100, 15 */
    --navy: #6b0076;
    /* 300, 100, 25 */

    /* Opacity tokens */
    --light-1: rgba(255, 255, 255, 0.1);
    --light-2: rgba(255, 255, 255, 0.15);
    --light-3: rgba(255, 255, 255, 0.25);
    --light-4: rgba(255, 255, 255, 0.35);
    --light-5: rgba(255, 255, 255, 0.5);
    --light-6: rgba(255, 255, 255, 0.75);
    --dark-1: rgba(0, 0, 0, 0.1);
    --dark-2: rgba(0, 0, 0, 0.15);
    --dark-3: rgba(0, 0, 0, 0.25);

    /* Breakpoints */
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 45rem;
    --breakpoint-md: 60rem;
    --breakpoint-lg: 75rem;
    --breakpoint-xl: 90rem;
    --breakpoint-2xl: 105rem;
    --breakpoint-3xl: 160rem;
}

main {
    /* Spacing tokens */
    --segment: 4rem;
    --segment-double: calc(var(--segment) * 2);
    --segment-half: calc(var(--segment) / 2);
    --segment-third: calc(var(--segment) / 3);
    --segment-quarter: calc(var(--segment) / 4);
    --segment-eighth: calc(var(--segment) / 8);
    /* Layout */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.bg-pattern {
    position: absolute;
    inset: 0;
}

main>figure {
    position: relative;
    padding-top: var(--segment-half);
    width: 100%;
    /* max-width: 67.5rem; TODO set responsive max-width for bigger screens */
}


/* Debug grid */

#debug-grid {
    visibility: hidden;
    position: fixed;
    inset: 0;
    z-index: 200;
    pointer-events: none;
}


/* Dark mode (default) */

body, html {
    background-color: var(--cyan-full-5);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    --background: var(--cyan-full-5);
    --background-pattern: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='23' y='23' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");

    /* Gradient definitions (16-stop easing curve) */
    /* 260, 100, 25; ease-in-out-quad */
    --triangle: rgba(0, 52, 141, 0) 0%, rgba(0, 52, 141, 0.011) 8.6%, rgba(0, 52, 141, 0.032) 16.29%, rgba(0, 52, 141, 0.063) 23.22%, rgba(0, 52, 141, 0.103) 29.53%, rgba(0, 52, 141, 0.151) 35.37%, rgba(0, 52, 141, 0.208) 40.89%, rgba(0, 52, 141, 0.272) 46.23%, rgba(0, 52, 141, 0.343) 51.53%, rgba(0, 52, 141, 0.421) 56.95%, rgba(0, 52, 141, 0.505) 62.63%, rgba(0, 52, 141, 0.595) 68.71%, rgba(0, 52, 141, 0.690) 75.34%, rgba(0, 52, 141, 0.789) 82.67%, rgba(0, 52, 141, 0.893) 90.84%, #00348D 100%;
    /* 210, 100, 10; ease-in-out-quad */
    --triangle-stripe: rgba(0, 31, 36, 0) 0%, rgba(0, 31, 36, 0.011) 8.6%, rgba(0, 31, 36, 0.032) 16.29%, rgba(0, 31, 36, 0.063) 23.22%, rgba(0, 31, 36, 0.103) 29.53%, rgba(0, 31, 36, 0.151) 35.37%, rgba(0, 31, 36, 0.208) 40.89%, rgba(0, 31, 36, 0.272) 46.23%, rgba(0, 31, 36, 0.343) 51.53%, rgba(0, 31, 36, 0.421) 56.95%, rgba(0, 31, 36, 0.505) 62.63%, rgba(0, 31, 36, 0.595) 68.71%, rgba(0, 31, 36, 0.690) 75.34%, rgba(0, 31, 36, 0.789) 82.67%, rgba(0, 31, 36, 0.893) 90.84%, #001F24 100%;
    /* 75, 100, 50; ease-in-out-quad */
    --triangle-alt: rgba(134, 120, 0, 0) 0%, rgba(134, 120, 0, 0.011) 8.6%, rgba(134, 120, 0, 0.032) 16.29%, rgba(134, 120, 0, 0.063) 23.22%, rgba(134, 120, 0, 0.103) 29.53%, rgba(134, 120, 0, 0.151) 35.37%, rgba(134, 120, 0, 0.208) 40.89%, rgba(134, 120, 0, 0.272) 46.23%, rgba(134, 120, 0, 0.343) 51.53%, rgba(134, 120, 0, 0.421) 56.95%, rgba(134, 120, 0, 0.505) 62.63%, rgba(134, 120, 0, 0.595) 68.71%, rgba(134, 120, 0, 0.690) 75.34%, rgba(134, 120, 0, 0.789) 82.67%, rgba(134, 120, 0, 0.893) 90.84%, #867800 100%;

    /* Text & highlight colors */
    --text-1: var(--cyan-full-95);
    --text-2: var(--cyan-quarter-85);
    --text-3: var(--cyan-quarter-65);
    --highlight-primary: var(--blue-full-45);
    --highlight-secondary: var(--cyan-full-45);

    /* Icon colors */
    --icon: var(--cyan-quarter-80);
    --icon-hover: var(--cyan-quarter-85);
    --icon-bg: var(--cyan-quarter-45);

    /* Context menu colors */
    --context-border-light: rgba(255, 255, 255, 0.1);
    --context-border-light-2: rgba(255, 255, 255, 0.15);
    --context-border-dark: rgba(0, 0, 0, 0.15);
    --context-border-dark-2: rgba(0, 0, 0, 0.2);
    /* 210, 25, 25 */
    --context-bg: rgba(51, 61, 63, 0.5);
    /* 210, 25, 35 */
    --context-bg-2: rgba(62, 73, 75, 0.75);

    /* Modal colors */
    --modal-border-inner: var(--light-2);
    --modal-border-outer: var(--dark-1);
    /* 210, 100, 25 */
    --modal-bg-blur: rgba(0, 66, 75, 0.35), rgba(0, 66, 75, 0.65);
    /* 210, 100, 5 */
    --modal-underlay-bg: rgb(0, 20, 23, 0.25);
    --modal-icon: var(--cyan-half-85);
    --modal-icon-hover: var(--cyan-half-95);
    --modal-line: var(--cyan-half-75);
    --modal-line-2: var(--cyan-half-65);
    --modal-line-3: var(--cyan-half-55);
    --modal-tag-bg: var(--cyan-three-quarters-45);
    --modal-tag-bg-hover: var(--cyan-three-quarters-55);

    /* Footer colors */
    --footer-square-1: var(--highlight-primary);
    --footer-square-1-hover: var(--yellow);
    --footer-square-2: var(--cyan-full-85);
    --footer-square-3: var(--cyan-full-65);
    --footer-square-4: var(--cyan-full-45);
    --footer-rectangle: var(--cyan-full-65);
}

*, *::before, *::after {
    corner-shape: superellipse(1.15);
}

/* Accessibility */

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:focus, .sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}


/* Reduced motion */

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation: none !important;
        transition: none !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
        filter: none !important;
    }

    body {
        --context-bg: var(--cyan-quarter-25);
        --context-bg-2: var(--cyan-quarter-35);
        --modal-bg: var(--cyan-half-25);
    }

    .modal__content {
        transform: none !important;
    }
}


/* Root font-size */

:root {
    font-size: 0.875rem;
}

@media (min-width: 75rem) {
    :root {
        font-size: 1rem;
    }
}

@media (min-width: 160rem) {
    :root {
        font-size: 1.125rem;
    }
}

/* Page */

body, html {
    overscroll-behavior: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body, main {
    min-height: 100dvh;
}

.bg-pattern {
    background-repeat: repeat;
    background-position: 0 0;
    background-image: var(--background-pattern);
}

@media (min-width: 45rem) {
    body {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='56' height='56' viewBox='0 0 56 56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='27' y='27' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
    }
}

@media (min-width: 75rem) {
    body {
        --background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='31' y='31' width='2' height='2' fill='%232A3F43'/%3E%3C/svg%3E%0A");
    }
}


/* Intro */

.intro {
    position: relative;
    z-index: 1;
    padding-left: var(--segment-half);
    padding-bottom: var(--segment);
    display: grid;
    grid-template-columns: auto;
    row-gap: calc(4.75rem + 0.1875rem);
    max-width: var(--breakpoint-xl);
    margin: auto;
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .intro {
        padding-top: calc((var(--segment) * 1.5) - var(--segment-quarter) - max(1px, 0.0625rem));
        padding-bottom: var(--segment-half);
        grid-template-columns: calc(var(--segment) * 5) min-content;
        grid-column-gap: calc(var(--segment) * 2);
        row-gap: 0;
    }
}

@media (min-width: 60rem) {
    .intro {
        padding-top: calc((var(--segment) * 1.5) - var(--segment-quarter) - max(1px, 0.0625rem));
        grid-template-columns: calc(var(--segment) * 7) min-content;
    }
}

@media (min-width: 67.5rem) {
    .intro {
        grid-template-columns: calc(var(--segment) * 7) min-content;
    }
}

/* Mobile-first: Taller viewports get extra padding */
@media (min-width: 67.5rem) and (min-height: 50rem) {
    .intro {
        padding-top: calc((var(--segment) * 2.5) - var(--segment-quarter) - max(1px, 0.0625rem));
    }
}



/* Intro - Left Column */

.intro__left {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    row-gap: calc(var(--segment) * 1.6);
    justify-content: space-between;
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .intro__left {
        row-gap: 0;
        flex-direction: column;
    }
}

.intro__name {
    display: inline-flex;
    user-select: none;
    color: var(--text-1);
    background: none;
    padding-top: var(--segment-third);
    margin-top: calc(-1 * var(--segment-third));
    padding-bottom: calc(var(--segment) / 5);
    margin-bottom: calc(-1 * (var(--segment) / 5));
}

.intro__name-frame {
    display: inline-flex;
    flex-wrap: wrap;
    user-select: none;
    padding-top: 0.0624375rem;
}

.intro__name-frame>p {
    display: inline-block;
    font-weight: var(--text-xl-font-weight);
    font-size: var(--text-xl-font-size);
    line-height: var(--text-xl-line-height);
}

.intro__name-frame>p::before {
    content: "";
    margin-bottom: var(--text-xl_before-margin-bottom);
    display: table;
}

.intro__name-frame>p::after {
    content: "";
    margin-top: var(--text-xl_after-margin-top);
    display: table;
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .intro__name-frame>p>span[style*="--i:7"] {
        flex-basis: 100%;
        height: 0;
    }

    .intro__name-frame>p>span[style*="--i:8"] {
        padding-top: var(--segment-quarter);
    }

    .intro__name-frame>p>span[style*="--i:9"] {
        padding-top: var(--segment-quarter);
        transform: translateX(-0.35rem);
    }

    .intro__name-frame>p>span[style*="--i:10"] {
        padding-top: var(--segment-quarter);
        transform: translateX(-0.245rem);
    }

    .intro__name-frame>p>span[style*="--i:11"] {
        padding-top: var(--segment-quarter);
        transform: translateX(-0.32rem);
    }
}

@media (min-width: 67.5rem) {
    .intro__name-frame>p>span[style*="--i:7"] {
        flex-basis: unset;
        height: unset;
    }

    .intro__name-frame>p>span[style*="--i:8"] {
        padding-top: unset;
    }

    .intro__name-frame>p>span[style*="--i:9"] {
        padding-top: unset;
        transform: unset;
    }

    .intro__name-frame>p>span[style*="--i:10"] {
        padding-top: unset;
        transform: unset;
    }

    .intro__name-frame>p>span[style*="--i:11"] {
        padding-top: unset;
        transform: unset;
    }
}


/* Intro - Logo */

.intro__logo {
    user-select: none;
}

.intro__logo-frame {
    position: relative;
}


/* Intro - Right Column */

.intro__right {
    display: flex;
    flex-direction: column;
}

.intro__title {
    display: inline-flex;
    user-select: none;
    color: var(--text-1);
}

.intro__title--animating {
    animation: fade-in-title both;
}

.intro__primary-title span {
    display: inline-block;
    padding-top: calc(var(--segment-quarter) + 0.0624375rem);
    color: var(--text-1);
    font-weight: var(--text-lg-font-weight);
    font-size: var(--text-lg-font-size);
    line-height: var(--text-lg-line-height);
}

.intro__primary-title span::before {
    content: "";
    margin-bottom: var(--text-lg_before-margin-bottom);
    display: table;
}

.intro__primary-title span::after {
    content: "";
    margin-top: var(--text-lg_after-margin-top);
    display: table;
}

.intro__secondary-title {
    margin-top: calc(var(--segment-half) - max(1px, 0.0625rem));
}

.intro__secondary-title span {
    display: inline-block;
    font-family: "Newsreader";
    font-weight: 300;
    font-style: italic;
    font-size: 2.985075rem;
    line-height: 4rem;
    padding: 0.0624375rem 0.625rem 0 0.625rem;
    margin: 0 -0.625rem;
    /* font-variation-settings: "opsz" 24; */
}

.intro__secondary-title span::before {
    content: "";
    margin-bottom: -0.235em;
    display: table;
}

.intro__secondary-title span::after {
    content: "";
    margin-top: -0.435em;
    display: table;
}


/* Intro - Right Column - Availability */

.availability {
    --availability-border-radius: 0.75rem;
    padding-top: calc(var(--segment) + max(1px, 0.0625rem));
}

.availability__button {
    position: relative;
    display: flex;
    overflow: clip;
    padding: 0.6875rem 0.9375rem;
    border-radius: var(--availability-border-radius);
}

.availability__content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.availability__background {
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: var(--availability-border-radius);
    margin: auto;
    background-color: var(--highlight-primary);
    background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.035), rgba(255, 255, 255, 0.035) 0.5rem, transparent 0.5rem, transparent 1rem);
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .availability {
        padding-top: var(--segment);
    }
}

.availability__dot {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 9999px;
    background-color: var(--green-lime-opacity);
}

.availability__dot::before {
    content: "";
    position: absolute;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 999rem;
    background-color: var(--green-lime);
}

.availability__dot::after {
    content: "";
    position: absolute;
    width: 0.4375rem;
    height: 0.4375rem;
    border-radius: 999rem;
    background-color: transparent;
}

@supports (width: round(down, 1rem, 1px)) {
    .availability__dot::before {
        width: round(down, 0.4375rem, 1px);
        height: round(down, 0.4375rem, 1px);
    }

    .availability__dot::after {
        width: round(down, 0.4375rem, 1px);
        height: round(down, 0.4375rem, 1px);
    }
}

.availability__text {
    font-family: 'Chakra Petch', monospace;
    font-weight: 600;
    color: var(--blue-full-95);
    letter-spacing: 0.375rem;
    font-size: 0.89285625rem;
    line-height: 0.625rem;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;
}

.availability__text::before {
    content: "";
    margin-bottom: 0.008em;
    display: table;
}

.availability__text::after {
    content: "";
    margin-top: -0.008em;
    display: table;
}


/* Modal - Shared Styles */

/* Modal Container */
.modal {
    position: fixed;
    pointer-events: none;
    z-index: 2;
    inset: 0;
    overflow: hidden;
    padding: calc(var(--segment) / 5);
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .modal {
        padding: var(--segment-quarter);
    }
}

@media (min-width: 60rem) {
    .modal {
        padding: var(--segment-half) var(--segment-third) var(--segment-third) var(--segment-third);
    }
}

@media (min-width: 75rem) {
    .modal {
        padding: var(--segment) var(--segment-half) var(--segment-half) var(--segment-half);
    }
}

/* Modal Content Wrapper */
.modal__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--segment-quarter);
    position: relative;
    height: auto;
    min-height: 100%;
    padding-top: calc(var(--segment) / 5);
    outline: solid max(1px, 0.0625rem) var(--modal-border-outer);
    border: solid max(1px, 0.0625rem) var(--modal-border-inner);
    border-radius: var(--segment-eighth) calc((var(--modal-button-border-radius) + var(--modal-button-inset)) + min(-1px, -0.0625rem)) var(--segment-eighth) var(--segment-eighth);
    overflow: clip;
}

.modal__content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom right in oklch, var(--modal-bg-blur)), url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='13.25' y='13.25' width='1.5' height='1.5' fill='%23FFFF' fill-opacity='0.075'/%3E%3C/svg%3E%0A");
    background-repeat: repeat;
    background-origin: content-box;
    background-position: 100% 0%;
    backdrop-filter: saturate(1.25) blur(3rem);
    -webkit-backdrop-filter: saturate(1.25) blur(3rem);
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .modal__content {
        padding-top: var(--segment-quarter);
    }

    .modal__content > * {
        transform: translateY(calc(var(--segment-quarter) * -1));
    }
}

@media (min-width: 60rem) {
    .modal__content {
        padding-top: var(--segment-half);
    }

    .modal__content > * {
        transform: translateY(calc(var(--segment-half) * -1));
    }
}

@media (min-width: 75rem) {
    .modal__content {
        padding-top: var(--segment);
    }

    .modal__content > * {
        transform: translateY(calc(var(--segment) * -1));
    }
}

/* Modal Body */
.modal__body {
    margin-right: calc(var(--modal-button-size) + var(--modal-button-inset) + (var(--segment) / 5));
    margin-bottom: var(--segment-half);
}

.modal__body a svg {
    fill: currentColor;
    align-self: flex-start;
}

/* Modal Control Buttons */
body {
    --modal-button-size: 2.5rem;
    --modal-button-border-radius: 0.875rem;
    --modal-button-inset: 0.875rem;
}

.modal__controls {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    position: sticky;
    z-index: 2;
    align-self: end;
    top: var(--modal-button-inset);
    margin-top: var(--modal-button-inset);
    margin-right: var(--modal-button-inset);
    overflow: visible;
}

.modal__close-button,
.modal__fullscreen-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    top: var(--modal-button-inset);
    width: var(--modal-button-size);
    height: var(--modal-button-size);
    border-radius: var(--modal-button-border-radius);
    background-color: var(--light-2);
}

.modal__close-button svg,
.modal__fullscreen-button svg {
    color: var(--modal-icon);
    fill: currentColor;
}


/* Underlay */

.underlay {
    position: fixed;
    inset: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    cursor: default;
    transition: opacity var(--animate-out-segment) linear;
}

.underlay--menu {
    backdrop-filter: blur(0.375rem);
    -webkit-backdrop-filter: blur(0.375rem);
}

.underlay--modal {
    background-color: var(--modal-underlay-bg);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}


/* Horizontal Drag Scroll */

.x-drag-scroll--mouse-down {
    cursor: grabbing !important;
}

.x-drag-scroll--dragging * {
    pointer-events: none !important;
}

.x-drag-scroll--dragging, .edge-x-scroll--scrolling {
    scroll-behavior: unset !important;
    scroll-snap-type: none !important;
}

.x-drag-scroll--dragging::before, .x-drag-scroll--dragging::after {
    z-index: -1 !important;
}


/* Timeline */

#horizontal-timeline-wrapper {
    z-index: 50;
    position: sticky;
    bottom: calc((var(--segment) / 5) * -1);
}

#horizontal-timeline {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

[data-edge-scroll-id]::before, [data-edge-scroll-id]::after {
    display: none !important;
}

@media (min-width: 45rem) {
    #horizontal-timeline-wrapper {
        bottom: calc(var(--segment-quarter) * -1);
    }

    #horizontal-timeline {
        display: block;
    }

    [data-edge-scroll-id]::before, [data-edge-scroll-id]::after {
        display: block !important;
    }
}

@media (min-width: 60rem) {
    #horizontal-timeline-wrapper {
        bottom: calc(var(--segment-half) * -1);
    }
}

@media (min-width: 75rem) {
    #horizontal-timeline-wrapper {
        bottom: calc(var(--segment) * -1);
    }
}


/* Logo animation */

.intro__logo {
    padding: 1.25rem;
    margin-left: -1.25rem;
    margin-top: -1.25rem;
    margin-bottom: -1.25rem;
    align-self: flex-start;
}

@media (min-width: 45rem) and (min-aspect-ratio: 3/4) {
    .intro__logo {
        margin-top: 0;
    }
}

.intro__logo span {
    background-image: url(../images/logo-animated-dark.svg);
    animation-name: logo-animation;
    animation-duration: calc(var(--animate-in-segment) * 3);
    animation-timing-function: steps(30);
    animation-fill-mode: forwards;
    animation-play-state: paused;
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.intro__logo:hover span,
.intro__logo:focus span {
    animation-play-state: running;
}

@keyframes logo-animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -75rem 0;
    }
}


/* Side Background Shapes */

.bg-triangle {
    visibility: hidden;
    z-index: 0;
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
}

@media (min-width: 67.5rem) {
    .bg-triangle {
        visibility: visible;
        opacity: 0;
    }
}

.bg-triangle--left::before {
    content: "";
    position: absolute;
    left: 50vh;
    top: 0;
    height: calc(70.710678118655vh + 16vh);
    width: 8vh;
    transform: rotate(45deg) translateY(-8vh);
    transform-origin: top left;
    background-image: linear-gradient(to top in oklch, var(--triangle-stripe));
}

.bg-triangle--left::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    background-position: left;
    width: 70.710678118655vh;
    height: 70.710678118655vh;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    background-image: linear-gradient(to top in oklch, var(--triangle));
}

.bg-triangle--right::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: calc(2 * 70.710678118655vh);
    width: 8vh;
    transform: rotate(45deg);
    transform-origin: top right;
    background-image: linear-gradient(to top in oklch, var(--triangle-stripe));
}

.bg-triangle--right::after {
    content: "";
    position: absolute;
    top: calc(2 * 14.6446609406725vh);
    right: 0;
    height: calc(2 * 70.710678118655vh);
    width: calc(2 * 70.710678118655vh);
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    background-image: linear-gradient(to top in oklch, var(--triangle));
    opacity: 1;
}

.bg-triangle--right-alt::after {
    content: "";
    position: absolute;
    top: calc(2 * 14.6446609406725vh);
    right: 0;
    height: calc(2 * 70.710678118655vh);
    width: calc(2 * 70.710678118655vh);
    transform-origin: center;
    transform: translateX(50%) rotate(45deg);
    background-image: linear-gradient(to top in oklch, var(--triangle-alt));
    opacity: 0;
}


/* Tooltip */

.tooltip {
    position: relative;
}

.tooltip .tooltip__text {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5625rem;
    border-radius: 0.375rem;
    background-color: var(--context-bg);
    /* background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 5 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' y='2' width='1' height='1' fill='%23333d3f' fill-opacity='0.5'/%3E%3C/svg%3E%0A"); */
    /* background-position: 0 0; */
    background-image:
        radial-gradient(circle at 0.046875rem 0.046875rem, #333d3f65 0.046875rem, transparent 0.046875rem),
        radial-gradient(circle at 0.046875rem 0.046875rem, #333d3f65 0.046875rem, transparent 0.046875rem);
    background-size: 0.5rem 0.5rem;
    background-position: 0.0625rem 0.046875rem, 0.3125rem 0.296875rem;
    background-repeat: repeat;
    background-origin: content-box;
    color: var(--text-2);
    text-align: center;
    box-shadow: inset 0 0 0 max(1px, 0.0625rem) var(--context-border-dark);
    border: solid max(1px, 0.0625rem) var(--context-border-light);
    /* backdrop-filter: blur(0.75rem);
    -webkit-backdrop-filter: blur(0.75rem); */
    pointer-events: none;
    line-height: 0;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
}

.tooltip__text span {
    display: inline-block;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    letter-spacing: 0.0234375rem;
    font-size: 0.98214375rem;
    line-height: 0.6875rem;
}

.tooltip__text span::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.tooltip__text span::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}

.tooltip__text--top {
    bottom: 100%;
    margin-bottom: 0.625rem;
}

.tooltip__text--bottom {
    top: 100%;
    margin-top: 0.625rem;
}

/* Tooltip - Active */

.tooltip .tooltip__text--active {
    padding: 0.375rem 0.5rem;
}

.tooltip__text kbd {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 0.25rem;
}

.tooltip__text kbd>span {
    position: absolute;
    font-family: 'Chakra Petch', monospace;
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0;
    font-size: 0.89285625rem;
    line-height: 0.625rem;
    padding: 0.1rem 0.05rem 0 0.05rem;
}

.tooltip__text kbd>span::before {
    content: "";
    margin-bottom: -0.025em;
    display: table;
}

.tooltip__text kbd>span::after {
    content: "";
    margin-top: 0.025em;
    display: table;
}


/* Footer */

footer {
    height: calc(0.75rem + var(--segment));
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    user-select: none;
}

footer::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: linear-gradient(to top in oklch, var(--background), rgba(0, 20, 23, 0));
}

footer>div {
    display: flex;
    padding: calc(var(--segment) / 2);
    width: 100%;
    height: 100%;
    column-gap: 1.125rem;
    max-width: var(--breakpoint-xl);
    margin: auto;
}

footer>div>div {
    display: flex;
}

@media (min-width: 105rem) {
    footer>div {
        max-width: var(--breakpoint-2xl);
        padding: 3.5rem 5rem;
    }
}

@media (min-width: 160rem) {
    footer>div {
        padding: 5rem 5rem;
    }
}

[id^="square"] {
    width: 0.75rem;
    height: 0.75rem;
}

#square-1 {
    background-color: var(--footer-square-1);
}

#square-1:hover {
    background-color: var(--footer-square-1-hover);
}

#square-2 {
    background-color: var(--footer-square-2);
}

#square-3 {
    background-color: var(--footer-square-3);
}

#square-4 {
    background-color: var(--footer-square-4);
}

#rectangle {
    flex-grow: 1;
    height: 100%;
    background: repeating-linear-gradient(135deg, transparent, transparent 0.375rem, var(--footer-rectangle) 0.375rem, var(--footer-rectangle) 0.75rem), linear-gradient(to bottom, transparent, transparent);
}


/* Mobile-first: Base styles for smaller screens */
/* .tooltip:hover .tooltip {
    visibility: hidden !important;
}

@media (min-width: 60.0625rem) {
    .tooltip:hover .tooltip {
        visibility: visible !important;
    }
}

.media_fallback-wrapper {
    max-width: var(--breakpoint-xl);
}

@media (min-width: 90.0625rem) {
    .media_fallback-wrapper {
        max-width: none;
    }
} */


/* Images - Dark mode */

@media (prefers-color-scheme: dark) {
    .modal__content img,
    .hover-cards img,
    .modal-profile__photo {
        filter: brightness(0.8);
    }
}
